<% include ../partials/hubFrameTop %>

<link rel="stylesheet" type="text/css" href="/static/css/v4_dashboard.css">

<div class="leftBar">
  <div class="departments">
    
    <% if (user.class == "owner") { -%>
      <div class="department">
        <div class="subject showAll">
          <a href="<%= `/org` %>">Show for all departments</a>
        </div>
      </div>
    <% } -%>
    
    <% departments.forEach(function (department) { %>
      <a href="/org?department=<%= department.department_id %>">
        <div class="department <% if (departmentFilter == Number(department.department_id)) { %>selected<% } %>">
          <div class="subject">
            <%= department.name %>
          </div>
          <div class="date">
            <div class="day">Created on <%= moment.tz(department.updated, organization.tz).format("DD/MM/YY") %></div>
          </div>
        </div>
      </a>
    <% }) %>

    <div class="department">
      <div class="subHeader">
        Observe activity by manager
      </div>
    </div>
    <% users.forEach(function(targetUser) { %>
      <a href="<%= `/org?user=${targetUser.cmid}` %>">
        <div class="department <% if (userFilter == targetUser.cmid) { %>selected<% } %>">
          <div class="subject">
            <%= targetUser.last + ', ' + targetUser.first  %>
          </div>
          <div class="date">
            <div class="day">Updated on <%= moment.tz(targetUser.updated, organization.tz).format("MM/DD/YY") %></div>
          </div>
        </div>
      </a>
    <% }) %>
    

  </div>
</div>


<div class="rightContent">

  <div class="chart">
    <div class="title">Yearly Activity Log</div>
    <div class="graphic" id="overallGraph"></div>
  </div>

  <div class="chart">
    <div class="title">Previous 24 Hours' User Activity</div>
    <div class="loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></div>
    <div class="graphic" id="userActivity"></div>
  </div>



</div>


<link rel="stylesheet" type="text/css" href="/components/c3/c3.min.css">
<script src="/components/moment/min/moment.min.js"></script>
<script src="/components/d3/d3.min.js"></script>
<script src="/components/c3/c3.min.js"></script>
<script type="text/javascript" class="JSdashboard"></script>

<% include ../partials/hubFrameBottom %>
