<% include ../partials/hubFrameTop %>

<link rel="stylesheet" type="text/css" href="/static/css/v4_dashboard.css">

<div class="leftBar">
  <div class="departments">
    
    <% if (user.class == "owner") { -%>
      <a href="/org">
        <div class="department <% if (!departmentFilter) { %>selected<% } %>">
          <div class="subject">
            All departments
          </div>
          <div class="date">
            <div class="day">Created <%= moment.tz(organization.created, organization.tz).format("MM/DD/YY") %></div>
          </div>
        </div>
      </a>
    <% } -%>
    
    <% departments.forEach(function (department) { %>
      <a href="/org?department=<%= department.department_id %>">
        <div class="department <% if (departmentFilter == Number(department.department_id)) { %>selected<% } %>">
          <div class="subject">
            <%= department.name %>
          </div>
          <div class="date">
            <div class="day">Created <%= moment.tz(department.updated, organization.tz).format("MM/DD/YY") %></div>
          </div>
        </div>
      </a>
    <% }) %>

    <div class="subHeader" id="seeUsers">
      <% if (departmentFilter || userFilter) { %>
        Users by department
      <% } else { %>
        Observe activity by user
      <% } %>
    </div>

    <% users.forEach(function(targetUser) { %>
      <div class="department userTab <% if (userFilter == targetUser.cmid) { %>selected<% } %>">
        <div class="subject">
          <a href="<%= `/org?user=${targetUser.cmid}&department=${targetUser.department}` %>">
            <%= targetUser.last + ', ' + targetUser.first  %>
          </a>
        </div>
        <div class="date">
          <div class="day">
            <% if (targetUser.department) { %>
              <%= targetUser.position %>, <%= targetUser.department_name %>
            <% } else { %>
              <a href="/org/users/<%=targetUser.cmid%>/edit">
                <span style="color: red">ASSIGN TO DEPARTMENT</span>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    <% }) %>
    

  </div>
</div>


<div class="rightContent">

  <div class="chart">
    <div class="title">Yearly Activity Log</div>
    <div class="graphic" id="overallGraph"></div>
  </div>

  <div class="threeBlockRow">
    <div class="block">
      <div class="blockChart">
        <div id="gaugechart"></div>
      </div>
      <div class="subtitle">
        Current week use <br>compared to peak week
      </div>
    </div>

    <div class="block">
      <div class="blockChart">
        <div id="todayVsPeakBarChart"></div>
      </div>
      <div class="subtitle">
        Today's messaging activity <br>compared to peak day
      </div>
    </div>

    <div class="block">
      <div class="blockChart">
        <div id="clientSuccessChart"></div>
      </div>
      <div class="subtitle">
        Successful <br>client closures
      </div>
    </div>
  </div>


  <div class="threeBlockRow">

    <div class="block">
      <div class="container">
        <div class="heading">
          Top 5 Users This Week
        </div>
        <div class="body">
          <div class="row">
            <div class="name" id="topUser-1">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="topUser-2">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="topUser-3">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="topUser-4">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="topUser-5">Not enough data</div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="container">
        <div class="heading">
          Bottom 5 Users This Week
        </div>
        <div class="body">
          <div class="row">
            <div class="name" id="bottomUser-1">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="bottomUser-2">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="bottomUser-3">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="bottomUser-4">Not enough data</div>
          </div>
          <div class="row">
            <div class="name" id="bottomUser-5">Not enough data</div>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="blockChart activeStaffPercentage">
        <span id="activeStaffPercentage">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
        </span>
      </div>
      <div class="subtitle">
        Users logged in <br>over the past 24 hours
      </div>
    </div>
  </div>


  <div class="chart">
    <div class="title">Previous 24 Hours' User Activity</div>
    <div class="loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i></div>
    <div class="graphic" id="userActivity"></div>
  </div>



</div>


<link rel="stylesheet" type="text/css" href="/components/c3/c3.min.css">
<script src="/components/moment/min/moment.min.js"></script>
<script src="/components/d3/d3.min.js"></script>
<script src="/components/c3/c3.min.js"></script>
<script type="text/javascript" class="JSdashboard">
  var users = <%- JSON.stringify(users) %>;
  var countsByWeek = <%- JSON.stringify(countsByWeek) %>;
  var countsByDay = <%- JSON.stringify(countsByDay) %>;
  var departmentFilter = Number(<%= departmentFilter %>) || null;
  var userFilter = Number(<%= userFilter %>) || null;
  var surveySynopsis = <%- JSON.stringify(surveySynopsis) %>;
</script>

<% include ../partials/hubFrameBottom %>
