<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

<!-- Moved the exit out of the card -->
<a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>">
  <% include ../../partials/card-exit %>
</a>

<div class="card">

  <div class="card-title">
    Edit Client Attributes
  </div>

  <form method="post">

    <input type="hidden" name="cmid" value="<%= client.cm %>">
    <input type="hidden" name="clid" value="<%= client.clid %>">

    <div class="form-row">
      <div class="form-label"> First </div>
      <input class="form-input" type="text" name="first" value="<%= client.first %>" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Middle </div>
      <input class="form-input" type="text" name="middle" value="<%= client.middle %>" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Last </div>
      <input class="form-input" type="text" name="last" value="<%= client.last %>" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Date of Birth <small>(YYYY-MM-DD)</small> <span class="opt">optional</span> </div>
      <% var defaultbday = moment.tz(client.dob, "America/Denver").format("YYYY-MM-DD"); %>
      <input class="form-input" type="date" name="dob" value="<%= defaultbday %>">
    </div>

    <div class="form-row">
      <div class="form-label"> Sheriff's Number (SO#) <span class="opt">optional</span> </div>
      <input class="form-input" type="text" name="so" value="<%= client.so %>">
    </div>

    <div class="form-row">
      <div class="form-label"> Offender Tracking Number (OTN) <span class="opt">optional</span> </div>
      <input class="form-input" type="text" name="otn" value="<%= client.otn %>">
    </div>

    <input type="submit" class="form-submit" value="Update">

  </form>

</div>
</div>


<% include ../../partials/footers/footer %>
