<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<div class="contents">

  <div class="sort-opts">
    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>">
      <div class="toggle selected">
        Conversations
      </div>
    </a>

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comms">
      <div class="toggle">
        Contact Methods
      </div>
    </a>

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/edit" style="float:right">
      <div class="toggle">
        Edit Client
      </div>
    </a>
  </div>

  <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/convos">
    <div class="newclient"> 
      <i class="fa fa-user-plus"></i> 
      New Conversation 
    </div>
  </a>

  <div class="title">
    Conversations with <%= client.first %>
  </div>

  <table class="cl-list convo-list">

    <tr>
      <th>Conversation</th>
      <th>Communication Method</th>
      <th>Last Contact</th>
    </tr>


    <% if (convos.length > 0) { %>
      <% for (var i = 0; i < convos.length; i++ ) { %>

        <tr class="<%= convos[i].open ? '' : 'archive' %>">

          <td>
            <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/convos/<%= convos[i].convid %>">

              <% if (convos[i].open) { %>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>

              <% } else { %>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-comments fa-stack-1x"></i>
                </span>
              <% } %>

              <% var subj = (convos[i].subject !== null && convos[i].subject.length) < 35 ? convos[i].subject : convos[i].subject.substr(0,35) + "..." %>
              <% if (!subj) { subj = "No conversations." } %>
              <%= subj %>

              <% if (client.msg_ct > 0) { %>
                <span class="badge">
                  <%= client.msg_ct %> unread
                </span>
              <% } %>

            </a>
          </td>
          
          <td>
            
          </td>
          
          <td>
            <% try { %>
              <% var day = moment.tz(convos[i].updated, local_tz).format("MM/DD");%>
              <% var hrs = moment.tz(convos[i].updated, local_tz).format("hh:MM A"); %>
              <%= day + " " + hrs %>
            <% } catch (e) { %>
              Unknown
            <% } %>
          </td>

        </tr>

      <% } %>
    <% } %>

  </table>
</div>


<% include ../../partials/footers/footer %>
