<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

<!-- Moved the exit out of the card -->
<a href="/cms/<%= user.cmid %>/cls/<%= commconn.client %>/comms">
  <% include ../../partials/card-exit %>
</a>

<div class="card">

  <div class="card-title">
    Create a Contact Method
  </div>

  <form method="post">

    <input type="hidden" name="cmid" value="<%= user.cmid %>">
    <input type="hidden" name="clid" value="<%= commconn.client %>">

    <div class="form-row">
      <div class="form-label"> Name (ex: "Aunt's Phone") </div>
      <input class="form-input" type="text" name="description" value="<%= commconn.name %>" maxlength="30" required>
    </div>

    <div class="form-row">
      <div class="form-label"> Communication Type </div>
      <select class="blue-select" name="type" disabled>
        <option value="" disabled> Comm Method</option>
        <option value="email" <% if (commconn.type == "email") { %>selected<% } %>>
          Email
        </option>
        <option value="cell" <% if (commconn.type == "cell") { %>selected<% } %>>
          Cellphone
        </option>
        <option value="landline" <% if (commconn.type == "landline") { %>selected<% } %>>
          Landline
        </option>
      </select>
    </div>

    <div class="form-row">
      <div class="form-label"> Details (ex: phone number, email) </div>
      <input class="form-input" type="text" name="value" value="<%= commconn.value %>" disabled>
    </div>

    <input type="submit" class="form-submit" value="Update">

  </form>

</div>

</div>

<% include ../../partials/footers/footer %>
