<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/cardV2.css">

<div class="contents">

<!-- Moved the exit out of the card -->

<div class="card">

  <div class="card-head">

    <a href="/cms/<%= user.cmid %>/templates">
      <% include ../../partials/card-exitV2 %>
    </a>

    <div class="card-title">
      Client Group Color
    </div>

    <div class="card-subtitle">
      Organize clients with colors. What color groups mean is up to you. Try organising by compliance, risk level, or how long they've been a client.
    </div>

  </div>

  <div class="card-body">
    <form method="post" 
          action="/cms/<%= user.cmid %>/cls/<%= client.clid %>/colortag">

      <input type="hidden" name="org" value="<%= user.org %>">
      <input type="hidden" name="casemanager" value="<%= user.cmid %>">
      <input type="hidden" name="client" value="<%= client.clid %>">

      <div class="color-selector">

        <div class="color-option default">
          <input  type="radio" 
                  id="colorRadio01" 
                  value="#898989" 
                  <% if (client.color_tag == "#898989") { %> checked <% } %>
                  onclick="updateColor('#898989')"
                  name="colorTagValue" />
          <label for="colorRadio01"><span></span></label>
        </div>

        <div class="color-option green">
          <input  type="radio" 
                  id="colorRadio02" 
                  value="#43D45B" 
                  <% if (client.color_tag == "#43D45B") { %> checked <% } %>
                  onclick="updateColor('#43D45B')"
                  name="colorTagValue" />
          <label for="colorRadio02"><span></span></label>
        </div>

        <div class="color-option yellow">
          <input  type="radio" 
                  id="colorRadio03" 
                  value="#C5D11C" 
                  <% if (client.color_tag == "#C5D11C") { %> checked <% } %>
                  onclick="updateColor('#C5D11C')"
                  name="colorTagValue" />
          <label for="colorRadio03"><span></span></label>
        </div>

        <div class="color-option red">
          <input  type="radio" 
                  id="colorRadio04" 
                  value="#D44343" 
                  <% if (client.color_tag == "#D44343") { %> checked <% } %>
                  onclick="updateColor('#D44343')"
                  name="colorTagValue" />
          <label for="colorRadio04"><span></span></label>
        </div>

        <div class="client-name-box" style="background-color: <%= client.color_tag %>">
          <%= client.first %> <%= client.last %>
        </div>

      </div>

      <center>
      <input  type="submit" 
              class="form-submit" 
              value="Save and Continue">
      </center>

    </form>

  </div>

</div>

</div>

<script type="text/javascript">
  function updateColor (color) {
    console.log(color);
    $(".client-name-box").css("background-color", color);
  };
</script>

<% include ../../partials/footers/footer %>
