<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/messages.css">

<% function cleanText (txt) { %>
<%   if (txt) { %>
<%    txt = txt.split(" "); %>
<%    txt = txt.map(function (ea) { return ea[0].toUpperCase() + ea.substr(1, ea.length); }); %>
<%   } else { %>
<%    txt = "Sent"; %>
<%   } %>
<%   return txt; %>
<% } %>

<% var most_recent_comm = null; %>

<div class="contents">
<div class="msgs">

  <div class="msg-head">


    <% if (convo.open) { %>
      <div class="state-btn">
        <% if (convo.accepted) { %>
          <form method="post" action="/cms/<%= user.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/close">
            <input type="submit" class="button" value="Close Conversation">
          </form>

        <% } else { %>
          <div class="acceptreject">
            <form method="post" action="/cms/<%= user.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/accept">
              <input type="submit" class="button green" value="Accept Conversation">
            </form>

            <form method="post" action="/cms/<%= user.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/reject">
              <input type="submit" class="button red" value="Reject Conversation">
            </form>
          </div>
        <% } %>

      </div>
    <% } %>

    <div class="subject">
      <small style="color: #2F8CE8">
        <%= client.first %>
        <%= client.last %>
      </small>
      <br>
      <%= convo.subject %>
    </div>
  </div>

  <div class="msg-stream">

    <% for (var i = 0; i < msgs.length; i++) { %>

      <% if (i == msgs.length - 1) { most_recent_comm = msgs[i].value } %>

      <div class="msg <%= msgs[i].inbound ? '' : 'outbound' %>">
        <div class="content">
          <%= msgs[i].content %>
        </div>

        <div class="sub">
          <b><%= msgs[i].name %></b>
          
          <% try { %>
            <% var day = moment.tz(msgs[i].created, local_tz).format("MM/DD"); %>
            <% var hrs = moment.tz(msgs[i].created, local_tz).format("hh:MM A"); %>
            <%= day + " " + hrs %>
          <% } catch (err) { %>
            Unknown
          <% } %>

          <span class="state">
            <%= cleanText(msgs[i].tw_status) %>
          </span>
        </div>
      </div>

    <% } %>
  </div>

  <div class="msg-resp">
    <% if (convo.open) { %>
      <form method="post">

        <div class="form-row">
          <select name="commid" class="blue-select" required>
            <option value="" selected disabled>Comm Method</option>
            <% for (var i = 0; i < comms.length; i++) { %>

              <!-- Only include options that are not retired -->
              <% if (!comms[i].retired) { %>
              <option value="<%= comms[i].commid %>" <% if (comms[i].value == most_recent_comm) { %> selected <% } %>>
                <%= comms[i].name + ' (' + comms[i].value + ')' %>
              </option>
              <% } %>

            <% } %>
          </select>
        </div>

        <div class="form-row">
          <textarea name="content" id="msgResp" rows="5" maxlength="160" placeholder="Write new message here (max length 160 characters)." required></textarea>
        </div>

        <div class="form-row">
          
          <small>
            <span style="line-height: 35px;">
              <b><span id="msgLen">0</span></b>/160 characters
            </span>
          </small>
          <script type="text/javascript">
            $("#msgResp").keyup(function() {
              try { 
                var t = $(this); v = t.val(); l = v.length;
                $("#msgLen").text(String(l));
              } catch (e) { console.log(e); }
            });
          </script>

          <input type="submit" class="form-submit" value="Submit">
        </div>
      </form>
    </div>

    <% } else { %>
      <div class="closed-msg">
        <p>Can't write new messages. This conversation is closed.</p>
        <div class="form-row">
          <form method="post" action="/cms/<%= user.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/open">
            <input type="submit" class="form-submit" value="Restore Convo">
          </form>
        </div>
      </div>
    <% } %>
  </div>

</div>
</div>

<% include ../../partials/footers/footer %>

