<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/departments">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Select Supervisors
  </div>
  <div class="cardSubtitle">
    Use departments to organize your workforce.
  </div>
</div>

<div class="cardBody">

  <form method = "post"
        id="updateSupervisors"
        action = "/departments/edit/<%=parameters.departmentID%>/supervisors">

    <div class="scrollListBox">
      <% var supervisorIDs = supervisors.map(function (s) { return s.cmid }) %>
      <% members.forEach(function (member) { %>
        <div class="scrollListRow <% if (supervisorIDs.indexOf(member.cmid) > -1) { %>selected<% } %>" supervisorID="<%= member.cmid %>">

          <div class="scrollListContent">
            <div class="clientName">
              <%= member.last + ', ' + member.first %> <%= member.middle %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <div class="formRow">
      <div class="formLabel"> Revert removed supervisors to the following class </div>
      <select class="blueSelect" 
              name="revertClass" 
              required>
        <% ["primary", "support"].forEach(function (className) { %>
            <option value="<%= className %>" <% if (className == "primary") { %>selected<% } %>>
              <%= className.charAt(0).toUpperCase() + className.slice(1) %> User
            </option>
        <% }) %>
      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Save Department">
  </form>
</div>


<script type="text/javascript">
  $(".scrollListRow").click(function () {
    var selected = 0;
    $(".scrollListRow").each(function () {
      if ($(this).hasClass("selected")) selected += 1;
    });
    var currentlySelected = $(this).hasClass("selected");
    if (selected !== 1 || (selected == 1 && !currentlySelected)) {
      $(this).toggleClass("selected");
    }
  });

  $("#updateSupervisors").submit(function () {
    $(".scrollListRow").each(function () {
      if ($(this).hasClass("selected")) {
        var supervisorID = $(this).attr("supervisorID");
        $(".scrollListBox").append("<input type='hidden' name='supervisorIDs' value='" + supervisorID + "'>");
      }
    });
    return true;
  });
</script>

<% include ../../partials/cardFrameBottom %>