<% const baseURL = `/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="<%= `/clients` %>">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Quick Message <%= client.first %>
  </div>
  <div class="cardSubtitle">
    Send a message to <%= client.first %>. The message will appear in <%= client.first %>'s case manager's conversation messages and appear to <%= client.first %> as a message sent by their case manager.
  </div>
</div>

<div class="cardBody">
  
  <div class="formRow">
    <a href="<%= `/clients/address/${client.clid}/selecttemplate` %>">
      <input type="submit" id="useTemplate" class="formSubmit inverse" value="Load a template">
    </a>
  </div>

  <form method="post"
        action="<%= `/clients/address/${client.clid}` %>">
    <div class="formRow <% if (!template.title) { %>subdued<% } %>">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= template.title %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="content" rows="5" maxlength="160" required><%= template.content %></textarea>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Which device to send to </div>
      <select class="blueSelect" 
              name="commID"
              required>
        <option value="" disabled selected> Contact Options </option>
        <option value="null">Smart Select</option>
        <% client.communications.forEach(function (comm) { %>
          <option value="<%= comm.commid %>"><%= comm.name + '(' + comm.value + ')' %></option>
        <% }) %>
      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Send Client Message">
  </form>

</div>


<script type="text/javascript">
  $(".subdued").click(function () {
    $(this).removeClass("subdued");
    $("input[name=subject]").val("");
  });
</script>



<% include ../../partials/cardFrameBottom %>