<% include ../../partials/supervisorFrameTop %>

<% if (limitByUser) { %>
  <div class="limitedByBanner">Limiting clients by case manager <%= limitByUser.first + ' ' + limitByUser.last %>.</div>
<% } %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientsList_supervisor.css">

<div class="header">
  <div class="column">
    color
  </div>
  <div class="column">
    contact
  </div>
  <div class="column">
    client name
  </div>
  <div class="column">
    case manager
  </div>
  <div class="column">
    unread
  </div>
  <div class="column">
    transcript
  </div>
  <div class="column">
    last activity
  </div>
  <div class="column">
    edit
  </div>
  <div class="column">
    transfer
  </div>
  <div class="column">
    remove
  </div>
</div>

<% if (clients.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% clients.forEach( function (client) { %>
  <div class="clientRow" clientHighlightColor="<%= client.color_tag %>">
    <div class="column" value="<%= client.color_name %>">
      <a href="">
        <div class="colorTag" style="background-color: <%= client.color_tag %>"></div>
      </a>
    </div>
    <div class="column">
      <% if (client.active) { %>
        <a href="<%= `/clients/address/${client.clid}` %>">
          <i class="fa highlight fa-send" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
      </div>
    <div class="column">
      <a href="">
        <span class="clientName">
          <%= client.last + ', ' + client.first + ' ' + client.middle %>
        </span>
      </a>
    </div>
    <div class="column">
      <a href="<%= `/dashboard/overview?targetUserID=${client.user_id}` %>">
        <span class="clientName"><%= client.user_last + ', ' + client.user_first %></span>
      </a>
    </div>
    <div class="column">
      <% if (client.unread > 0) { %>
        <span class="bigNumber"><%= client.unread %></span>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <a href="<%= `/clients/${client.clid}/transcript_between/${client.cm}` %>">
        <i class="fa highlight fa-download" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <small>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= moment.tz(client.updated, organization.tz).fromNow() %>
      </small>
    </div>
    <div class="column">
      <a href="<%= `/clients/${client.clid}/edit` %>">
        <i class="fa highlight fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <a href="<%= `/clients/${client.clid}/transfer` %>">
        <i class="fa highlight fa-mail-forward" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <% if (hub.sel === "open") { %>
        <a href="<%= `/clients/${client.clid}/closecase` %>">
          <i class="fa highlight fa-book" aria-hidden="true"></i>
        </a>
      <% } else { %>
        <a href="<%= `/clients/${client.clid}/opencase` %>">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>
  </div>
<% }) %>

<script>
  // Manage hover color change for rows
  // To do: Find better solution than a global variable
  var originalBackgroundColor = null;
  $(".clientRow")
    .hover(
      function () {
        var color = $(this).attr("clientHighlightColor");
        originalBackgroundColor = $(this).css("background-color");
        $(this).css("background-color", color);
      }, function () {
        $(this).css("background-color", originalBackgroundColor);
      }
    );
</script>

<% include ../../partials/hubFrameBottom %>