<% const baseURL = `/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/department/<%department.department_id%>/clients/address/<%= parameters.clientID %>">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Use A Template
  </div>
  <div class="cardSubtitle">
    Use a template to expedite creating new messages.
  </div>
</div>

<div class="cardBody">
  
  <div class="scrollListBox">
    <% for (var i=0; i < templates.length; i++) { %>
      <div class="scrollListRow" templateID="<%= templates[i].template_id %>">
        
        <div class="useCount">
          <%= templates[i].times_used %>
        </div>

        <div class="scrollListContent">
          <div class="titleText">
            <% if (templates[i].title) { %>
              <%= templates[i].title %>
            <% } else { %>
              No title available.
            <% } %>
          </div>
          <div class="bodyText">
            <%= templates[i].content %>
          </div>
          <div class="tags">
            
          </div>
        </div>
      </div>
    <% } %>
  </div>


  <div class="formRow">
    <a id="templateID" href="">
      <input type="submit" class="formSubmit" value="Select template">
    </a>
  </div>

</div>


<script type="text/javascript">
  var baseURL = "<%= `/clients/address/${parameters.clientID}/selecttemplate/` %>";

  $(".scrollListRow").click(function () {
    $(".scrollListRow").removeClass("selected");
    $(this).addClass("selected");
    var templateID = $(this).attr("templateID")
    $("#templateID").attr("href", baseURL + String(templateID))
  });
</script>



<% include ../../partials/cardFrameBottom %>