<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">
    
    <!-- dep, org -->
    <% if (level == "org") { -%>
      <div class="leftTab <%= hub.tab == 'dashboard' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/org`%>">Metrics Dashboard</a></div>
      </div>

      <% if (user.class == "owner") { -%>
        <div class="leftTab <%= hub.tab == 'departments' ? 'open' : 'closed' %>">
          <div class="title"><a href="/org/departments">Departments</a></div>
          <div class="option <%= hub.sel == 'active' ? 'selected' : '' %>"><a href="/org/departments?status=active">Active</a></div>
          <div class="option <%= hub.sel == 'inactive' ? 'selected' : '' %>"><a href="/org/departments?status=inactive">Inactive</a></div>
        </div>
      <% } -%>

      <div class="leftTab <%= hub.tab == 'users' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/org/users`%>">Users</a></div>
        <div class="option <%= hub.sel == 'active' ? 'selected' : '' %>"><a href="<%=`/org/users/?status=active`%>">Active</a></div>
        <div class="option <%= hub.sel == 'inactive' ? 'selected' : '' %>"><a href="<%=`/org/users?status=inactive`%>">Inactive</a></div>
      </div> 
    <% } -%>     

    <% if (level == "org") { -%>
      <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/org/clients`%>">Clients</a></div>
        <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="<%=`/org/clients/?status=open`%>">Open</a></div>
        <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="<%=`/org/clients/?status=closed`%>">Closed</a></div>
      </div>
    <% } else { -%>
      <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/clients`%>">Clients</a></div>
        <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="<%=`/clients/?state=open`%>">Open</a></div>
        <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="<%=`/clients/?state=closed`%>">Closed</a></div>
      </div>
    <% } -%>

    <!-- primary -->
    <% if (level == "user") { -%>
      <div class="leftTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/notifications`%>">Notifications</a></div>
        <div class="option <%= hub.sel == 'pending' ? 'selected' : '' %>"><a href="<%=`/notifications/?status=pending`%>">Pending</a></div>
        <div class="option <%= hub.sel == 'sent' ? 'selected' : '' %>"><a href="<%=`/notifications/?status=sent`%>">Sent</a></div>
      </div>      
      
      <div class="leftTab <%= hub.tab == 'templates' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/templates`%>">Templates</a></div>
      </div>      
      
      <div class="leftTab <%= hub.tab == 'groups' ? 'open' : 'closed' %>">
        <div class="title"><a href="<%=`/groups`%>">Groups</a></div>
        <div class="option <%= hub.sel == 'current' ? 'selected' : '' %>"><a href="<%=`/groups?status=current`%>">Current</a></div>
        <div class="option <%= hub.sel == 'deleted' ? 'selected' : '' %>"><a href="<%=`/groups?status=deleted`%>">Deleted</a></div>
      </div>                  
    <% } -%>

    <% if (level =="org") { -%>
      <div class="rightActions">
        <a href="">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Phone Number</span>
        </a>
      </div>

      <div class="rightActions">
        <a href="/departments/create">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Department</span>
        </a>
      </div>
    <% } -%>

    <!-- dep, org -->
    <% if (level == "org") { -%>
      <div class="rightActions">
        <a href="<%=`/users/create`%>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New User</span>
        </a>
      </div>      
    <% } -%>

    <!-- primary -->
    <% if (level == "primary") { -%>
      <div class="rightActions">
        <a href="<%=`/groups/create`%>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Group</span>
        </a>
      </div>      

      <div class="rightActions">
        <a href="<%=`/templates/create`%>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Template</span>
        </a>
      </div>      
      <div class="rightActions">
        <a href="<%=`/notifications/create`%>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Notification</span>
        </a>
      </div>      
    <% } -%>
    
    <!-- primary, dep -->
    <% if (true) { -%>
      <div class="rightActions">
        <a href="<%=`/clients/create`%>">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <span class="text">New Client</span>
        </a>
      </div>
    <% } -%>
      
  </div>

  <div class="coreContent">

  <% if (typeof viewingAsOther !== "undefined" && viewingAsOther) { %>
    <div class="viewingAsOtherBanner">
      You are viewing 
      <b><%= viewingAsOther.first + ' ' + viewingAsOther.last %>'s</b>
      clients dashboard.
    </div>
    <div class="otherBannerBumber"> </div>
  <% } %>