<% include ../partials/headers/header-base %>
<% include ../partials/headers/header-navbar %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <% for (var i = 0; i < caseManagers.length; i++) { %>
    <div style="color: #2F8CE8">
      <a href="/accounts/orgs/<%= caseManagers[i].org %>/cms/<%= caseManagers[i].cmid %>">
        <b><%= caseManagers[i].last %></b>,
        <%= caseManagers[i].first %>
        <small>
          (<%= caseManagers[i].email %>)
        </small>
      </a>
    </div>
  <% } %>

</div>

<% include ../partials/footers/footer %>
