<% include ../partials/cardFrameTop %>

<!-- color picker -->
<script src="/static/js/jscolor.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/v4_colorSelector.css">

<div class="card-head">
  <!-- exit button -->
  <a href="/v4/users/<%=user.cmid%>/primary/clients/open">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Apply Client Color Tag
  </div>
  <div class="cardSubtitle">
    Use color tags to help organize clients on the main clients view page.
  </div>
</div>

<div class="cardBody">

  <div class="coloredClientFrame">
    <div  class="clientNameBox" 
          style="background-color:<%=client.color_tag%>">
      <%= client.first + ' ' + client.last %>
    </div>
    <div class="clientColorNameSelected">
      Father
    </div>
  </div>

  <% colorTags.forEach(function (tag) { %>
    <div class="colorList">
      <div  class="colorTag" 
            colorTagID="<%= tag.color_tag_id %>"
            style="background-color:<%= tag.color %>"></div>
      <div class="colorName">
        <%= tag.name %>
      </div>
    </div>
  <% }) %>

  <center>
  <input  type="submit" 
          class="formSubmit" 
          value="Update Client Color">
  </center>

</div>


<script type="text/javascript">
  $(".colorList").click(function () {
    var colorTag = $(this).find(".colorTag");
    console.log(colorTag.attr("colorTagID"))
  });
</script>



<% include ../partials/cardFrameBottom %>