<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_templates.css">

<div class="header">
  <div class="column">use count</div>
  <div class="column">subject</div>
  <div class="column">message</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% templates.forEach(function (template) { %>
  <div class="templateRow">
    <div class="column">
      <span class="bigNumber"><%= template.times_used %></span>
    </div>
    <div class="column">
      <%= template.title.substr(0,25) %>
    </div>
    <div class="column">
      <%= template.content.length > 210 ? template.content.substr(0,210) + '...' : template.content %>
    </div>
    <div class="column">
      <i class="fa highlight fa-pencil" aria-hidden="true"></i>
    </div>
    <div class="column">
      <a href="/v4/users/<%=user.cmid%>/primary/templates/remove/<%=template.template_id%>">
        <i class="fa highlight fa-trash" aria-hidden="true"></i>
      </a>
    </div>
  </div>
<% }) %>


<% include ../partials/hubFrameBottom %>