<% include ../../partials/cardFrameTop %>

<!-- use moment.js library -->
<script type="text/javascript" src="/modules/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/modules/moment-timezone/moment-timezone.js"></script>

<div class="cardHead">
  <!-- exit button -->
  <a href="/notifications">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Edit Notification
  </div>
  <div class="cardSubtitle">
    Use notifications to schedule messages to be sent in the future.
  </div>
</div>

<div class="cardBody">

  <form method = "post">
    <div class="formRow">
      <div class="formLabel"> Which client to notify  </div>
      <select class="blueSelect" 
              id="clientID" 
              name="clientID" 
              required>
        <option value="" disabled selected> Client </option>
        <% clients.forEach(function (client) { %>
          <option value="<%= client.clid %>" <% if (client.clid == notification.client) { %>selected<% } %>>
            <%= client.last + ', ' + client.first + ' ' + client.middle %> 
          </option>
        <% }); %>
      </select>
    </div>

    <div class="formRow">
      <div class="formLabel"> Which device to send to </div>
      <select class="blueSelect" 
              id="commConn" 
              name="commID" 
              required>
        <option value="" disabled selected> Contact Options </option>
      </select>
    </div>

    <div class="formRow">
      <div class="formLabel"> Date to send <small>(YYYY-MM-DD)</small></div>
      <div class="formInput">
        <input  type="date" 
                id="sendDate" 
                name="sendDate" 
                value="<%= moment(notification.send).format('YYYY-MM-DD') %>" 
                required>
        </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Time to send <small>(Organization timezone: <%= local_tz %>)</small></div>
      <div class="formInput">
        <select class="blueSelect" id="sendHour" name="sendHour" required>

          <% var chosenHour = moment(notification.send).format('HH') %>
          <% var hours = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"] %>
          <% hours.forEach(function (hour) { %>
            <option value="<%= hour %>" <% if (hour == chosenHour) { %>selected<% } %>> 
              <%= moment("1970-1-1").add(hour, "hours").format("hh:00 A") %>
            </option>
          <% }) %>

        </select>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= notification.subject %>" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="message" rows="5" maxlength="160" required><%= notification.message %></textarea>
      </div>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit Edits">
  </form>
</div>



<script type="text/javascript">
  // Set global variable of all clients information
  window.clients = <%- JSON.stringify(clients) %>;
  window.local_tz = "<%= local_tz %>";

  // Bind clients to update of comm list
  $("#clientID").change(function () {
    var v = $(this).val();
    updateClientsAndComms(v)
  });

  function updateClientsAndComms (v) {
    // Remove all existing children in options
    $("#commConn").empty();

    // Now add all client comms associated with that client
    clients.forEach(function (client) {
      // Only add if client matches
      if (client.clid == v) {
        client.communications.forEach(function (comm) {
          var newOpt = '<option value="' + comm.commid + '">' + 
                        comm.name + " (" + comm.value + ")" + '</option>';
          $("#commConn").append(newOpt);
        });
        var smartSelect = '<option value="null" ' + '">Smart Select</option>';
        $("#commConn").append(smartSelect);
      }
    });
  };

  // Run once since editing the page
  updateClientsAndComms(<%= notification.client %>)
</script>

<% include ../../partials/cardFrameBottom %>