<% include ../../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_users.css">

<div class="header">
  <div class="column">name</div>
  <div class="column">email</div>
  <div class="column">class</div>
  <div class="column">position</div>
  <div class="column">department</div>
  <div class="column">added</div>
  <div class="column">edit</div>
  <div class="column"><%= hub.sel == 'active' ? 'deactivate' : 'activate' %></div>
</div>


<% if (users.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% users.forEach(function (targetUser) { %>
  <div class="notificationRow">
    <div class="column">
      <span class="clientName">
        <%= targetUser.last + ', ' + targetUser.first %> <%= targetUser.middle %> 
      </span>
    </div>
    <div class="column">
      <small><%= targetUser.email %></small>
    </div>
    <div class="column">
      <small><%= targetUser.class.charAt(0).toUpperCase() + targetUser.class.slice(1) %></small>
    </div>
    <div class="column">
      <small><%= targetUser.position %></small>
    </div>
    <div class="column">
      <small><%= targetUser.department_name ? targetUser.department_name : '-' %></small>
    </div>
    <div class="column">
      <span class="time">
        <%= moment.tz(targetUser.created, local_tz).format('MMM. Do, YYYY hh:mmA') %>
      </span>
    </div>
    <div class="column">
      <a href="/users/edit/<%=targetUser.cmid%>">
        <i class="fa highlight fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <% if (user.cmid !== targetUser.cmid) { %>
          <a href="/users/deactivate/<%=targetUser.cmid%>">
            <i class="fa highlight fa-book" aria-hidden="true"></i>
          </a>
        <% } else { %>-<% } %>
      <% } else { %>
        <a href="/users/activate/<%=targetUser.cmid%>">
          <i class="fa highlight fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>
  </div>
<% }) %>


<% include ../../partials/hubFrameBottom %>