<% include ../partials/headers/header-base %>
<% include ../partials/headers/header-navbar %>

<!-- Include Capture Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/captureboard.css">

<div class="contents">

  <div class="title">
    Capture Board
  </div>

  <div class="captureboard">
    <div class="headers">
      <div>
        Unknown Client
      </div>
      <div>
        Response from ClientComm
      </div>
      <div>
        Claim Conversation
      </div>
    </div>

    <% convos.forEach(function (convo) { %>
      <div class="convoBlock">

        <div class="actionBox">

          <a href="/capture/<%= convo.convo %>">
            <div class="claimButton">
              <i class="fa fa-user-plus"></i>
              Claim Conversation
            </div>
          </a>

          <div class="tinyInfo">

            <div class="blurb">
              <div class="header">
                Last contact
              </div>
              <div class="value">
                <% var timeSince = moment(convo.msgs[convo.msgs.length - 1].created); %>
                <% var timeNow = moment(); %>
                <%= moment.duration(timeNow.diff(timeSince)).humanize() %>
              </div>
            </div>

            <div class="blurb">
              <div class="header">
                Messages Sent
              </div>
              <div class="value">
                <%= convo.msgs.length %>
              </div>
            </div>

          </div>

          <div class="tinyInfoMessages">
            <div class="header">
              Messages from
            </div>
            <div class="value">
              <%= convo.msgs[0].value %>
            </div>
          </div>

          <div class="suggestButton">
            <div class="left">
              Suggest
            </div>
            <div class="right">
              alert another of this conversation thread
            </div>
          </div>

        </div>

        <div class="convoStream">
          <% convo.msgs.forEach(function (ea, i) { %>
            <div class="convoRow">
            
              <div class="msgInbound">
                <% if (ea.inbound) { %>
                  <div class="message">
                    <%= ea.content %>
                  </div>
                <% } %>
              </div>

              <div class="msgOutbound">
                <% if (!ea.inbound) { %>
                  <div class="message">
                    <%= ea.content %>
                  </div>
                <% } %>
              </div>

            </div>
          <% }) %>
        </div>

      </div>
    <% }) %>

    <% if (convos.length == 0) { %>
      <center style="color:#888">
        Good news! There are no conversations left in the capture board.
      </center>
    <% } %>

  </div>
</div>

<% include ../partials/footers/footer %>
