
<div class="navbar">
  
  <div class="username">
    <a href="/cms">
      <i class="fa fa-home"></i>
      <%= user.first %> <%= user.middle %> <%= user.last %>
    </a>
  </div>
  
  <div class="nav-right">
  <a href="/logout">
    <small>Logout</small>
    <% include ../../../public/icons/logout.svg %>
  </a>
  </div>

  <% if (typeof client !== "undefined") { %>
  
    <div class="nav-right">
    <a href="/cms/<%= user.cmid %>">
      <small>Clients Directory</small>
      <% include ../../../public/icons/cllist.svg %>
    </a>
    </div>

    <% if (!(typeof msgs == "undefined" && typeof comms == "undefined") && typeof convos == "undefined") { %>
      <div class="nav-right">
      <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>">
        <small><%= client.first %> <%= client.last %></small>
        <% include ../../../public/icons/user.svg %>
      </a>
      </div>
    <%} %>

  <%} %>

  <!--  
    REMOVED AS WE HAVE AUTO UPDATE FEATURE FOR THE TIME BEING
    <div class="nav-right">
    <a href="javascript:window.location.href=window.location.href" id="navbarMessageCheckButton">
      <small>Check for Messages</small>
      <% include ../../../public/icons/msgcheck.svg %>
    </a>
    </div>
  -->

</div>