<% include header-base %>
<% include header-navbar %>

<% function formatAMPM (date) { %>
<%   var hours = date.getHours(); %>
<%   var minutes = date.getMinutes(); %>
<%   var ampm = hours >= 12 ? 'PM' : 'AM'; %>
<%   hours = hours % 12; %>
<%   hours = hours ? hours : 12; %>
<%   minutes = minutes < 10 ? '0'+minutes : minutes; %>
<%   var strTime = hours + ':' + minutes + ' ' + ampm; %>
<%   return strTime; %>
<% } %>

<div class="contents">

	<div class="title">
		Capture Board
	</div>

	<% convos.forEach(function (convo) { %>
		<div class="conversation">
			<table class="capture-list">
			  <tr>
			    <th>Message</th> 
			    <th>Time</th>
			    <th>Contact Info</th>
			    <th>Capture</th>
			  </tr>

				<% convo.msgs.forEach(function (ea, i) { %>
				  <tr>
				    <td>
				    	<%= ea.content %>
				    </td>
				    <td>
							<% var d = new Date(ea.created); %>
							<%= [d.getMonth()+1, d.getDate()].join("/") + ' at ' + formatAMPM(d) %>
				    </td>
				    <td>
				    	<%= ea.value %>
				    </td>
				    <% if (i == 0) { %>
				    	<td class="conversation-claim" rowspan="<%= convo.msgs.length %>">
				    		<a href="/capture/<%= convo.convo %>"><i class="fa fa-plus"></i></a>
							</td>
						<% } %>
				  </tr>
				<% }); %>

			</table>
		</div>
	<% }) %>

</div>

<% include footer %>
