<% include header-base %>
<% include header-navbar %>

<% function formatAMPM (date) { %>
<%   var hours = date.getHours(); %>
<%   var minutes = date.getMinutes(); %>
<%   var ampm = hours >= 12 ? 'PM' : 'AM'; %>
<%   hours = hours % 12; %>
<%   hours = hours ? hours : 12; %>
<%   minutes = minutes < 10 ? '0'+minutes : minutes; %>
<%   var strTime = hours + ':' + minutes + ' ' + ampm; %>
<%   return strTime; %>
<% } %>

<div class="contents">

	<div class="sort-opts">
		<a href="/cms/<%= cm.cmid %>/cls/<%= client.clid %>">
			<div class="toggle">
				Conversations
			</div>
		</a>

		<a href="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/comms">
			<div class="toggle selected">
				Contacts
			</div>
		</a>
	</div>

	<a href="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/comm">
		<div class="newclient"> 
			<i class="fa fa-user-plus"></i> 
			New Contact
		</div>
	</a>

	<div class="title">
		Contacts for <%= client.first %>
	</div>

	<table class="comm-list">

		<tr>
			<th>Edit</th>
			<th>Contact Title</th>
			<th>Contact Type</th>
			<th>Details</th>
			<th>Used</th>
			<th>Last Use</th>
		</tr>


		<% for (var i = 0; i < comms.length; i++ ) { %>

			<tr class="<%= comms[i].open ? '' : 'archive' %>">

				<td>
					<i class="fa fa-pencil"></i>
				</td>

				<td>
					<%= comms[i].name %>
				</td>
				
				<td>
					<small>
						<%= comms[i].type %>
					</small>
				</td>
				
				<td>
					<small>
						<%= comms[i].value %>
					</small>
				</td>
				
				<td>
					<%= comms[i].use_ct > 0 ? comms[i].use_ct : 0 %>
				</td>
				
				<td>
					<small>
					<% try { %>
						<% var d = new Date(comms[i].created); %>
						<%= [d.getMonth()+1, d.getDate()].join("/") %>
					<% } catch (e) { %>
						Unknown
					<% } %>
					</small>
				</td>

			</tr>

		<% } %>

	</table>
</div>


<% include footer %>
