<% include header %>

<div class="right-nav">
	<div class="nav-btn">
		<a href="/cms/<%= user.cmid %>">
			<i class="fa fa-reply"></i>
			Return To All Clients
		</a>
	</div>

	<div class="nav-btn">
		<a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/edit">
			<i class="fa fa-pencil"></i>
			Edit Client Profile
		</a>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		<b><%= client.last %></b>, <%= client.first %> <%= client.middle %>
	</div>
</div>

<div class="themeblock">
	<div class="themeblock-label">
		Conversations
	</div>
	<div class="themeblock-body">

			<% for (var i = 0; i < convos.length; i++) { %>

			<div class="themeblock-row">

				<% if (convos[i].open) { %>
					<div class="themeblock-id"> <span class="badge" style="background-color: green"> open </span> </div>
				<% } else { %>
					<div class="themeblock-id"> closed </div>
				<% } %>

				<a href="/cms/<%= client.cm %>/cls/<%= client.clid %>/convos/<%= convos[i].convid %>">
					<%= convos[i].subject.length > 30 ? convos[i].subject.substring(0,30) + "..." : convos[i].subject %>
				</a>

				<i>
					<% try { %>
						<% var upd = new Date(convos[i].updated) %>
						<%= [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %> 
						on
						<%= [upd.getMonth()+1, upd.getDate()].join("/") %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</i>

			</div>

		<% } %>

	</div>
</div>



<div class="infoblock">

	<div class="infoblock-body">
		<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/convos">

			<div class="infoblock-row">
				<div class="infoblock-id">
					subject
				</div>
				<input type="hidden" name="cmid" value="<%= cm.cmid %>">
				<input type="hidden" name="clid" value="<%= client.clid %>">
				<input class="infoblock-input" type="text" name="subject" maxlength="30" placeholder="e.g., Missed Appointment" required>
			</div>

			<div class="infoblock-row">
				<input type="submit" class="button" value="Create new conversation">
			</div>

		</form>
	</div>
</div>

<div class="themeblock">
	<div class="themeblock-label">
		Contacts
	</div>
	<div class="themeblock-body">

			<% for (var i = 0; i < comms.length; i++) { %>
				<div class="themeblock-row">
					<div class="themeblock-id"> <%= comms[i].type %> </div>
					<div class="themeblock-val"> <%= comms[i].name %> | <%= comms[i].value %> </div>
				</div>
			<% } %>

	</div>
</div>

<div class="infoblock">
	<div class="infoblock-body">
		<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/comm">

				<div class="infoblock-row">
					<div class="infoblock-id"> type </div>
					<input type="hidden" name="cmid" value="<%= cm.cmid %>">
					<input type="hidden" name="clid" value="<%= client.clid %>">
					<select class="infoblock-select" name="type" required>
						<option value="" selected disabled>Comm Method</option>
						<option value="email" disabled>Email</option>
						<option value="cell">Cell</option>
						<option value="landline" disabled>Landline</option>
					</select>
				</div>

				<div class="infoblock-row">
					<div class="infoblock-id"> number </div>
					<input class="infoblock-input" type="text" name="value" placeholder="e.g. 1-858-487-2638" required>
				</div>

				<div class="infoblock-row">
					<div class="infoblock-id"> description </div>
					<input class="infoblock-input" type="text" name="description" maxlength="30" placeholder="e.g. Aunt's Cell" required>
				</div>

				<div class="infoblock-row">
					<input type="submit" class="button" value="Create new communication method">
				</div>

		</form>
	</div>
</div>



<% include footer %>
