<% include header-base %>
<div class="contents">

<div class="card">

	<div class="card-title">
		Start Conversation With <%= client.first %>
	</div>

	<form method="post">

		<input type="hidden" name="cmid" value="<%= user.cmid %>">
		<input type="hidden" name="clid" value="<%= client.clid %>">

		<div class="form-row">
			<div class="form-label"> Subject (not visible by client) </div>
			<input class="form-input" type="text" name="subject" maxlength="30" required>
		</div>

		<div class="form-row">
			<div class="form-label"> First Message </div>
			<textarea class="form-input" name="content" rows="5" maxlength="160" style="width:100%;" required></textarea>
		</div>

		<div class="form-row">
			<div class="form-label"> Send Via </div>
			<select class="blue-select" name="commid" required>
				<option value="" selected disabled>Registered Communication Methods</option>
				<% for (var i = 0; i < comms.length; i++) { %>
					<option value="<%= comms[i].commid %>" <%= i == comms.length - 1 ? 'selected' : '' %>>
						<%= comms[i].name %> 
						(<%= comms[i].value %>)
					</option>
				<% } %>
			</select>
		</div>

		<input type="submit" class="form-submit" value="Submit">

	</form>

</div>

</div>
<% include footer %>
