<% include header %>

<div class="right-nav">
	<div class="nav-btn">
		<a href="/cms/<%= user.cmid %>">
			<i class="fa fa-reply"></i>
			Return To Client View
		</a>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Edit Client Attributes
	</div>
	<div class="infoblock-body">
		<ul>
		<form method="post">

			<li>
				<i>
					Create a new thread
				</i>
				<input type="hidden" name="clid" value="<%= client.clid %>">
				<input type="hidden" name="cmid" value="<%= user.cmid %>">
			</li>
			
			<li>
				<div class="infoblock-id">
					first
				</div>
				<input type="text" name="first" value="<%= client.first %>" required>
			</li>

			<li>
				<div class="infoblock-id">
					middle
				</div>
				<input type="text" name="middle" value="<%= client.middle %>">
			</li>

			<li>
				<div class="infoblock-id">
					last
				</div>
				<input type="text" name="last" value="<%= client.last %>" required>
			</li>

			<li>
				<div class="infoblock-id">
					dob
				</div>
				<% try { var upd = new Date(client.dob); upd = upd.toISOString().split("T")[0] %>
				<% } catch (e) { var upd = "1955-01-01" } %>
				<input type="date" name="dob" value="<%= upd %>" required>
			</li>

			<li>
				<div class="infoblock-id">
					otn
				</div>
				<input type="text" name="otn" value="<%= client.otn %>">
			</li>

			<li>
				<div class="infoblock-id">
					so
				</div>
				<input type="text" name="so" value="<%= client.so %>">
			</li>

			<li>
				<input type="submit" class="button" value="Submit">
			</li>


		</form>
		</ul>
	</div>
</div>



<% include footer %>
