<% include header %>

<%= client.first + " " + client.middle + " " + client.last %>
<% if (client.otn) { %>
	[OTN: <%= client.otn %>]
<% } %>
<% if (client.so) { %>
	[SO: <%= client.so %>]
<% } %>
<% if (client.active) { %>
	[Client Active]
<% } else { %>
	[Client Archived]
<% } %>

<br>

Last updated: <%= client.updated %>

<br><br>

<% if (comms.length > 0) { %>
	Registered Communcation Methods
	<ul>
		<% for (var i = 0; i < comms.length; i++) { %>
			<li><%= "[" + comms[i].type + "] " + comms[i].description + ": " + comms[i].value %></li>
		<% } %>
	</ul>
<% } else { %>
	No communication methods registered, add one to communicate with this client.
<% } %>

<div>
	Create a new contact for this client
	<form method="post" action="/cmview/<%= client.clid %>/comm">

		<select name="type" required>
			<option value="" selected disabled>Comm Method</option>
			<option value="email">Email</option>
			<option value="cell">Cell</option>
			<option value="landline">Landline</option>
		</select>
		<input type="text" name="value" placeholder="e.g. 1-858-487-2638" required>
		<input type="text" name="description" placeholder="e.g. Aunt's Cell" required>
		<input type="submit" value="Add Communication">
	</form>
</div>

<br><br>

<div>
	<b>Client Comm Thread</b>
</div>
<% for (var i = 0; i < msgs.length; i++) { %>
	<div class="msg-bubble" style="<% if (!msgs[i].inbound) { %>float: right;<% } %>">
		You: <%= msgs[i].content %>
		<br>
		(At: <%= msgs[i].created %>)
		<br>
		(Status: <%= msgs[i].tw_status %>)
	</div>
<% } %>


<div style="margin-top: 120px;">
	Submit a new message to client
	<form method="post" action="/cmview/<%= client.clid %>/send" style="text-align: right;">
		<textarea name="content" placeholder="Write your message here..." required></textarea>

		<% if (comms.length > 0) { %>
			<select name="device" required>
				<% for (var i = 0; i < comms.length; i++) { %>
					<option value='{"value": "<%= comms[i].value %>", "commid": "<%= comms[i].commid %>"}'><%= comms[i].description %></option>
				<% } %>
			</select>
			<input type="submit" value="Send">
		<% } else { %>
			You need to add some communication methods before you can send a message to this client.
		<% } %>
	</form>
</div>

<% include footer %>
