<% include header %>

<h3>
	Welcome <%= cm.first %> <%= cm.middle %> <%= cm.last %>
</h3>

<% if (clients.length > 0) { %>
	Your clients:
	<ul>
		<% for (var i = 0; i < clients.length; i++ ) { %>
			<li>
				<a href="/cms/<%= cm.cmid %>/cls/<%= clients[i].clid %>">
					<%= clients[i].first + " " + clients[i].middle + " " + clients[i].last %>
				</a>
				<% if (clients[i].otn) { %>
					<span class="badge">OTN: <%= clients[i].otn %></span>
				<% } %>
				<% if (clients[i].so) { %>
					<span class="badge">SO: <%= clients[i].so %></span>
				<% } %>
			</li>
		<% } %>
	</ul>
<% } else { %>
	You have no clients. Add some below.
<% } %>


<form method="post">

	<b>Add a new client</b>

	<input type="hidden" name="cmid" value="<%= cm.cmid %>">

	<div class="form-row">
		<div class="form-desc">
			First
		</div>
		<div class="form-entry">
			<input type="text" name="first" placeholder="Jane" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			Middle
		</div>
		<div class="form-entry">
			<input type="text" name="middle" placeholder="M">
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			Last
		</div>
		<div class="form-entry">
			<input type="text" name="last" placeholder="Doe" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			Date of Birth
		</div>
		<div class="form-entry">
			<input type="date" name="dob" value="1955-01-01" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			OTN
		</div>
		<div class="form-entry">
			<input type="text" name="otn" placeholder="135792468" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			SO
		</div>
		<div class="form-entry">
			<input type="text" name="so" placeholder="246813579" required>
		</div>
	</div>

	<input type="submit" value="Submit">

</form>


<% include footer %>
