<% include header %>


<h3>
	<%= cl.first + " " + cl.middle + " " + cl.last %>
</h3>
<div>
	<ul style="font-size:small;">
		<% if (cl.otn) { %>
			<li>OTN: <%= cl.otn %></li>
		<% } %>
		<% if (cl.so) { %>
			<li>SO: <%= cl.so %></li>
		<% } %>
	</ul>
</div>

<% if (convos.length > 0) { %>
	<b>Conversations with client:</b>
	<ul>
		<% for (var i = 0; i < convos.length; i++) { %>
			<li>
				<a href="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convos[i].convid %>">
					<%= convos[i].subject %>
				</a>
				<ul style="font-size:small;">
					<% if (convos[i].open) { %>
						<li>CURRENT</li>
					<% } %>

					<li>
						Last updated on
						<% try { %>
							<%= new Date(convos[i].updated) %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</li>

					<li>
						Created on
						<% try { %>
							<%= new Date(convos[i].created) %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</li>

				</ul>
			</li>
		<% } %>
	</ul>
<% } %>

<% if (comms.length > 0) { %>
	<b>Communication Devices associated with client:</b>
	<ul>
		<% for (var i = 0; i < comms.length; i++) { %>
			<li>
				<%= comms[i].description %>
				<ul style="font-size:small;">
					<li><%= comms[i].type %></li>
					<li><%= comms[i].value %></li>
					<li><%= comms[i].updated %></li>
				</ul>
			</li>
		<% } %>
	</ul>
<% } %>


<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/comm">

	<b>Add a new communciation device</b>

	<input type="hidden" name="cmid" value="<%= cm.cmid %>">
	<input type="hidden" name="clid" value="<%= cl.clid %>">

	<div class="form-row">
		<div class="form-desc">
			Communication Type
		</div>
		<div class="form-entry">
			<select name="type" required>
				<option value="" selected disabled>Comm Method</option>
				<option value="email" disabled>Email</option>
				<option value="cell">Cell</option>
				<option value="landline" disabled>Landline</option>
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			Number
		</div>
		<div class="form-entry">
			<input type="text" name="value" placeholder="e.g. 1-858-487-2638" required>
		</div>
	</div>

	<div class="form-row">
		<div class="form-desc">
			Description
		</div>
		<div class="form-entry">
			<input type="text" name="description" placeholder="e.g. Aunt's Cell" required>
		</div>
	</div>

	<input type="submit" value="Submit">

</form>


<% include footer %>
