<% include header %>

<div class="right-nav">
	<div class="nav-btn">
		<a href="/cms/<%= cm.cmid %>">
			<i class="fa fa-refresh"></i>
			Check for alerts
		</a>
	</div>

	<div class="nav-btn">
		<a href="/capture %>">
			<i class="fa fa-table"></i>
			Capture board
		</a>
	</div>
</div>

<div class="themeblock">
	<div class="themeblock-label">
		Clients
	</div>
	<div class="themeblock-body">

		<% if (clients.length > 0) { %>
			<% for (var i = 0; i < clients.length; i++ ) { %>

				<div class="themeblock-row">
					<a href="/cms/<%= cm.cmid %>/cls/<%= clients[i].clid %>">
						<%=  clients[i].last + ", " + clients[i].first + " " + clients[i].middle %>
					</a>

					<% if (clients[i].msg_ct > 0) { %>
						<span class="badge">
							<%= clients[i].msg_ct %> new messages
						</span>
					<% } %>
				</div>

			<% } %>
		<% } else { %>
			You have no clients.
		<% } %>

	</div>
</div>



<div class="infoblock">
	<div class="infoblock-label">
		Create New Account
	</div>
	<div class="infoblock-body">

		<form method="post">

			<div class="infoblock-row">
				<div class="infoblock-id">
					first
				</div>
				<input type="hidden" name="cmid" value="<%= cm.cmid %>">
				<input class="infoblock-input" type="text" name="first" placeholder="e.g. Jane" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id">
					middle
				</div>
				<input class="infoblock-input" type="text" name="middle" placeholder="e.g. M">
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id">
					last
				</div>
				<input class="infoblock-input" type="text" name="last" placeholder="e.g. Doe" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id">
					dob
				</div>
				<input class="infoblock-input" type="date" name="dob" value="1955-01-01" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id">
					otn
				</div>
				<input class="infoblock-input" type="text" name="otn" placeholder="135792468">
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id">
					so
				</div>
				<input class="infoblock-input" type="text" name="so" placeholder="246813579">
			</div>

				<input type="submit" class="button" value="Submit">

			
		</form>

	</div>
</div>

<% include footer %>
