<% include header %>

<div class="right-nav">
	<div class="nav-btn">
		<a href="/cms/<%= cm.cmid %>">
			<i class="fa fa-reply"></i>
			Return To All Clients
		</a>
	</div>
	
	<div class="nav-btn">
		<a href="/cms/<%= cm.cmid %>">
			<i class="fa fa-pencil"></i>
			Edit Client Profile
		</a>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Client
	</div>
	<div class="infoblock-body">
		<ul>

			<li>
				<i class="fa fa-user"></i>
				<b><%= client.last %>, <%= client.first %> <%= client.middle %></b>
			</li>

			<% if (client.otn) { %>
				<li>
					<div class="infoblock-id">
						otn
					</div>
					<%= client.otn %>
				</li>
			<% } %>

			<% if (client.so) { %>
				<li>
					<div class="infoblock-id">
						so
					</div>
					<%= client.so %>
				</li>
			<% } %>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Conversations
	</div>
	<div class="infoblock-body">
		<ul>

			<li>
				<i class="fa fa-comments-o"></i>
				<i><%= convos.length %> Conversations</i>
			</li>

			<% for (var i = 0; i < convos.length; i++) { %>

				<li>
					<a href="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/convos/<%= convos[i].convid %>">
						<%= convos[i].subject %>
					</a>

					<i>
						<% try { %>
							<% var upd = new Date(convos[i].updated) %>
							<%= [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %> 
							on
							<%= [upd.getMonth()+1, upd.getDate()].join("/") %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</i>

					<% if (convos[i].open) { %>
						<span class="badge">
							open
						</span>
					<% } %>
				</li>

			<% } %>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('newconvo')">
		New Conversation
	</div>
	<div class="infoblock-body">
		<ul>
		<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/convos">

			<li>
				<i class="fa fa-plus-square-o"></i>
				<i>
					Create a new thread
				</i>
			</li>

			<span style="display:none" id="newconvo">
				<li>
					<div class="infoblock-id">
						subject
					</div>
					<input type="hidden" name="cmid" value="<%= cm.cmid %>">
					<input type="hidden" name="clid" value="<%= client.clid %>">
					<input type="text" name="subject" maxlength="30" placeholder="e.g., Missed Appointment" required>
				</li>

				<li>
					<input type="submit" class="button" value="Submit">
					<br><i style="font-size:x-small">* closes other convos</i>
				</li>
			</span>

		</form>
		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Contacts
	</div>
	<div class="infoblock-body">
		<ul>

			<li>
				<i class="fa fa-comments-o"></i>
				<i><%= comms.length %> Communication Methods</i>
			</li>

			<% for (var i = 0; i < comms.length; i++) { %>

				<li>
					<div class="infoblock-id">
						<%= comms[i].type %>
					</div>
					<%= comms[i].name %>
					(<%= comms[i].value %>)
				</li>

			<% } %>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('newcomm')">
		New Communication
	</div>
	<div class="infoblock-body">
		<ul>
		<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= client.clid %>/comm">

			<li>
				<i class="fa fa-plus-square-o"></i>
				<i>
					Create a contact method
				</i>
			</li>

			<span style="display:none" id="newcomm">
				<li>
					<div class="infoblock-id">
						type
					</div>
					<input type="hidden" name="cmid" value="<%= cm.cmid %>">
					<input type="hidden" name="clid" value="<%= client.clid %>">
					<select name="type" required>
						<option value="" selected disabled>Comm Method</option>
						<option value="email" disabled>Email</option>
						<option value="cell">Cell</option>
						<option value="landline" disabled>Landline</option>
					</select>
				</li>

				<li>
					<div class="infoblock-id">
						number
					</div>
					<input type="text" name="value" placeholder="e.g. 1-858-487-2638" required>
				</li>

				<li>
					<div class="infoblock-id">
						description
					</div>
					<input type="text" name="description" maxlength="30" placeholder="e.g. Aunt's Cell" required>
				</li>

				<li>
					<input type="submit" class="button" value="Submit">
				</li>
			</span>

		</form>
		</ul>
	</div>
</div>



<% include footer %>
