<% include header %>

<div class="right-nav">
	<div class="nav-btn">
		<a href="/cms/<%= user.cmid %>">
			<i class="fa fa-reply"></i>
			Return To Client View
		</a>
	</div>
</div>


<div class="infoblock">
	<div class="infoblock-label">
		Update Client Information
	</div>
	<div class="infoblock-body">
		<form method="post">
			
			<div class="infoblock-row">
				<div class="infoblock-id"> first </div>
				<input class="infoblock-input" type="text" name="first" value="<%= client.first %>" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> middle </div>
				<input class="infoblock-input" type="text" name="middle" value="<%= client.middle %>">
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> last </div>
				<input class="infoblock-input" type="text" name="last" value="<%= client.last %>" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> dob </div>
				<% try { var upd = new Date(client.dob); upd = upd.toISOString().split("T")[0] %>
				<% } catch (e) { var upd = "1955-01-01" } %>
				<input class="infoblock-input" type="date" name="dob" value="<%= upd %>" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> otn </div>
				<input class="infoblock-input" type="text" name="otn" value="<%= client.otn %>">
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> so </div>
				<input class="infoblock-input" type="text" name="so" value="<%= client.so %>">
			</div>

			<div class="infoblock-row">
				<input type="submit" class="button" value="Update Client">
			</div>

		</form>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-body">
		<div class="infoblock-row">
			<% if (client.active) { %>
				<form method="post" action="/cms/<%= user.cmid %>/cls/<%= client.clid %>/close">
					<input type="submit" class="button" value="Deactivate Client" style="background-color:red">
				</form>
			<% } else { %>
				<form method="post" action="/cms/<%= user.cmid %>/cls/<%= client.clid %>/open">
					<input type="submit" class="button" value="Re-activate Client" style="background-color:red">
				</form>
			<% } %>
		</div>
	</div>
</div>


<% include footer %>
