<% include header %>


<div class="infoblock">
	<div class="infoblock-label">
		Staff Overview
	</div>
	<div class="infoblock-body">
		<ul>

			<li>
				<b><%= cm.first %> <%= cm.middle %> <%= cm.last %></b>
			</li>

			<li>
				<div class="infoblock-id">
					email
				</div>
				<%= cm.email %>
			</li>

			<li>
				<div class="infoblock-id">
					position
				</div>
				<%= cm.position %>
			</li>

			<li>
				<div class="infoblock-id">
					department
				</div>
				<%= cm.department %>
			</li>

			<li>
				<div class="infoblock-id">
					last login
				</div>
				<% try { %>
					<% var upd = new Date(cm.updated) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</li>

			<li>
				<div class="infoblock-id">
					created
				</div>
				<% try { %>
					<% var upd = new Date(cm.created) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</li>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('conversationlogs')">
		Conversation Logs
	</div>
	<div class="infoblock-body">
		<ul>

			<li>
				<% var totCt = 0 %>
				<%= msgs.forEach(function (ea) { totCt += Number(ea.count); }) %>
				<%= totCt %> total messages sent
			</li>

			<span style="display:none" id="conversationlogs">
			<% for (var i = 0; i < msgs.length; i++) { %>

				<li>
					<div class="infoblock-id">
						id
					</div>
					<%= msgs[i].convo %>
						<i>
							(on
							<% try { %>
								<% var upd = new Date(msgs[i].date) %>
								<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
							<% } catch (err) { %>
								Unknown
							<% } %>
							)
						</i>
				</li>

				<li>
					<div class="infoblock-id">
						count
					</div>
					<%= msgs[i].count %> messages sent
				</li>
			<% } %>
			</span>

		</ul>
	</div>
</div>


<% include footer %>
