<% include ./partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_departments.css">

<div class="header">
  <div class="column">department name</div>
  <div class="column">attached number</div>
  <div class="column">members</div>
  <div class="column">supervisor(s)</div>
  <div class="column">created</div>
  <div class="column">manage</div>
  <div class="column"><%= hub.sel == 'active' ? 'deactivate' : 'activate' %></div>
</div>


<% if (departments.length == 0) { %>
  <% include ./partials/emptyResultsGreeting %>
<% } %>


<% departments.forEach(function (department) { %>
  <div class="notificationRow">
    <div class="column">
      <span class="clientName">
        <%= department.name %>
      </span>
    </div>
    <div class="column">
      <%= department.value.replace(/(\d{1})(\d{3})(\d{3})(\d{4})/, '$1 ($2) $3-$4') %>
    </div>
    <div class="column">
      <span class="bigNumber"><%= department.members ? department.members : '0' %></span>
    </div>
    <div class="column">
      <% if (department.supervisors.length == 0) { %><b>No supervisors</b><% } %>
      <%= department.supervisors.map(function (d) { return d.first + ' ' + d.last }).join(', '); %>
    </div>
    <div class="column">
      <span class="time">
        <%= moment.tz(department.send, local_tz).format('MMM. Do, YYYY hh:mmA') %>
      </span>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <a href="/departments/edit/<%=department.department_id%>">
          <i class="fa highlight fa-pencil" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <% if (department.members && Number(department.members) == 0) { %>
          <a href="/departments/deactivate/<%=department.department_id%>">
            <i class="fa highlight fa-book" aria-hidden="true"></i>
          </a>
        <% } else { %>-<% } %>
      <% } else { %>
        <a href="/departments/activate/<%=department.department_id%>">
          <i class="fa highlight fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>
  </div>
<% }) %>


<% include ./partials/hubFrameBottom %>