<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientComm</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
			margin: 0px;
			background-color: #FFF;
			color: #0084FF;
		}

		header {
			min-height: 40px;
			background-color: #FFF;
			border-bottom: 1px solid;
		}

		header div {
			padding: 10px 10px 5px 10px;
		}

		header .logo-left {
			float: left;
			height: 25px;
			width: 200px;
			text-align: center;
			color: #FFF;
			font-weight: 900;
			background-color: #0084FF;
		}

		header .logo-left:hover {
			box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2);
			text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
			transition: 0.5s;
		}

		header .identification {
			float: left;
		}

		header .navigation {
			text-align: right;
		}

		header .navigation a {
			margin-left: 10px;
		}

		footer {
			padding: 5px 10px 5px 10px;
			position: fixed;
			bottom: 0px;
			right: 0px;
			color: #FFF;
			text-align: right;
			font-size: 10px;
			line-height: 10px;
			background-color: #0084FF;
		}

		a, a:visited, a:hover, a:active {
			text-decoration: none;
	    border-bottom: rgba(0,132,255,0.5);
	    border-width: 0px 0px 1px 0px;
	    border-style: none none dotted none;
			color: inherit;
		}

		a:hover {
			background-color: #0084FF;
			color: #FFF;
		}

		input[type=button], .button {
			border: 0px;
			background-color: #0084FF;
			color: #FFF;
			min-width: 100px;
			cursor: pointer;
		}

		#contents {
			min-height: 575px;
			display: block; 
			clear: both;
			padding-bottom: 25px;
		}

		#contents .entryform {
			margin-left: 140px;
		}

		#contents .infoblock {
			display: block; 
			clear: both;
			font-size: 0.8em;
			padding-top: 3px;
			padding-bottom: 3px;
		}

		#contents .infoblock .infoblock-label {
			float: left;
			width: 200px;
			background-color: rgba(10,0,0,0.05);
			color: rgba(10,0,0,0.5);
			padding: 5px 10px 5px 10px;
			word-wrap: break-word;
			text-align: right;
			font-size: 1em;
			cursor: pointer;
		}


		#contents .infoblock .infoblock-id {
			float: left;
			text-align: right;
			margin-left: -100px;
			width: 90px;
			opacity: 0.5;
		}

		#contents .infoblock .infoblock-body {
			float: left;
		}

		#contents .infoblock .infoblock-body ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		#contents .infoblock .infoblock-body li {
			color: rgba(10,0,0,0.5);
			padding: 5px 10px 5px 10px;
		}

	</style>

	<body>

		<header>
			<div class="logo-left">
				<a class="logo" href="/">
					<i class="fa fa-comments"></i>
					ClientComm
				</a>
			</div>

			<% if (typeof user !== "undefined") { %>
				<div class="identification">
					<%= user.first %> <%= user.middle %> <%= user.last %> 
				</div>
			<% } %>

			<div class="navigation">
				<% if (typeof user !== "undefined" && user.admin) { %>
					<a href="/admin">Admin</a>
				<% } %>

				<% if (typeof user == "undefined") { %>
					<a href="/login">Login</a>
				<% } else { %>
					<a href="/logout">Logout</a>
				<% } %>
			</div>
		</header>

		<div id="contents">

			<% if (typeof success !== "undefined" && success) { %>
				<% for (var i = 0; i < success.length; i++) { %>
					<div style="color:green">Success: <%= success[i] %></div>
				<% } %>
			<% } %>

			<% if (typeof warning !== "undefined" && warning) { %>
				<% for (var i = 0; i < warning.length; i++) { %>
					<div style="color:red">Alert: <%= warning[i] %></div>
				<% } %>
			<% } %>


