<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>ClientComm</title>
	</head>

	<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<body>

		<header>
			<div class="logo-left">
				<a class="logo" href="/">
					<i class="fa fa-comments"></i>
					ClientComm
				</a>
			</div>

			<% if (typeof user !== "undefined") { %>
				<div class="identification">
					<%= user.first %> <%= user.middle %> <%= user.last %> 
				</div>
			<% } %>

			<div class="navigation">
				<% if (typeof user !== "undefined" && user.admin) { %>
					<a href="/admin">Admin</a>
				<% } %>

				<% if (typeof user == "undefined") { %>
					<a href="/login">Login</a>
				<% } else { %>
					<a href="/logout">Logout</a>
				<% } %>
			</div>
		</header>

		<div id="contents">

			<% if (typeof success !== "undefined" && success) { %>
				<% for (var i = 0; i < success.length; i++) { %>
					<div class="alerts" style="background-color:green">Success: <%= success[i] %></div>
				<% } %>
			<% } %>

			<% if (typeof warning !== "undefined" && warning) { %>
				<% for (var i = 0; i < warning.length; i++) { %>
					<div class="alerts" style="background-color:red">Alert: <%= warning[i] %></div>
				<% } %>
			<% } %>


