<% include header %>
	
<hr>
	<%= JSON.stringify(cm) %>
<hr>



<div>
	<b>
		<%= convo.subject %>
	</b>
</div>

<div>
	<small>
		<% if (convo.open) { %>
			Last updated:
		<% } else { %>
			Closed on:
		<% } %>
		<% try { %>
			on <%= new Date(convo.updated) %>
		<% } catch (err) { %>
			Unknown
		<% } %>
	</small>
</div>

<br>



<% for (var i = 0; i < msgs.length; i++) { %>
	<div>

		<div style="font-size:small;">
			<%= cl.first %> via <%= msgs[i].description %>:
		</div>

		<div>
			<%= msgs[i].content %>
		</div>

		<div style="font-size:x-small;">
			<% try { %>
				on <%= new Date(msgs[i].created) %>
			<% } catch (err) { %>
				Unknown
			<% } %>
		</div>
		
		<br>
	</div>
<% } %>

<hr>
	<%= JSON.stringify(convo) %>


<% include footer %>
