<% include header %>

<a href="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>" style="font-size:small;">< Back</a>
<br><br>

<% if (convo.open && convo.accepted) { %>
	<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/close" style="float:right">
		<input type="submit" value="Close Conversation">
	</form>
<% } %>

<% if (convo.open && !convo.accepted) { %>
	<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/accept" style="float:right">
		<input type="submit" value="Accept Conversation" style="color:green">
	</form>
	<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/reject" style="float:right">
		<input type="submit" value="Reject" style="color:red">
	</form>
<% } %>

<div>
	<b>
		<%= convo.subject %>
	</b>
</div>

<div>
	<small>
		<% if (convo.open) { %>
			Last updated:
		<% } else { %>
			Closed on:
		<% } %>
		<% try { %>
			<% var upd = new Date(convo.updated) %>
			<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
		<% } catch (err) { %>
			Unknown
		<% } %>
	</small>
</div>

<hr>


<% for (var i = 0; i < msgs.length; i++) { %>
	<% if (!msgs[i].inbound) { %>
		<div style="text-align:right">
			You wrote to 
	<% } else { %>
		<div>
	<% } %>

		<div style="font-size:small;">
		<% if (!msgs[i].inbound) { %>
			You wrote to 
		<% } %>
			<%= cl.first %> via <%= msgs[i].name %>:
		</div>

		<div>
			<%= msgs[i].content %>
		</div>

		<div style="font-size:x-small;">
			on 
			<% try { %>
				<% var upd = new Date(msgs[i].created) %>
				<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
			<% } catch (err) { %>
				Unknown
			<% } %>
		</div>
		
		<br>
	</div>
<% } %>

<hr>

<% if (convo.open) { %>
	<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>">
		<div>
			<textarea name="content" rows="5" maxlength="160" style="width:100%;" required></textarea>
			(Max length 160 characters)
		</div>

		<div class="form-row">
			<div class="form-desc">
				Communication Type
			</div>
			<div class="form-entry">
				<select name="commid" required>
					<option value="" selected disabled>Comm Method</option>
					<% for (var i = 0; i < comms.length; i++) { %>
						<option value="<%= comms[i].commid %>"><%= comms[i].name %></option>
					<% } %>
				</select>
			</div>
		</div>

		<input type="submit" value="Submit">
	</form>
<% } else { %>
	Can't write new messages. This conversation is closed.
<% } %>

<% include footer %>
