<% include header %>

<div>
	<b>
		<%= convo.subject %>
	</b>
</div>

<div>
	<small>
		<% if (convo.open) { %>
			Last updated:
		<% } else { %>
			Closed on:
		<% } %>
		<% try { %>
			on <%= new Date(convo.updated) %>
		<% } catch (err) { %>
			Unknown
		<% } %>
	</small>
</div>

<br>



<% for (var i = 0; i < msgs.length; i++) { %>
	<div>

		<div style="font-size:small;">
			<% if (!msgs[i].inbound) { %>
				You wrote to 
			<% } %>
			<%= cl.first %> via <%= msgs[i].description %>:
		</div>

		<div>
			<%= msgs[i].content %>
		</div>

		<div style="font-size:x-small;">
			<% try { %>
				on <%= new Date(msgs[i].created) %>
			<% } catch (err) { %>
				Unknown
			<% } %>
		</div>
		
		<br>
	</div>
<% } %>

<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>">
	<div>
		<textarea name="Text1" rows="5" style="width:100%;"></textarea>
	</div>
	<input type="submit" value="Submit">
</form>

<hr>
	<%= JSON.stringify(convo) %>


<% include footer %>
