<% include header-base %>
<% include header-navbar %>

<% function formatAMPM (date) { %>
<%   var hours = date.getHours(); %>
<%   var minutes = date.getMinutes(); %>
<%   var ampm = hours >= 12 ? 'PM' : 'AM'; %>
<%   hours = hours % 12; %>
<%   hours = hours ? hours : 12; %>
<%   minutes = minutes < 10 ? '0'+minutes : minutes; %>
<%   var strTime = hours + ':' + minutes + ' ' + ampm; %>
<%   return strTime; %>
<% } %>

<div class="contents">
<div class="msgs">

	<div class="msg-head">

		<% if (convo.open) { %>
			<div class="state-btn">
				<% if (convo.accepted) { %>
					<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/close">
						<input type="submit" class="button" value="Close Conversation">
					</form>
				<% } else { %>
					<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/accept">
						<input type="submit" class="button" value="Accept Conversation">
					</form>
					<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>/reject">
						<input type="submit" class="button" value="Reject Conversation">
					</form>
				<% } %>
			</div>
		<% } %>

		<div class="subject">
			<%= convo.subject %>
		</div>
	</div>

	<div class="msg-stream">
		<% for (var i = 0; i < msgs.length; i++) { %>

				<div class="msg <%= msgs[i].inbound ? '' : 'outbound' %>">
					<div class="content">
						<%= msgs[i].content %>
					</div>

					<div class="sub">
						<b><%= msgs[i].name %></b>
						
						<% try { %>
							<% var d = new Date(msgs[i].created) %>
							<%= [d.getMonth()+1, d.getDate()].join("/") + " " + formatAMPM(d) %>
						<% } catch (err) { %>
							Unknown
						<% } %>

						<span class="state">
							<% if (msgs[i].inbound) { %>
								<%= msgs[i].tw_status %>
							<% } else { %>
								sent
							<% } %>
						</span>
					</div>
				</div>

		<% } %>
	</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="infoblock">



	<small>
		<i class="fa fa-clock-o"></i>
		<% if (convo.open) { %>
			Last updated
		<% } else { %>
			Closed on
		<% } %>
		<% try { %>
			<% var upd = new Date(convo.updated) %>
			<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
		<% } catch (err) { %>
			Unknown
		<% } %>
	</small>
</div>




<div class="msg-stream">
	<% for (var i = 0; i < msgs.length; i++) { %>

		<% if (msgs[i].inbound) { %>
			<div class="msg inbound">
				<div class="date">
					<% try { %>
						<% var upd = new Date(msgs[i].created) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</div>

				<div class="content">
					<%= msgs[i].content %>
					<div class="description">
						<%= cl.first %> via <%= msgs[i].name %>
					</div>
				</div>
			</div>

		<% } else { %>
			<div class="msg outbound">
				<div class="date">
					<% try { %>
						<% var upd = new Date(msgs[i].created) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</div>

				<div class="content">
					<%= msgs[i].content %>
					<div class="description">
						via <%= msgs[i].name %>
					</div>
				</div>
			</div>
		<% } %>

	<% } %>

	<div class="response">
		<% if (convo.open) { %>
			<form method="post" action="/cms/<%= cm.cmid %>/cls/<%= cl.clid %>/convos/<%= convo.convid %>">
					<textarea name="content" rows="5" maxlength="160" style="width:100%;" placeholder="(Max length 160 characters)" required></textarea>
					<select name="commid" required>
						<option value="" selected disabled>Comm Method</option>
						<% for (var i = 0; i < comms.length; i++) { %>
							<option value="<%= comms[i].commid %>"><%= comms[i].name %></option>
						<% } %>
					</select>
				<input type="submit" class="button" value="Submit">
			</form>

		<% } else { %>
			<center>
				Can't write new messages. This conversation is closed.
			</center>
		<% } %>
	</div>

</div>


</div>
</div>
<% include footer %>
