<% include header %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

<div class="infoblock">
	<div class="infoblock-label">
		Organization
	</div>
	<div class="infoblock-body">
		<ul>
			<li>
				<b><%= org.name %></b>
			</li>

			<li>
				<div class="infoblock-id">
					email
				</div>
				<%= org.email %>
			</li>

			<li>
				<div class="infoblock-id">
					expires
				</div>
				<% try { %>
					<% var upd = new Date(org.expiration) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</li>

			<li>
				<div class="infoblock-id">
					allotment
				</div>
				<%= org.allotment %> users 
				<% try { %>
					(<%= Number(org.allotment) - Number(cms.length) %> remaining)
				<% } catch (err) { %>
					(error calculating remaining)
				<% } %>
			</li>

			<li>
				<div class="infoblock-id">
					created
				</div>
				<% try { %>
					<% var upd = new Date(org.created) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</li>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('adminaccounts')">
		Admin Accounts
	</div>
	<div class="infoblock-body">
		<ul>
			<li>
				<% var adminCt = 0; %>
				<% for (var i = 0; i < cms.length; i++) { if (cms[i].admin && cms[i].active) { adminCt += 1; }; } %>
				<i><%= adminCt %> active admins</i>
			</li>

			<span id="adminaccounts">
			<% for (var i = 0; i < cms.length; i++) { %>
				<% if (cms[i].admin && cms[i].active) { %>

					<li>
						<b>
						<a href="/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
						</b>
					</li>
					<li>
						<div class="infoblock-id">
							email
						</div>
						<%= cms[i].email %>
					</li>
					<li>
						<div class="infoblock-id">
							probation
						</div>
						<%= cms[i].position %>
					</li>
					<li>
						<div class="infoblock-id">
							department
						</div>
						<%= cms[i].department %>
					</li>
					<li>
						<div class="infoblock-id">
							created
						</div>
						<% try { %>
							<% var upd = new Date(cms[i].created) %>
							<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</li>

				<% } %>
			<% } %>
			</span>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('staffaccounts')">
		Staff Accounts
	</div>
	<div class="infoblock-body">
		<ul>
			<li>
				<% var staffCt = 0; %>
				<% for (var i = 0; i < cms.length; i++) { if (!cms[i].admin && cms[i].active) { staffCt += 1; }; } %>
				<i><%= staffCt %> active staff</i>
			</li>

			<span id="staffaccounts">
			<% for (var i = 0; i < cms.length; i++) { %>
				<% if (!cms[i].admin && cms[i].active) { %>


					<li>
						<div class="infoblock-id">
							<div id="chart-<%= cms[i].cmid %>"></div>
						</div>
						<b>
						<a href="/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
						</b>
					</li>

					<li>
						<div class="infoblock-id">
							email
						</div>
						<%= cms[i].email %>
					</li>

					<li>
						<div class="infoblock-id">
							position
						</div>
						<%= cms[i].position %>
					</li>

					<li>
						<div class="infoblock-id">
							department
						</div>
						<%= cms[i].department %>
					</li>

					<li>
						<div class="infoblock-id">
							last login
						</div>
						<% try { %>
							<% var upd = new Date(cms[i].updated) %>
							<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes(), upd.getSeconds()].join(':') %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</li>

					<li>
						<div class="infoblock-id">
							created
						</div>
						<% try { %>
							<% var upd = new Date(cms[i].created) %>
							<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</li>

				<% } %>
			<% } %>
			</span>

		</ul>
	</div>

</div>

<div class="infoblock">
	<div class="infoblock-label" onclick="toggle('newaccount')">
		Create New Account
	</div>
	<div class="infoblock-body" style="display:none" id="newaccount">

		<ul>
		<form method="post">
			
			<li>
				<input type="hidden" name="orgid" value="<%= org.orgid %>">	
				<i>Add user to organization</i>
			</li>

			<li>
				<div class="infoblock-id">
					first
				</div>
				<input type="text" name="first" placeholder="e.g. Jane" required>
			</li>

			<li>
				<div class="infoblock-id">
					middle
				</div>
				<input type="text" name="middle" placeholder="e.g. M">
			</li>

			<li>
				<div class="infoblock-id">
					last
				</div>
				<input type="text" name="last" placeholder="e.g. Doe" required>
			</li>

			<li>
				<div class="infoblock-id">
					email
				</div>
				<input type="email" name="email" placeholder="e.g. jane@example.com" required>
			</li>

			<li>
				<div class="infoblock-id">
					password
				</div>
				<input type="password" name="password" placeholder="•••••••" required>
			</li>

			<li>
				<div class="infoblock-id">
					position
				</div>
				<input type="text" name="position" placeholder="e.g. Therapist" required>
			</li>

			<li>
				<div class="infoblock-id">
					department
				</div>
				<input type="text" name="department" placeholder="e.g. Pretrial Services" required>
			</li>

			<li>
				<div class="infoblock-id">
					admin
				</div>
				<input type="checkbox" name="admin" value="true"> check for admin privileges
			</li>

			<li>
				<input type="submit" class="button" value="Submit">
			</li>
			
		</form>
		</ul>

	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

<script type="text/javascript">

var msgs = "<%= JSON.stringify(msgs) %>";

try {
	msgs = JSON.parse(msgs.replace(/&#34;/g, '"'));
	Object.keys(msgs).forEach(function (ea) { makeChart(ea); });
} catch (e) { console.log(e) }

function makeChart (id) {
	var dates = msgs[id].dates;
	var vals = msgs[id].vals;
	var d = new Date();
	var today = [d.getFullYear(), d.getMonth()+1, d.getDate()].join("-");

	if (dates[dates.length] !== today) {
		dates.push(today);
		vals.push("0");
	}

	chart = c3.generate({
	  data: { x: "x", columns: [["x"].concat(dates), ["Messages"].concat(vals)], color: function (color, d) { return "#0084FF"; } },
	  axis: { x: { type: "timeseries", tick: { format: "%Y-%m-%d" }, show: false }, y: { show: true } },
	  tooltip: { show: false },
	  point: { show: false },
	  legend: { hide: true },
	  padding: { top: 0, right: 10, bottom: 0, left: 0, },
	  size: { height: 40, width: 100 },
	  bindto: "#chart-" + id,
	});	
}

</script>

<% include footer %>
