<% include header %>

<% var adminPrepend = user.admin ? "/admin" : "" %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

<div class="chart"><div id="chart-overall"></div>Overall Organization Messaging Activity</div>

<div class="themeblock">
	<div class="themeblock-label">
		<%= org.name %>
	</div>
	<div class="themeblock-body">


			<div class="themeblock-row">
				<div class="themeblock-id"> email </div>
				<div class="themeblock-input"> <%= org.email %> </div>
			</div>

			<div class="themeblock-row">
				<div class="themeblock-id">
					expires
				</div>
				<% try { %>
					<% var upd = new Date(org.expiration) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</div>

			<div class="themeblock-row">
				<div class="themeblock-id">
					allotment
				</div>
				<%= org.allotment %> users 
				<% try { %>
					(<%= Number(org.allotment) - Number(cms.length) %> remaining)
				<% } catch (err) { %>
					(error calculating remaining)
				<% } %>
			</div>

			<div class="themeblock-row">
				<div class="themeblock-id">
					created
				</div>
				<% try { %>
					<% var upd = new Date(org.created) %>
					<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
				<% } catch (err) { %>
					Unknown
				<% } %>
			</div>

	</div>
</div>


<% var adminCt = 0; %>
<% for (var i = 0; i < cms.length; i++) { if (cms[i].admin && cms[i].active) { adminCt += 1; }; } %>

<div class="themeblock">
	<div class="themeblock-label" onclick="toggle('adminaccounts')">
		Admin Accounts (<%= adminCt %> active)
	</div>
	<div class="themeblock-body">

			<% for (var i = 0; i < cms.length; i++) { %>
				<% if (cms[i].admin && cms[i].active) { %>

					<div class="infoblock-row">
						<div class="themeblock-id">
							<div id="chart-<%= cms[i].cmid %>"></div>
						</div>
						<b>
						<% if (user.cmid !== cms[i].cmid) { %>
							<a href="<%= adminPrepend %>/cms/<%= cms[i].cmid %>">
								<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
							</a>
						<% } else { %>
							<a href="/cms/<%= cms[i].cmid %>">
								<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
							</a>
						<% } %>
						</b>
					</div>

					<div class="themeblock-row">
						<div class="themeblock-id">
							email
						</div>
						<%= cms[i].email %>
					</div>

					<div class="themeblock-row">
						<div class="themeblock-id">
							probation
						</div>
						<%= cms[i].position %>
					</div>

					<div class="themeblock-row">
						<div class="themeblock-id">
							department
						</div>
						<%= cms[i].department %>
					</div>

					<div class="themeblock-row">
						<div class="themeblock-id">
							last login
						</div>
						<% try { %>
							<% var upd = new Date(cms[i].updated) %>
							<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes()].join(':') %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</div>

					<div class="themeblock-row">
						<div class="themeblock-id">
							created
						</div>
						<% try { %>
							<% var upd = new Date(cms[i].created) %>
							<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
						<% } catch (err) { %>
							Unknown
						<% } %>
					</div>

				<% } %>
			<% } %>
	</div>
</div>


<% var staffCt = 0; %>
<% for (var i = 0; i < cms.length; i++) { if (!cms[i].admin && cms[i].active) { staffCt += 1; }; } %>

<div class="themeblock">
	<div class="themeblock-label" onclick="toggle('staffaccounts')">
		Staff Accounts (<%= staffCt %> active)
	</div>
	<div class="themeblock-body">
		<% for (var i = 0; i < cms.length; i++) { %>
			<% if (!cms[i].admin && cms[i].active) { %>


				<div class="themeblock-row">
					<div class="themeblock-id">
						<div id="chart-<%= cms[i].cmid %>"></div>
					</div>
					<b>
					<% if (user.cmid !== cms[i].cmid) { %>
						<a href="<%= adminPrepend %>/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
					<% } else { %>
						<a href="/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
					<% } %>
					</b>
				</div>

				<div class="themeblock-row">
					<div class="themeblock-id">
						email
					</div>
					<%= cms[i].email %>
				</div>

				<div class="themeblock-row">
					<div class="themeblock-id">
						position
					</div>
					<%= cms[i].position %>
				</div>

				<div class="themeblock-row">
					<div class="themeblock-id">
						department
					</div>
					<%= cms[i].department %>
				</div>

				<div class="themeblock-row">
					<div class="themeblock-id">
						last login
					</div>
					<% try { %>
						<% var upd = new Date(cms[i].updated) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") + " at " + [upd.getHours(), upd.getMinutes()].join(':') %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</div>

				<div class="themeblock-row">
					<div class="themeblock-id">
						created
					</div>
					<% try { %>
						<% var upd = new Date(cms[i].created) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</div>

			<% } %>
		<% } %>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Create New Account
	</div>
	<div class="infoblock-body">
		<form method="post">

			<input type="hidden" name="orgid" value="<%= org.orgid %>">

			<div class="infoblock-row">
				<div class="infoblock-id"> first </div>
				<input class="infoblock-input" type="text" name="first" placeholder="e.g. Jane" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> middle </div>
				<input class="infoblock-input" type="text" name="middle" placeholder="e.g. M">
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> last </div>
				<input class="infoblock-input" type="text" name="last" placeholder="e.g. Doe" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> email </div>
				<input class="infoblock-input" type="email" name="email" placeholder="e.g. jane@example.com" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> password </div>
				<input class="infoblock-input" type="password" name="password" placeholder="•••••••" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> position </div>
				<input class="infoblock-input" type="text" name="position" placeholder="e.g. Therapist" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> department </div>
				<input class="infoblock-input" type="text" name="department" placeholder="e.g. Pretrial Services" required>
			</div>

			<div class="infoblock-row">
				<div class="infoblock-id"> admin </div>
				<label class="infoblock-cblabel"><input type="checkbox" name="admin" value="true"> check for admin privileges </label>
			</div>

			<div class="infoblock-row">
				<input type="submit" class="button" value="Submit">
			</div>
			
		</form>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

<script type="text/javascript">

var msgs = "<%= JSON.stringify(msgs) %>";

try {
	msgs = JSON.parse(msgs.replace(/&#34;/g, '"'));
	Object.keys(msgs).forEach(function (ea) { makeChart(ea); });
	makeBigChart();
} catch (e) { console.log(e) }

function makeChart (id) {
	var dates = msgs[id].dates;
	var vals = msgs[id].vals;
	var d = new Date();
	var today = [d.getFullYear(), d.getMonth()+1, d.getDate()].join("-");

	if (dates[dates.length] !== today) {
		dates.push(today);
		vals.push("0");
	}

	chart = c3.generate({
	  data: { 
	  	x: "x", 
	  	columns: [["x"].concat(dates), ["Messages"].concat(vals)], 
	  	color: function (color, d) { return "#4BAEFF"; }
	  },
	  axis: { x: { type: "timeseries", tick: { format: "%Y-%m-%d" }, show: false }, y: { show: true } },
	  tooltip: { show: false },
	  point: { show: false },
	  legend: { hide: true },
	  padding: { top: 0, right: 10, bottom: 0, left: 0, },
	  size: { height: 40, width: 100 },
	  bindto: "#chart-" + id,
	});	
}

function makeBigChart () {

	var dates = {};

	Object.keys(msgs).forEach(function (cm) {
		for (var i = 0; i < msgs[cm].dates.length; i++) {
			var d = msgs[cm].dates[i];
			var v = msgs[cm].vals[i];
			if (!dates[d]) { dates[d] = 0; }
			dates[d] += Number(v);
		}
	});

	var d = new Date();
	var today = [d.getFullYear(), d.getMonth()+1, d.getDate()].join("-");
	if (!dates[today]) { dates[today] = 0; }

	var keys = Object.keys(dates).sort(function (a,b) { return new Date(a) - new Date(b); });
	var vals = keys.map(function (k) { return dates[k]; })

var w = $(".chart").width();
	c3.generate({
	  data: { 
	  	x: "x", 
	  	columns: [["x"].concat(keys), ["Messages"].concat(vals)], 
	  	color: function (color, d) { return "#4BAEFF"; }
	  },
	  axis: { x: { type: "timeseries", tick: { format: "%Y-%m-%d" } } },
	  legend: { hide: true },
	  padding: { right: 20 },
	  size: { width: w },
	  grid: { y: { show: true }, x: { show: true } },
	  bindto: "#chart-overall"
	});
}

</script>

<% include footer %>
