<% include header %>

<div class="infoblock">
	<div class="infoblock-label">
		Organization
	</div>
	<div class="infoblock-body">
		<ul>
			<li><%= org.name %></li>

			<small>
				<li>Email: <%= org.email %></li>

				<li>
					Expires:
					<% try { %>
						<% var upd = new Date(org.expiration) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</li>

				<li>Allotment: <%= org.allotment %> users</li>

				<li>
					Created:
					<% try { %>
						<% var upd = new Date(org.created) %>
						<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
					<% } catch (err) { %>
						Unknown
					<% } %>
				</li>
			</small>

		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Admin Accounts
	</div>
	<div class="infoblock-body">
		<ul>
			<% for (var i = 0; i < cms.length; i++) { %>
				<% if (cms[i].admin && cms[i].active) { %>

					<li>
						<a href="/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
					</li>

					<small>
						<li>Email: <%= cms[i].email %></li>
						<li>Position: <%= cms[i].position %></li>
						<li>Department: <%= cms[i].department %></li>
						<li>
							Created:
							<% try { %>
								<% var upd = new Date(cms[i].created) %>
								<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
							<% } catch (err) { %>
								Unknown
							<% } %>
						</li>
					</small>

				<% } %>
			<% } %>
		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Staff Accounts
	</div>
	<div class="infoblock-body">
		<ul>
			<% for (var i = 0; i < cms.length; i++) { %>
				<% if (!cms[i].admin && cms[i].active) { %>

					<li>
						<a href="/cms/<%= cms[i].cmid %>">
							<%= cms[i].last %>, <%= cms[i].first %> <%= cms[i].middle %>
						</a>
					</li>

					<small>
						<li>Email: <%= cms[i].email %></li>
						<li>Position: <%= cms[i].position %></li>
						<li>Department: <%= cms[i].department %></li>
						<li>
							Created:
							<% try { %>
								<% var upd = new Date(cms[i].created) %>
								<%= [upd.getMonth()+1, upd.getDate(), upd.getFullYear()].join("/") %>
							<% } catch (err) { %>
								Unknown
							<% } %>
						</li>
					</small>

				<% } %>
			<% } %>
		</ul>
	</div>
</div>

<div class="infoblock">
	<div class="infoblock-label">
		Create New Account
	</div>
	<div class="infoblock-body">

		<small>
			<form method="post">
				<input type="hidden" name="orgid" value="<%= org.orgid %>">

				<li>
					First
					<input type="text" name="first" placeholder="Jane" required>
				</li>

				<li>
					Middle
					<input type="text" name="middle" placeholder="M">
				</li>

				<li>
					Last
					<input type="text" name="last" placeholder="Doe" required>
				</li>

				<li>
					Email
					<input type="email" name="email" placeholder="john@example.com" required>
				</li>

				<li>
					Password
					<input type="password" name="password" placeholder="password" required>
				</li>

				<li>
					Position
					<input type="text" name="position" placeholder="Case Manager" required>
				</li>

				<li>
					Department
					<input type="text" name="department" placeholder="Pretrial Services" required>
				</li>

				<li>
					Admin
					<input type="checkbox" name="admin" value="true"> Check to make admin
				</li>
				
				<input type="submit" value="Submit">
			</form>
		</small>
	</div>
</div>

<% include footer %>
