<% include header-base %>

<div class="navbar">
	
	<div class="username">
		<a href="/">
			<b><i class="fa fa-comments"></i> ClientComm</b> Research
		</a>
	</div>
	
	
	<div class="nav-right">
		<% if (typeof user !== "undefined") { %>
			<a href="/logout">
				<small>Logout</small>
				<i class="fa fa-times"></i>
			</a>
		<% } else { %>
			<a href="/">
				<small>Login</small>
				<i class="fa fa-sign-in"></i>
			</a>
		<% } %>
	</div>
	

</div>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
<style type="text/css">
	.chart1, .chart2 {
		color: #888;
	}
</style>

<div class="contents">

	<div class="title">
		Introduction
	</div>
		<p>
			The intent of this section of the site is to provide some high level insight and real-time metrics regarding ClientComm use. This content is publicly accessible and does not provide specifics with regards to ClientComm use on a per specific user or per specific case manager basis.
		</p>


	<div class="title">
		Messaging Activity
	</div>
		<p><b> Distribution by Hour of Day </b></p>
		<div class="chart1"><div id="chart-overall1"></div></div>
		<p>
			Messaging activity is shown by time of day. Both clients and case managers exhibit early AM peaks, a break around noon, and then a spike in the early hours afternoon hours. Clients also exhibit a late evening peak towards midnight, after business hours.
		</p>
		<p><b> Distribution by Day of Week </b></p>
		<div class="chart2"><div id="chart-overall2"></div></div>


	<div class="title">
		Current Activity
	</div>
		<p><b> Total Counts </b></p>

		<div style="display: block; clear: both; position: relative; height: 150px; color: #898989">
			<div style="width: 33%; float: left; text-align: center;">
				<span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
					<%= overall.msgs %>
				</span>
				<center>Sent Messages</center>
			</div>

			<div style="width: 33%; float: left; text-align: center;">
				<span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
					<%= overall.convos %>
				</span>
				<center>Live Conversations</center>
			</div>

			<div style="width: 33%; float: left; text-align: center;">
				<span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
					<%= overall.clients %>
				</span>
				<center>Currently Active Clients</center>
			</div>
		</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

<script type="text/javascript">

var msgs = "<%= JSON.stringify(msgs) %>";
var days = "<%= JSON.stringify(days) %>";
var dow = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"];

try {
	msgs = JSON.parse(msgs.replace(/&#34;/g, '"'));
	days = JSON.parse(days.replace(/&#34;/g, '"'));

	msgs.map(function (ea, i) { 
		console.log(ea.date_hr);
		if (ea.date_hr <= 7) ea.date_hr = 16 + ea.date_hr;
		else ea.date_hr = ea.date_hr - 8;
		return ea; 
	});

	makeBigChart();
} catch (e) { console.log(e); }

function makeBigChart () {
	
	// msgs by hour graph
	var inbound = msgs.filter(function (ea) { return ea.inbound; });
	var outbound = msgs.filter(function (ea) { return !ea.inbound; });

	var keysIn = inbound.map(function (ea) { return (Number(ea.date_hr)) * 100; });
	var valsIn = inbound.map(function (ea) { return Number(ea.count); });

	var keysOut = outbound.map(function (ea) { return (Number(ea.date_hr)) * 100; });
	var valsOut = outbound.map(function (ea) { return Number(ea.count); });

	c3.generate({
	  data: { 
	  	xs: {
				"Received": "x1",
				"Sent": "x2",
			}, 
	  	columns: [
	  		["x1"].concat(keysIn), 
	  		["x2"].concat(keysOut), 
	  		["Received"].concat(valsIn),  
	  		["Sent"].concat(valsOut)
	  	]
	  },
		axis: {
			x: { label: "Hour of Day" },
			y: { label: "Message Volume" }
		},
		padding: { right: 25 },
	  bindto: "#chart-overall1"
	});


	// daily distribution
	var dayVals = days.map(function (ea, i) {  return [dow[i], Number(ea.count)]; });

	c3.generate({
		data: { columns: dayVals, type: "bar" },
		axis: { x: { show: false } },
		padding: { right: 25 },
		bindto: "#chart-overall2"
	});


}

</script>

<% include footer %>
