<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/groups">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Edit Group
  </div>
  <div class="cardSubtitle">
    Use groups to organize client populations.
  </div>
</div>

<div class="cardBody">

  <form method = "post"
        id = "editGroup" 
        action = "/groups/edit/<%=group.group_id%>">

    <div class="formRow">
      <div class="formLabel"> Name of group </div>
      <div class="formInput">
        <input  type="text" 
                name="name" 
                value="<%= group.name %>" 
                maxlength="100">
      </div>
    </div>

    <div class="scrollListBox">
      <% var memberIDs = group.members.map(function (m) { return m.client }) %>
      <% clients.forEach(function (client) { %>
        <div class="scrollListRow <% if (memberIDs.indexOf(client.clid) > -1) { %>selected<% } %>" clientID="<%= client.clid %>">

          <div class="colorTag">
            <div class="tag" style="background-color:<%=client.color_tag%>"></div>
          </div>

          <div class="scrollListContent">
            <div class="clientName">
              <%= client.last + ', ' + client.first + ' ' + client.middle %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit Group Edits">
  </form>
</div>



<script type="text/javascript">
  $(".scrollListRow").click(function () {
    $(this).toggleClass("selected");
  });

  $("#editGroup").submit(function () {
    $(".scrollListRow").each(function () {
      if ($(this).hasClass("selected")) {
        var clientID = $(this).attr("clientID");
        $(".scrollListBox").append("<input type='hidden' name='clientIDs' value='" + clientID + "'>");
      }
    });
    return true;
  });
</script>

<% include ../../partials/cardFrameBottom %>