<% include ../partials/headers/header-base %>

  <div>
    Existing organizations:
    <% if (orgs) { %>
      <ul>
      <% for (var i = 0; i < orgs.length; i++) { %>
        <li>
          <a href="/orgs/<%= orgs[i].orgid %>">
            <%= orgs[i].name %>
          </a>
        </li>
        <ul style="font-size:small;">
          <li>Phone Number: <%= orgs[i].phone %></li>
          <li>Email: <%= orgs[i].email %></li>
          <li>Expires: <%= orgs[i].expiration %></li>
          <li>Allotment: <%= orgs[i].allotment %></li>
          <li>Created: <%= orgs[i].created %></li>
        </ul>
      <% } %>
      </ul>
    <% } %>
  </div>

  <form method="post">

    <b>New Organization</b>

    <div class="form-row">
      <div class="form-desc">
        Name
      </div>
      <div class="form-entry">
        <input type="text" name="name" placeholder="example_org_name" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-desc">
        Phone Number
      </div>
      <div class="form-entry">
        <input type="text" name="phone" placeholder="(858) 400-4040" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-desc">
        Email
      </div>
      <div class="form-entry">
        <input type="email" name="email" placeholder="john@example.com" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-desc">
        Allotment
      </div>
      <div class="form-entry">
        <input type="number" step="1" name="allotment" value="10" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-desc">
        Expiration
      </div>
      <div class="form-entry">
        <input type="date" name="expiration" value="2017-01-01" required>
      </div>
    </div>

    <input type="submit" value="Submit">

  </form>


<% include ../partials/footers/footer %>
