<% let clientBaseURL = `${level === "org" ? "/org" : ""}/clients/${client.clid}`; %>

<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">
    <div class="allLeftParent">
      <div class="allLeft">
          <%- leftTab('notifications', hub, level, ['pending', 'sent'], 'notifications', 'status', null, client.clid) %>
          <%- leftTab('contact methods', hub, level, ['open', 'closed'], 'communications', 'status', null, client.clid) %>

      </div>
    </div>


    <div class="allRightParent">
      <div class="allRight">
          <%- rightTab('clients', 'mobile', level, `${client.clid}/communications/create`, 'message') %>
          <%- rightTab('notifications', 'bell', level, `create?client=${client.clid}&user=${client.cm}`) %> 
          <%- rightTab('clients', 'comments', level, `${client.clid}/address`, 'contact method') %>
      </div>
    </div>

  </div>

  <div class="coreContent">