<!DOCTYPE HTML>
<html lang="en">

  <head>

    <!-- Invoke New Relic monitoring before all else -->
    <% if (newrelic !== null) { %>
      <%- newrelic.getBrowserTimingHeader() %>
    <% } %>

    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- TODO: client should be set to null if undefined -->
    <title>
      ClientComm
      <% if (typeof client !== "undefined") { %>
        - Viewing <%= `${client.first} ${client.last}` %>
      <% } else if (user) { %>
        - <%= `${user.first} ${user.last}` %>
      <% } %>
    </title>

    <% include ./favicon %>

  </head>

  <link rel="stylesheet" type="text/css" href="/modules/font-awesome/css/font-awesome.min.css">

  <!-- deal with ss font weirdness below -->
  <link href="/static/webfonts/ss/ss-community.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/static/css/v4_base.css">

  <script src="/modules/jquery/dist/jquery.min.js"></script>
  <script>
    window.clientcomm = window.clientcomm || {};

    window.clientcomm.keenProjectId = "<%= keenProjectId %>";
    window.clientcomm.keenWriteKey = "<%= keenWriteKey %>";
    window.clientcomm.keenReadKey = "<%= keenReadKey %>";
  </script>

  <body>

  <% include ./flashMessages %>
  
  <div class="miniChromeBrowserDownloadPrompt">
    You are using an unsupported browser.
    <a  href="https://www.google.com/chrome/browser/desktop/index.html">
      <i class="fa fa-chrome"></i>
      <b>Download now</b>
    </a>
  </div>
