<% include ./navBarTop %>

<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">

  <div class="navSub">
  
    <% if (level == "org") { %>
      <div class="leftTab <%= hub.tab == 'dashboard' ? 'open' : 'closed' %>">
        <div class="title"><a href="/org">Metrics Dashboard</a></div>
      </div>

      <% if (user.class == "owner") { %>
        <%- leftTab('departments', hub, level, ['active', 'inactive']) %>
        <%- leftTab('numbers', hub, level, null) %>
      <% } %>

      <%- leftTab('users', hub, level, ['active', 'inactive']) %>
    <% } %>     

    <%- leftTab('clients', hub, level, ['open', 'closed']) %>
    <%- leftTab('captured', hub, level, null) %>

    <!-- Primary user level tabs -->
    <% if (level == "user") { %>
      <%- leftTab('notifications', hub, level, ['pending', 'sent']) %>
      <%- leftTab('templates', hub, level, null) %>
      <%- leftTab('groups', hub, level, ['current', 'deleted']) %>
    <% } %>


    <!-- Right "action" buttons -->
    <% if (level =="org") { %>
      <%- rightTab('numbers', 'phone', level) %>
      <%- rightTab('departments', 'building', level) %>
      <%- rightTab('users', 'user-plus', level) %>
    <% } %>

    <!-- primary -->
    <% if (level == "user") { %>
      <%- rightTab('groups', 'users', level) %>
      <%- rightTab('templates', 'clipboard', level) %> 
      <%- rightTab('notifications', 'bell', level) %>
    <% } %>

    <%- rightTab('clients', 'user', level) %>
      
  </div>

  <div class="coreContent">

  <% if (typeof viewingAsOther !== "undefined" && viewingAsOther) { %>
    <div class="viewingAsOtherBanner">
      You are viewing 
      <b><%= viewingAsOther.first + ' ' + viewingAsOther.last %>'s</b>
      clients dashboard.
    </div>
    <div class="otherBannerBumber"> </div>
  <% } %>