<% include ./headerBase %>

<% let levelSelectOptions = false; %>
<% if (typeof user !== "undefined" && ["owner", "supervisor", "support"].indexOf(user.class) > -1) { %>
  <% levelSelectOptions = true; %>
<% } %>

<% const performancePercentage = String(user.performanceThisWeek); %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_navBarTop.css">

<% include ./alertsFeed %>

<!-- Structure -->
<div class="applicationFrame">

  <div class="navHeader <%if (level=="org") {%>orgLevel<%}%>">
    <div class="leftLogo">
      <% include ../../../public/icons/logo.svg %>
      <a href="/">
        <div class="button">
          <div class="name">
            <b><%= user.first %> <%= user.last %></b>
            
          </div>
          <div class="organization">
            <%= department.name %>, 
            <%= organization.name %>
          </div>
        </div>
      </a>
    </div>

    <div class="rightLogout">

      <% if (levelSelectOptions) { %>
        <a href="/">
          <span class="button levels <%if (level=="org") {%>selected<%}%>">
            Organization
          </span>
        </a>

        <a href="/clients">
          <span class="button levels <%if (level=="user") {%>selected<%}%>">
            Caseload
          </span>
        </a>

        <a href="#">
          <span class="button adminPerformance" style="font-size: 12px">
            <%= performancePercentage %>% 
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </span>
        </a>
      <% } %>

      <a href="/settings">
        <span class="button">
          <i class="fa fa-cog"></i>
          <span class="hidden">Settings</span>
        </span>
      </a>

      <a href="/help">
        <span class="button">
          <i class="fa fa-question"></i>
          <span class="hidden">Help</span>
        </span>
      </a>

      <a href="/logout">
        <span class="button">
          <i class="fa fa-close"></i>
          <span class="hidden">Logout </span></span>
      </a>
    </div>

    <div class="performance <% if (levelSelectOptions) { %>adminVersion<% } %>">
      <div class="performanceBar">
        <span style="width: <%=performancePercentage%>%"></span>
      </div>
      <div class="performanceBarValue">
        <%=performancePercentage%>%
      </div>
      <div class="performanceBarAlert">
        <div class="arrowTop"></div>
        <div class="alertsBody">
          <div class="alertRow">
            <div class="message">
              <% if (performancePercentage > 95) { %>
                Congratulations! You're a top user this week - Don’t forget to brag about it to your friends! 😉
              <% } else { %>
                You are <%=performancePercentage%>% to being the top user this week! Keep it up!
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>