<% include ./headerBase %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_navBarTop.css">


<% include ./flashMessages %>
<% include ./alertsFeed %>


<!-- Structure -->
<div class="applicationFrame">

  <div class="navHeader">
    <div class="leftLogo">
      <% include ../../../public/icons/logo.svg %>
      <a href="/">
        <div class="button">
          <div class="name">
            <b><%= user.first %> <%= user.last %></b>
            <small><%= user.class.charAt(0).toUpperCase() + user.class.slice(1) %></small>
          </div>
          <div class="organization">
            <%= department.name %> Department, 
            <%= organization.name %>
          </div>
        </div>
      </a>
    </div>

    <div class="rightLogout">

      <% if (typeof user !== "undefined" && ["owner", "supervisor", "developer"].indexOf(user.class) > -1) { %>
        <a href="/org">
          <span class="button">
            <i class="fa fa-lg fa-tachometer" aria-hidden="true"></i>
            <span class="hidden">Dashboard</span>
          </span>
        </a>

        <a href="/clients">
          <span class="button">
            <i class="fa fa-lg fa-comments" aria-hidden="true"></i>
            <span class="hidden">Clients</span>
          </span>
        </a>

        <span class="verticalDivider"></span>
      <% } %>

      <a href="/settings">
        <span class="button">
          <i class="fa fa-lg fa-cog" aria-hidden="true"></i>
          <span class="hidden">Settings</span>
        </span>
      </a>

      <a href="/logout">
        <span class="button">
          <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i>
          <span class="hidden">Logout</span>
        </span>
      </a>
    </div>
  </div>