<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/notifications">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Notification Message
  </div>
  <div class="cardSubtitle">
    
  </div>
</div>

<div class="cardBody">
  
  <div class="formRow">
    <form action="/notifications/create/templates">
      <!-- Hidden components hold the send information from previous card view -->
      <input type="hidden" name="clientID" value="<%= parameters.clientID %>" > 
      <input type="hidden" name="commID"   value="<%= parameters.commID %>" > 
      <input type="hidden" name="sendDate" value="<%= parameters.sendDate %>" > 
      <input type="hidden" name="sendHour" value="<%= parameters.sendHour %>" > 

      <input type="submit" id="useTemplate" class="formSubmit fullWidth inverse" value="Load template">

      <div class="centerNotes">
        - or create custom message below -
      </div>
    </form>
    </a>
  </div>

  <br>

  <form method="post" action="/notifications/create">
    <input type="hidden" name="templateid" value="<%= parameters.templateid -%>">
    <input type="hidden" name="clientID" value="<%= parameters.clientID %>" > 
    <input type="hidden" name="commID"   value="<%= parameters.commID %>" > 
    <input type="hidden" name="sendDate" value="<%= parameters.sendDate %>" > 
    <input type="hidden" name="sendHour" value="<%= parameters.sendHour %>" > 
    <div class="formRow smallBottomPad">
      <div class="formLabel"> Subject <small>(only visible to client via emails)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= parameters.title || `New Message from ${user.first} ${user.last}` %>" 
                placeholder="" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message </div>
      <div class="formInput">
        <textarea name="message" rows="5" maxlength="160" required><%= parameters.content %></textarea>
      </div>
    </div>

    <input 
      type="submit" 
      class="formSubmit padTop" 
      value="Submit">
  </form>

</div>

<script type="text/javascript" class="JSclientsCompose"></script>

<% include ../partials/cardFrameBottom %>