<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">
<link rel="stylesheet" type="text/css" href="/static/css/cardInverse.css">

<div class="contents">

<!-- Moved the exit out of the card -->
<a href="/cms/<%= user.cmid %>/notifications">
  <% include ../../partials/card-exit %>
</a>

<div class="card">

  <div class="card-title">
    Start Notification
  </div>

  <div class="comms-link">
    <small>
    <a href="/cms/<%= user.cmid %>/notifications">
      View All Notification
      <i class="fa fa-list-alt"></i>
    </a>
    </small>
  </div>

  <form method="post" id="newNotification">

    <input type="hidden" name="cmid" value="<%= user.cmid %>">
    <input type="hidden" name="sendDate" value="<%= notification.sendDate %>">
    <input type="hidden" name="sendTimeHour" value="<%= notification.sendTimeHour %>">
    <input type="hidden" name="sendTimeMin" value="<%= notification.sendTimeMin %>">
    <input type="hidden" name="recipient" value="<%= notification.recipient %>">
    <input type="hidden" name="recipientComm" value="<%= notification.recipientComm %>">

    <div class="form-row">
      <div class="form-label"> Subject (not visible by client) </div>
      <input class="form-input" type="text" name="notiSubj" maxlength="30" 
        <% if (notification.notiSubj) { %>
          value="<%= notification.notiSubj %>"
        <% } %> 
        required>
    </div>

    <div class="form-row">
      <div class="form-label"> Notification Message </div>
      <textarea class="form-input" name="notiCopy" rows="5" maxlength="160" required><% if (notification.notiCopy) { %><%= notification.notiCopy %><% } %></textarea>
    </div>

    <input type="submit" class="form-submit" value="Submit">

  </form>

  <div class="bottom-nav-dots">
    <i class="fa fa-circle-thin" id="showOtherCard"></i>
    <i class="fa fa-circle"></i>
  </div>

</div>
</div>

<script type="text/javascript">
  // Special card toggle option
  $("#showOtherCard").click(function () {
    console.log("me");
    var input = $("<input>", { type: "hidden", name: "showCardExplicit", value: "1" }); 
    $("#newNotification").append($(input));
    $("#newNotification").submit();
  });
</script>

<% include ../../partials/footers/footer %>
