<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<div class="contents">

  <div class="sort-opts">
    <div class="toggle <% if (!archiveView) { %> selected <% } %>">
      <a href="/cms/<%= user.cmid %>/notifications/overview/incomplete">
        Upcoming
      </a>
    </div>
    <div class="toggle <% if (archiveView)  { %> selected <% } %>">
      <a href="/cms/<%= user.cmid %>/notifications/overview/complete">
        Completed
      </a>
    </div>
  </div>

  <a href="/cms/<%= user.cmid %>/notifications/new">
    <div class="newclient"> 
      <% include ../../../public/icons/bigplus.svg %> 
      New Notification 
    </div>
  </a>

  <div class="title">
    Notifications
    <% if (archiveView) { %> 
      Already Sent
    <% } else { %>
      Waiting to be Sent
    <% } %>
  </div>

  <table class="cl-list">

    <tr>
      <th>Subject</th>
      <th>Message Body</th>
      <th>Send Date/Time</th>
      <th>Created</th>
      <th>Repeat</th>
    </tr>


    <% if (notifications.length > 0) { %>
      <% for (var i = 0; i < notifications.length; i++ ) { %>

        <tr>

        <td>
          <%= notifications[i].subject %>
        </td>

        <td>
          <%= notifications[i].message %>
        </td>

        <td>
          <%= moment(notifications[i].send).tz(org.tz).format("MMMM Do YYYY, h:mm a"); %>
        </td>

        <td>
          <%= moment(notifications[i].created).tz(org.tz).format("MMMM Do YYYY, h:mm a"); %>
        </td>

        <td>
          <% if (notifications[i].repeat) { %>
            Rep
          <% } else { %>
            N/A
          <% } %>
        </td>

        </tr>

      <% } %>
    <% } %>

  </table>
</div>

<% include ../../partials/footers/footer %>
