<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<!-- Include notification view-specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/notificationsList.css">

<div class="contents">

  <!-- Temp solution to deal with tempalte and notification access -->
  <div class="sort-opts">
    <a href="/cms/<%= user.cmid %>">
      <div class="toggle"> Client Directory </div>
    </a>
    <a href="/cms/<%= user.cmid %>/notifications">
      <div class="toggle selected"> Notifications </div>
    </a>
    <a href="/cms/<%= user.cmid %>/templates">
      <div class="toggle"> Templates </div>
    </a>
  </div>
  <hr>

  <div class="sort-opts">
    <div class="toggle <% if (!archiveView) { %> selected <% } %>">
      <a href="/cms/<%= user.cmid %>/notifications/overview/open">
        Upcoming
      </a>
    </div>
    <div class="toggle <% if (archiveView)  { %> selected <% } %>">
      <a href="/cms/<%= user.cmid %>/notifications/overview/closed">
        Completed
      </a>
    </div>
  </div>

  <a href="/cms/<%= user.cmid %>/notifications/new">
    <div class="newclient"> 
      <% include ../../../public/icons/bigplus.svg %> 
      New Notification 
    </div>
  </a>

  <div class="title">
    Notifications
    <% if (archiveView) { %> 
      Already Sent
    <% } else { %>
      Waiting to be Sent
    <% } %>
  </div>

  <table class="list">

    <tr>
      <th>Edit</th>
      <th>Send To</th>
      <th>Message</th>
      <th>Send Date</th>
      <th>Send Time</th>
      <th>Created</th>
      <th>Repeat</th>
      <th>Delete</th>
    </tr>


    <% if (notifications.length > 0) { %>
      <% for (var i = 0; i < notifications.length; i++ ) { %>

        <tr>

          <td class="fa-icon-holder">
            <% if (!archiveView) { %>
              <a href="/cms/<%= user.cmid %>/notifications/<%= notifications[i].notificationid %>/edit %>">
                <i class="fa fa-pencil standard-fa-no-stack"></i>
              </a>
            <% } else { %>
              <span class="fa-stack disabled">
                <i class="fa fa-pencil fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x fa-rotate-90"></i>
              </span>
            <% } %>
          </td>

          <td>
            <%= notifications[i].first %>
            <%= notifications[i].last %>
          </td>

          <td>
            <%= notifications[i].subject %>
            <br>
            <small>
              <%= notifications[i].message %>
            </small>
          </td>

          <td>
            <%= moment.tz(notifications[i].send, local_tz).format("MM/DD/YY"); %>
          </td>

          <td>
            <%= moment.tz(notifications[i].send, local_tz).format("h:mm A"); %>
          </td>

          <td>
            <%= moment.tz(notifications[i].created, local_tz).format("MM/DD"); %>
          </td>

          <td>
            <% if (notifications[i].repeat) { %>
              Rep
            <% } else { %>
              No repeat set
            <% } %>
          </td>

          <td class="fa-icon-holder">
            <% if (!archiveView) { %>
              <form 
                action="/cms/<%= user.cmid %>/notifications/<%= notifications[i].notificationid %>/delete %>"" 
                method="post">
                  <button type="submit">
                    <i class="fa fa-trash standard-fa-no-stack"></i>
                  </button>
              </form>

            <% } else { %>
              <span class="fa-stack disabled">
                <i class="fa fa-trash fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x fa-rotate-90"></i>
              </span>
            <% } %>
          </td>

        </tr>

      <% } %>
    <% } %>

  </table>
</div>

<% include ../../partials/footers/footer %>
