<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Create Message</div>
  <div class="cardSubtitle">
    Send a message to <%=`${client.first}`%>. Use "Send Voice Message" button to record and send a voice message instead.
    <% if (level == "user") { %>
      Load messages from templates to use pre-built phrases.
    <% } %>
  </div>
</div>

<div class="cardBody">
  

  <div class="formRow">
      <div class="formLabel"> Options </div>
      <div class="formInput">
      <center>
        <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}/voicemessage`%>/">
          <button class="formSubmit inline">
            Send a voice message
          </button>
        </a>
        <!-- load template option only on primary accounts view -->
        <% if (level == "user") { %>
          <a href="<%=`/clients/${client.clid}/address/templates`%>">
            <button class="formSubmit inline">
              Load a template
            </button>
          </a>
        <% } %>
      </center>
    </div>
  </div>

  <form method="post">

    <div class="formRow <% if (!template.title) { %>subdued<% } %>">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= template.title %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="content" rows="5" maxlength="320" required><%= template.content -%></textarea>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">Send to which of <%= client.first %>'s contact methods</div>
      <select class="blueSelect" name="commID" required>

        <!-- default to smart select always -->
        <option value="null" selected>Smart Select (Best Contact Method)</option>
        <% client.communications.forEach(function (comm) { %>
          <option value="<%= comm.commid %>"><%= `${comm.name} (${comm.value})` %></option>
        <% }) %>

      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Send Client Message">
  </form>

</div>


<script type="text/javascript" class="JSclientAddress"></script>

<% include ../partials/cardFrameBottom %>