<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Create Message</div>
  <div class="cardSubtitle">
    
  </div>
</div>

<div class="cardBody">

  <div class="formRow">
      <div class="formInput">
      <center>
        <!-- load template option only on primary accounts view -->
        <% if (level == "user") { %>
          <a href="<%=`/clients/${client.clid}/address/templates`%>">
            <button class="formSubmit inverse fullWidth">
              Load template
            </button>
          </a>
        <% } %>

        <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}/voicemessage`%>/">
          <button class="formSubmit inverse fullWidth">
            Record voice
          </button>
        </a>
      </center>

      <div class="centerNotes">
        - or create custom message below -
      </div>
    </div>
  </div>

  <br>

  <div class="formRow smallBottomPad">
    <div class="formLabel">
    </div>
    <div class="formInput" style="font-size:12px">
      <a href="<%=`/notifications/create?client=${client.clid}&user=${user.cmid}`%>">
          Want to send later?
          <span style="text-decoration: underline;">Create notification.</span>
      </a>
    </div>
  </div>

  <form method="post">

    <div class="formRow smallBottomPad">
      <div class="formLabel"> Subject <small>(only visible to client via emails)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= template.title || `New Message from ${user.first} ${user.last}` %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message </div>
      <div class="formInput">
        <textarea name="content" rows="5" maxlength="320" required><%= template.content -%></textarea>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">Select contact method </div>
      <select class="blueSelect" name="commID" required>

        <!-- default to smart select always -->
        <option value="null" selected>Smart Select (Best Contact Method)</option>
        <% client.communications.forEach(function (comm) { %>
          <option value="<%= comm.commid %>"><%= `${comm.name} (${comm.value})` %></option>
        <% }) %>

      </select>
    </div>

    <input  type="submit" 
            class="formSubmit padTop" 
            value="Submit">
  </form>

</div>


<script type="text/javascript" class="JSclientAddress"></script>

<% include ../partials/cardFrameBottom %>