<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Quick Message</div>
  <div class="cardSubtitle">
    Send a quick message to <%=`${client.first}`%>.
    <% if (level == "user") { %>
      Load messages from templates to use pre-built phrases.
    <% } %>
  </div>
</div>

<div class="cardBody">
  
  <!-- load template option only on primary accounts view -->
  <% if (level == "user") { %>
    <div class="formRow">
      <a href="<%=`/clients/${client.clid}/address/templates`%>">
        <input type="submit" class="formSubmit inverse" value="Load a template">
      </a>
    </div>
  <% } %>

  <form method="post">

    <div class="formRow <% if (!template.title) { %>subdued<% } %>">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= template.title %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="content" rows="5" maxlength="320" required><%= template.content -%></textarea>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">Send to which of <%= client.first %>'s contact methods</div>
      <select class="blueSelect" name="commID" required>

        <!-- default to smart select always -->
        <option value="null" selected>Smart Select</option>
        <% client.communications.forEach(function (comm) { %>
          <option value="<%= comm.commid %>"><%= `${comm.name} (${comm.value})` %></option>
        <% }) %>

      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Send Client Message">
  </form>

</div>


<script type="text/javascript" class="JSclientAddress"></script>

<% include ../partials/cardFrameBottom %>