<% include ../partials/cardFrameTop %>

<script src="/static/js/jscolor.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/v4_colorSelector.css">

<div class="cardHead">
  <a href="/clients"><% include ../partials/cardExit %></a>
  <div class="cardTitle">
    Group Client by Color
  </div>
  <div class="cardSubtitle">
    
  </div>
</div>

<div class="cardBody">

  <div class="coloredClientFrame">
    <div  class="clientNameBox" 
          style="background-color:<%=client.color_tag%>">
      <%= client.first + ' ' + client.last %>
    </div>
    <div class="clientColorNameSelected">
      <%= client.color_name %>
    </div>
  </div>

  <div class="manageColorsLink">
    <a href="/colors">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        Add / Edit Colors
    </a>
  </div>


  <div class="colorList">
    <div  class="colorTag" 
          data-colorID=""
          data-colorTagName="None"
          style="background-color:#898989"></div>
    <div class="colorName">
      None
    </div>
  </div>

  <% colors.forEach(function (tag) { %>
    <div class="colorList">
      <div  class="colorTag" 
            data-colorID="<%= tag.color_tag_id %>"
            data-colorTagName="<%= tag.name %>"
            style="background-color:<%= tag.color %>"></div>
      <div class="colorName">
        <%= tag.name %>
      </div>
    </div>
  <% }) %>

  <center>
    <form method="post" 
          action="<%=`/clients/${client.clid}/edit/color`%>">
      <input  type="hidden" 
              id="chosenColorID"
              name="colorID"
              value="">
      <input  type="submit" 
              class="formSubmit" 
              value="Save">
    </form>
  </center>

</div>

<script type="text/javascript" class="JSclientSelectColor"></script>

<% include ../partials/cardFrameBottom %>