<% include ../partials/clientFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientCommunications.css">

<div class="header">
  <div class="column">name</div>
  <div class="column">details</div>
  <div class="column">type</div>
  <div class="column">use count</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% if (communications.length == 0) { %><% include ../partials/emptyResultsGreeting %><% } %>


<% communications.forEach(function (comm) { %>
  <div class="communicationRow">
    <div class="column">
      <span class="name"><%- comm.name || `&nbsp;` %></span>
    </div>
    <div class="column"><%- comm.value || `&nbsp;` %></div>
    <div class="column"><%- comm.type || `&nbsp;` %></div>
    <div class="column"><span class="bigNumber"><%= comm.useCount %></span></div>
    <div class="column">
      <a href="<%=`/clients/${client.clid}/communications/${comm.commconnid}/edit`%>">
        <i class="fa highlight fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <a href="<%=`/clients/${client.clid}/communications/${comm.commconnid}/remove`%>">
        <i class="fa highlight fa-trash" aria-hidden="true"></i>
      </a>
    </div>
  </div>
<% }) %>

<% include ../partials/hubFrameBottom %>