<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}/communications`%>">
    <% include ../partials/cardExit %>
  </a>
  <div class="cardTitle">
    <% if (commConn.commconnid) { %>
      Edit
    <% } else { %>
      Create
    <% } %>
    Contact Method
  </div>
  <div class="cardSubtitle">
    Create new contact methods to update client communication options.
  </div>
</div>



<div class="cardBody">
  <form method="post"
        action="<%=`${level === "org" ? "/org/clients" : "/clients"}/${client.clid}/communications/create`%>">

    <div class="formRow">
      <div class="formLabel"> Title </div>
      <div class="formInput">
        <input type="text" name="description" value="<%= commConn.name %>" maxlength="30" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Communication Type </div>
      <select class="blueSelect" name="type">
        <option value="" disabled> Comm Method</option>
        <option value="cell" selected>Cellphone</option>
        <option value="email">Email</option>
        <option value="landline">Landline</option>
      </select>
    </div>

    <div class="formRow">
      <div class="formLabel"> Details (ex: phone number, email) </div>
      <div class="formInput">
        <input type="text" name="value" value="<%= commConn.value %>" placeholder="">
      </div>
    </div>

    <input type="hidden" name="override" value="<%= commConn.commconnid %>">

    <input type="submit" class="formSubmit padTop" value="Submit">

  </form>
</div>



<% include ../partials/cardFrameBottom %>