<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  </a>
  <div class="cardTitle">
    Edit Client
  </div>
  <div class="cardSubtitle">
    Change client attributes and update unique identifiers.
  </div>
</div>

<div class="cardBody">

  <form method="post">

    <div class="formRow">
      <div class="formLabel"> First </div>
      <div class="formInput">
        <input type="text" name="first" value="<%= client.first %>" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Middle </div>
      <div class="formInput">
        <input type="text" name="middle" value="<%= client.middle %>">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Last </div>
      <div class="formInput">
        <input type="text" name="last" value="<%= client.last %>" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Date of Birth <small>(YYYY-MM-DD)</small> <span class="opt">optional</span> </div>
      <% var defaultbday = moment(client.dob).format("YYYY-MM-DD"); %>
      <div class="formInput">
        <input type="date" name="dob" value="<%= defaultbday %>">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Sheriff's Number (SO#) <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="uniqueID1" value="<%= client.so %>">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Offender Tracking Number (OTN) <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="uniqueID2" value="<%= client.otn %>">
      </div>
    </div>

    <input type="submit" class="formSubmit" value="Update">

  </form>

</div>


<% include ../partials/cardFrameBottom %>