<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientsList.css">

<% if (typeof limitByUser !== "undefined" && limitByUser) { %>
  <div class="viewingAsOtherBanner">
    You are viewing a subset of the overall clients list, limited by a single case manager.
  </div>
  <div class="otherBannerBumber"> </div>
<% } %>

<div class="header">

  <% if (level == "user") { %>
    <div class="column" onclick="sortBy('client-color')">
      <i class="fa fa-sort" aria-hidden="true"></i> color
    </div>
  <% } else { %>
    <div class="column">&nbsp;</div>
  <% } %>

  <div class="column" onclick="sortBy('client-name')">
    <i class="fa fa-sort" aria-hidden="true"></i> 
    client name
  </div>
  <div class="column">unread</div>
  <div class="column">last activity</div>

  <% if (level == "org") { %>
    <div class="column">case manager</div>
  <% } else { %>
    <div class="column">&nbsp;</div>
  <% } %>  

  <% if (hub.sel == "archived") { %>
    <div class="column">&nbsp;</div>
  <% } else { %>
    <% if (user.class !== "primary") { %>
      <div class="column">message</div>
    <% } else { %>
      <div class="column">&nbsp;</div>
    <% } %>
  <% } %>

  <% if (hub.sel == "archived") { %>
    <div class="column">&nbsp;</div>
  <% } else { %>
    <div class="column">edit</div>
  <% } %>

  <% if (user.class !== "support"){ %>
    <div class="column">transcript</div>
  <% } else { %>
    <div class="column">&nbsp;</div>
  <% } %>

  <div class="column">transfer</div>

  <% if (hub.sel == "archived") { %>
    <div class="column">restore</div>
  <% } else { %>
    <div class="column">archive</div>
  <% } %>
</div>

<% if (clients.length == 0) { %><% include ../partials/emptyResultsGreeting %><% } %>

<% clients.forEach( function (client) { %>
  <% let clientBaseURL = `${level === "org" ? "/org" : ""}/clients/${client.clid}`; %>
  <div  class="clientRow <%if (!client.unread) {%>inactive<%}%>" 
        data-client-color="<%= client.color_tag %>"
        data-client-name="<%= `${client.last} ${client.middle} ${client.first}` %>">

    <!-- color tag can only be edited if user level -->
    <div class="column" value="<%= client.color_name %>">
      <% if (level === "user") { %>
        <a href="<%=`/clients/${client.clid}/edit/color`%>">
          <div class="colorTag" style="background-color: <%= client.color_tag %>"></div>
        </a>
      <% } else { %>
        <%- `&nbsp;` %>
      <% } %>
    </div>

    <div class="column">
      <% if (user.class == "support" || user.class == "primary") { %>
        <% if (client.communications.length) { %>
          <a href="<%=`/clients/${client.clid}/messages`%>">
        <% } else { %>
          <a href="<%=`${clientBaseURL}/communications/create`%>">
        <% } %>
      <% } else { %>
        <a href="<%=`/clients/${client.clid}`%>">
      <% } %>
        <span class="clientName">
          <%=`${client.last}, ${client.first} ${client.middle}`%>
        </span>
      </a>
    </div>

    <div class="column">
      <% if (client.unread > 0) { %>
        <a href="<%=`/clients/${client.clid}/messages`%>">
          <span class="bigNumber"><%= client.unread %></span>
        </a>
      <% } else { %>&nbsp;<% } %>
    </div>
    
    <div class="column">
      <small>
        <%= moment.tz(client.updated, organization.tz).fromNow() %>
      </small>
    </div>

    <div class="column">
      <% if (level == "org") { %>
        <a href="<%=`/org?user=${client.user_id}&department=${client.department}`%>">
          <span class="clientName">
            <%=`${client.user_last}, ${client.user_first}`%>
          </span>
        </a>
      <% } else { %>&nbsp;<% } %>
    </div>

    <div class="column">
      <% if (client.active && user.class !== "primary") { %>
        <a href="<%=`${clientBaseURL}/address`%>">
          <i class="fa highlight fa-send" aria-hidden="true"></i>
        </a>
      <% } else { %>&nbsp;<% } %>
    </div>

    <div class="column">
      <% if (client.active) { %>
        <a href="<%= `${clientBaseURL}/edit` %>">
          <i class="fa highlight fa-pencil" aria-hidden="true"></i>
        </a>
      <% } else { %>&nbsp;<% } %>
    </div>

    <div class="column">
      <!-- Both levels href to same endpoint since it just returns a text download log -->
      <a href="<%= `/clients/${client.clid}/transcript?with=${client.cm}` %>">
        <i class="fa highlight fa-download" aria-hidden="true"></i>
      </a>
    </div>

    <div class="column">
      <% if (user.class == "owner" || user.class == "support") { %>
        <a href="<%= `${clientBaseURL}/transfer?allDepartments=true` %>">
      <% } else { %>
        <a href="<%= `${clientBaseURL}/transfer` %>">
      <% } %>
        <i class="fa highlight fa-mail-forward" aria-hidden="true"></i>
      </a>
    </div>

    <div class="column">
      <% if (hub.sel == "current") { %>
        <a href="<%= `${clientBaseURL}/alter/close` %>">
          <i class="fa highlight fa-trash" aria-hidden="true"></i>
        </a>
      <% } else { %>
        <a href="<%= `${clientBaseURL}/alter/open` %>">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>

  </div>
<% }) %>

<script type="text/javascript" class="JSclientIndex"></script>

<% include ../partials/hubFrameBottom %>