<% include ../partials/hubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientsList.css">

<% if (typeof limitByUser !== "undefined" && limitByUser) { %>
  <div class="viewingAsOtherBanner">
    You are viewing a subset of the overall clients list, limited by a single case manager.
  </div>
  <div class="otherBannerBumber"> </div>
<% } %>

<div class="header">
  <% if (hub.sel == "closed") { %>
    <div class="column">-</div>
  <% } else { %>
    <div class="column">message</div>
  <% } %>
  <div class="column">color</div>
  <div class="column">client name</div>
  <div class="column">unread</div>
  <div class="column">last activity</div>
  <div class="column">case manager</div>

  <% if (user.class !== "support"){ %>
    <div class="column">transcript</div>
  <% } else { %>
    <div class="column">-</div>
  <% } %>

  <div class="column">edit</div>
  <div class="column">transfer</div>

  <% if (hub.sel == "closed") { %>
    <div class="column">restore</div>
  <% } else { %>
    <div class="column">remove</div>
  <% } %>
</div>

<% if (clients.length == 0) { %><% include ../partials/emptyResultsGreeting %><% } %>

<% clients.forEach( function (client) { %>
  <% let clientBaseURL = `${level === "org" ? "/org" : ""}/clients/${client.clid}`; %>
  <div  class="clientRow <%if (!client.unread) {%>inactive<%}%>" 
        data-client-color="<%= client.color_tag %>">

    <div class="column">
      <% if (client.active) { %>
        <% if (client.communications.length) { %>
          <a href="<%=`${clientBaseURL}/address`%>">
            <i class="fa highlight fa-send" aria-hidden="true"></i>
          </a>
        <% } else { %>
          <a href="<%=`${clientBaseURL}/communications/create`%>">
            <i class="fa highlight fa-plus" aria-hidden="true"></i>
          </a>
        <% } %>
      <% } else { %>-<% } %>
    </div>

    <!-- color tag can only be edited if user level -->
    <div class="column" value="<%= client.color_name %>">
      <% if (level === "user") { %>
        <a href="<%=`/clients/${client.clid}/edit/color`%>">
      <% } %>
      <div class="colorTag" style="background-color: <%= client.color_tag %>"></div>
      <% if (level === "user") { %>
        </a>
      <% } %>
    </div>

    <div class="column">
      <% if (user.class == "support") { %>
        <a href="<%=`${clientBaseURL}/messages`%>">
      <% } else { %>
        <a href="<%=`${clientBaseURL}`%>">
      <% } %>
        <span class="clientName">
          <%=`${client.last}, ${client.first} ${client.middle}`%>
        </span>
      </a>
    </div>

    <div class="column">
      <% if (client.unread > 0) { %>
        <span class="bigNumber"><%= client.unread %></span>
      <% } else { %>-<% } %>
    </div>
    
    <div class="column">
      <small>
        <%= moment.tz(client.updated, organization.tz).fromNow() %>
      </small>
    </div>

    <div class="column">
      <% if (level == "org") { %>
        <a href="<%=`/org?user=${client.user_id}&department=${client.department}`%>"><span class="clientName">
      <% } %>
      <%=`${client.user_last}, ${client.user_first}`%>
      <% if (level == "org") { %>
        </span></a>
      <% } %>
    </div>

    <div class="column">
      <% if (user.class !== "support"){ %>
        <!-- Both levels href to same endpoint since it just returns a text download log -->
        <a href="<%= `/clients/${client.clid}/transcript?with=${client.cm}` %>">
          <i class="fa highlight fa-download" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>

    <div class="column">
      <a href="<%= `${clientBaseURL}/edit` %>">
        <i class="fa highlight fa-pencil" aria-hidden="true"></i>
      </a>
    </div>

    <div class="column">
      <% if (user.class == "owner" || user.class == "support") { %>
        <a href="<%= `${clientBaseURL}/transfer?allDepartments=true` %>">
      <% } else { %>
        <a href="<%= `${clientBaseURL}/transfer` %>">
      <% } %>
        <i class="fa highlight fa-mail-forward" aria-hidden="true"></i>
      </a>
    </div>

    <div class="column">
      <% if (hub.sel === "open") { %>
        <a href="<%= `${clientBaseURL}/alter/close` %>">
          <i class="fa highlight fa-book" aria-hidden="true"></i>
        </a>
      <% } else { %>
        <a href="<%= `${clientBaseURL}/alter/open` %>">
          <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>

  </div>
<% }) %>

<script type="text/javascript" class="JSclientIndex"></script>

<% include ../partials/hubFrameBottom %>