<% include ../partials/clientFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientMessages.css">

<div class="leftBar">
  <div class="conversations">
    <div class="conversation">
      <div class="subject showAll">
        <a href="<%=`/clients/${client.clid}/messages`%>">Show all conversations</a>
      </div>
    </div>
    <% conversations.forEach(function (conversation) { %>
      <a href="<%=`/clients/${client.clid}/messages?conversation=${conversation.convid}`%>">
        <div class="conversation <% if (convoFilter == Number(conversation.convid)) { %>selected<% } %>">
          <div class="subject">
            <%= conversation.subject ? conversation.subject : 'No Subject' %>
          </div>
          <div class="date">
            <div class="day"><%= moment.tz(conversation.updated, organization.tz).format("DD/MM/YY") %></div>
            <div class="time"><%= moment.tz(conversation.updated, organization.tz).format("hh:mm A") %></div>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</div>


<div class="rightContent">

  <div class="messageStream">
    <% messages.forEach(function (message, messageIndex) { %>
      <div class="message <%= message.inbound ? 'inbound' : 'outbound' %>"
            <% if (messageIndex == messages.length - 1) { %>id="lastMessage"<% } %>>
        <div class="content">
          <%= message.content %>
        </div>

        <div class="bottomRow">

          <% if (message.comm_type == 'cell') { %>
            <i class="fa fa-mobile" aria-hidden="true"></i>
          <% } %>

          <%= message.inbound ? 'Received via' : 'Sent to' %>
          <%= client.first + "'s" %> <%= message.commconn_name %>

          <span class="state">
            <%= message.tw_status %> on 
            <%= moment.tz(message.created, organization.tz).format("MM/DD"); %> at 
            <%= moment.tz(message.created, organization.tz).format("hh:mm A"); %>
          </span>
        </div>
      </div>
    <% }) %>
  </div>

  <div class="responseBox">
    <form method="post"
          id="newMessage" 
          action="<%=`/clients/${client.clid}/messages`%>">
      <% if (userOwnsClient) { %>
        <div class="mini" id="typeBox">
          <div class="messageInput">
            <div class="left">Start typing message...</div>
            <div class="right"><i class="fa fa-keyboard-o" aria-hidden="true"></i> </div>
          </div>
        </div>
      <% } else { %>
        <div class="mini">
          <div class="messageInput disabled">
            Viewing other user's client conversation log, use clients list to send quick messages or transfer client to use conversation view.
          </div>
        </div>
      <% } %>

      <div class="full">
        <div class="messageInput">
          <textarea name="content"
                    rows="5"></textarea>
        </div>

        <div class="bottomRow">
            <div class="optionButton" id="closeTypeBox">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>
          <div class="optionButton"><i class="fa fa-upload" aria-hidden="true"></i> Load a Template</div>

          <div class="contactSelect">
            <select name="commID" required>
              <option value="" selected disabled>Comm Method</option>
              <% communications.forEach(function (communication) { %>
                <option value="<%= communication.commid %>"><%= communication.name + ' (' + communication.value + ')' %></option>
              <% }) %>
            </select>
          </div>

          <div class="submit disabled">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            Send
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<script type="text/javascript">
  // Toggle Writing View for Message Entry
  function toggleTypeBox () {
    $("#typeBox").toggle();
    $(".full").toggle();
    if ($("#typeBox").is(":visible")) {
      $(".messageStream").css("margin-bottom", 60);
    } else { 
      $(".messageStream").css("margin-bottom", 150);
      scrollLast()
    }
  }

  function adjustDivs () {
    $(".leftBar").height($(window).height() - 92);
    $(".rightContent").height($(window).height() - 92);
  }

  function scrollLast () {
    $("#lastMessage")[0].scrollIntoView({ 
      block: "end", 
      behavior: "smooth"
    });
  }

  function checkSubmitValid () {
    var ok = true;
    if ($("select[name=commID]").val() == null) ok = false;
    if ($("textarea[name=content]").val().length == 0) ok = false;
    if (ok) {
      $(".submit").removeClass("disabled");
    } else {
      $(".submit").addClass("disabled");
    }
    return ok;
  }

  $(window).resize(adjustDivs)

  $("#typeBox").click(toggleTypeBox);
  $("#closeTypeBox").click(toggleTypeBox);

  $("textarea[name=content]").keyup(checkSubmitValid);
  $("select[name=commID]").change(checkSubmitValid);

  $(".submit").click(function () {
    if (checkSubmitValid()) {
      $("#newMessage").submit();
    }
  });

  // On load actions
  $(window).ready(function () {
    try { adjustDivs(); scrollLast(); } catch (e) { console.log(e); }
  });
</script>

<% include ../partials/hubFrameBottom %>