<% let clientBaseURL = `${level === "org" ? "/org" : ""}/clients/${client.clid}`; %>

<% include ../partials/clientFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientMessages.css">

<div class="leftBar">
  <div class="conversations">
    <div class="conversation">
      <div class="subject showAll">
        <a href="<%=`/clients/${client.clid}/messages`%>">Show all conversations</a>
      </div>
    </div>
    <% conversations.forEach(function (conversation) { %>
      <a href="<%=`/clients/${client.clid}/messages?conversation=${conversation.convid}`%>">
        <div class="conversation <% if (convoFilter == Number(conversation.convid)) { %>selected<% } %>">
          <div class="subject">
            <%= conversation.subject ? conversation.subject : 'No Subject' %>
          </div>
          <div class="date">
            <div class="day">started: <%= moment.tz(conversation.updated, organization.tz).format("MM/DD/YY") %></div>
            <div class="time">last message: <%= moment.tz(conversation.updated, organization.tz).format("hh:mm A") %></div>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
</div>


<div class="rightContent">

  <div class="subjectToggle">
    <span class="title">subject view</span>
    <span class="option selected" id="subjectView-on">on</span> 
    <span class="option" id="subjectView-off">off</span>
  </div>

  <div class="messageStream">
    <% messages.forEach(function (message, messageIndex) { %>
      <div class="messageDiv <%= !message.inbound ? 'rightAligned' : '' %>">
        <div class="message <%= message.inbound ? 'inbound' : 'outbound' %>"
              <% if (messageIndex == messages.length - 1) { %>id="lastMessage"<% } %>>
          <div class="content">
            <%= message.content %>

            <% message.attachments.forEach((attachment) => { %>
               <a href="<%= attachment.getUrl() %>">attachment</a> 
            <% }) %>
          </div>

          <div class="bottomRow">

            <% if (message.comm_type == 'cell') { %>
              <i class="fa fa-mobile" aria-hidden="true"></i>
            <% } %>

            <%= message.inbound ? 'Received via' : 'Sent to' %>
            <%= client.first + "'s" %> <%= message.commconn_name %>

            <span class="state">
              <%= message.tw_status %> on 
              <%= moment.tz(message.created, organization.tz).format("MM/DD"); %> at 
              <%= moment.tz(message.created, organization.tz).format("hh:mm A"); %>
            </span>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<div class="responseBox">
  <form method="post"
        id="newMessage" 
        action="<%=`/clients/${client.clid}/messages`%>">
    <% if (userOwnsClient) { %>
      <div class="mini" id="typeBox">

        <div class="actionButtons">
          <a href="<%=`${clientBaseURL}/address/templates`%>">
            <div class="actionButton">
              <div class="icon">
                <i class="ss ss-download"></i>
              </div>
              <div class="name">
                download transcript
              </div>
            </div>
          </a>

          <a href="<%=`${clientBaseURL}/address/templates`%>">
            <div class="actionButton">
              <div class="icon">
                <i class="ss ss-clipboard"></i>
              </div>
              <div class="name">
                load template
              </div>
            </div>
          </a>

          <a href="<%=`/clients/${client.clid}/voicemessage`%>">
            <div class="actionButton">
              <div class="icon">
                <i class="ss ss-phone"></i>
              </div>
              <div class="name">
                record voice
              </div>
            </div>
          </a>

          <a href="">
            <div class="actionButton">
              <div class="icon">
                <i class="ss ss-picture"></i>
              </div>
              <div class="name">
                upload media
              </div>
            </div>
          </a>
        </div>

        <div class="messageInput" id="placeHolderTypeBox">
          <div class="left">Start typing message...</div>
        </div>

        <textarea name="content"
                  rows="5"></textarea>

        <div class="full">
          <div class="bottomRow">

            <div class="submit disabled">
              <i class="ss ss-send" aria-hidden="true"></i>
              Send Now
            </div>

            <!-- <div class="submit disabled">
              <i class="ss ss-clock" aria-hidden="true"></i>
              Send Later
            </div> -->

            <div class="contactSelect">
              <select name="commID" required>
                <option value="" selected disabled>Comm Method</option>
                <% communications.forEach(function (communication) { %>
                  <option value="<%= communication.commid %>"><%= communication.name + ' (' + communication.value + ')' %></option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>

      </div>

    <% } else { %>
      <div class="mini">
        <div class="messageInput disabled">
          Viewing other user's client conversation log, cannot comment directly in thread.
          <a href="<%=`/org/clients/${client.clid}/address`%>">
            <span class="miniButton">
              <i class="fa fa-send"></i> 
              Send a one-off message
            </span>
          </a>
        </div>
      </div>
    <% } %>

  </form>
</div>

<script type="text/javascript" class="JSmessagesStream"></script>

<% include ../partials/hubFrameBottom %>