<% include ../partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ../partials/cardExit %></a>
  <div class="cardTitle">Transfer Client</div>
  <div class="cardSubtitle">
    Transfer a client to a another case manager.
    <% if (allDepartments) { %>
      Showing case managers from all departments.
    <% } %>
  </div>
</div>

<div class="cardBody">

  <div class="formRow">
    <% if (user.class !== "owner" && user.class !== "support") { %>
      <% if (allDepartments) { %>
        <a href="<%=`/clients/${client.clid}/transfer?allDepartments=false`%>">
          <input type="submit" id="useTemplate" class="formSubmit inverse" value="Transfer within your department">
        </a>
      <% } else { %>
        <a href="<%=`/clients/${client.clid}/transfer?allDepartments=true`%>">
          <input type="submit" id="useTemplate" class="formSubmit inverse" value="Transfer outside of this department">
        </a>
      <% } %>
    <% } %>
  </div>

  <form method = "post"
        id="userSearch">

    <div class="formRow">
      <div class="formLabel">
        Search for a Case Manager
      </div>
      <div class="formInput">
        <input class="typeahead" type="text" placeholder="Case manager name">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">
        Select whether to transfer all current conversations
      </div>
      <div class="formInput">
        <input type="checkbox" name="bundleConversations" value="true" checked> Bundle current manager's conversations in transfer
      </div>
    </div>

    <input type="hidden" id="targetUser" name="user">
    <input type="submit" class="formSubmit" value="Submit">

  </form>
</div>



<script src="/components/typeahead.js/dist/typeahead.jquery.min.js"></script>
<script type="text/javascript" class="JStransferClient">
  var orgLevel = <%- level === "org" %>;
  var users = <%- JSON.stringify(users); %>;
</script>

<% include ../partials/cardFrameBottom %>