<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ClientComm</title>
  </head>

  <script src="/modules/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/legacy-style.css">

  <body>

    <header>
      <div class="container">
        <div class="logo-left">
          <% if (typeof user == "undefined") { %>
            <a href="/"><i class="fa fa-comments"></i> ClientComm </a>
          <% } else { %>
            <a href="/login"> <%= user.first %> <%= user.middle %> <%= user.last %> </a>
          <% } %>
        </div>

        <div class="navigation">
          <% if (typeof user !== "undefined" && user.admin) { %>
            <a href="/admin">Admin</a>
          <% } %>

          <% if (typeof user == "undefined") { %>
            <a href="/login">Login</a>
          <% } else { %>
            <a href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </header>

    <div class="right-tag">
      <center>
        <a class="tag-logo" href="/">
          <i class="fa fa-comments"></i>
          ClientComm
        <a>
        <a class="tag-email" href="mailto:slco@codeforamerica.org?subject=CJS-INTAKE-FORM-SITE-CONTACT"> We love feedback! </a> 
      </center>
    </div>

    <div class="contents">

      <% if (typeof success !== "undefined" && success) { %>
        <% for (var i = 0; i < success.length; i++) { %>
          <div class="alerts" style="background-color:#00e500">Success: <%= success[i] %></div>
        <% } %>
      <% } %>

      <% if (typeof warning !== "undefined" && warning) { %>
        <% for (var i = 0; i < warning.length; i++) { %>
          <div class="alerts" style="background-color:red">Alert: <%= warning[i] %></div>
        <% } %>
      <% } %>


