<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<div class="contents">

  <div class="sort-opts">
    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>">
      <div class="toggle">
        Conversations
      </div>
    </a>

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comms">
      <div class="toggle selected">
        Contact Methods
      </div>
    </a>

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/edit" style="float:right">
      <div class="toggle">
        Edit Client
      </div>
    </a>
  </div>

  <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comm">
    <div class="newclient"> 
      <i class="fa fa-user-plus"></i> 
      Add Contact Method
    </div>
  </a>

  <div class="title">
    Contacts for <%= user.first %>
  </div>

  <table class="comm-list">

    <tr>
      <th>Edit</th>
      <th>Contact Title</th>
      <th>Contact Type</th>
      <th>Details</th>
      <th>Used</th>
      <th>Last Use</th>
      <th>Remove</th>
    </tr>


    <% for (var i = 0; i < comms.length; i++ ) { %>

      <tr class="<%= comms[i].open ? '' : 'archive' %>">

        <td>
          <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comms/<%= comms[i].commconnid %>">
            <i class="fa fa-pencil"></i>
          </a>
        </td>

        <td>
          <%= comms[i].name %>
        </td>
        
        <td>
          <small>
            <%= comms[i].type %>
          </small>
        </td>
        
        <td>
          <small>
            <%= comms[i].value %>
          </small>
        </td>
        
        <td>
          <%= comms[i].use_ct > 0 ? comms[i].use_ct : 0 %>
        </td>
        
        <td>
          <small>
          <% try { %>
            <% var day = moment.tz(comms[i].created, organization.tz).format("MM/DD");%>
            <%= day %>
          <% } catch (e) { %>
            Unknown
          <% } %>
          </small>
        </td>

        <td>
          <form method="post" action="/cms/<%= user.cmid %>/cls/<%= client.clid %>/comms/<%= comms[i].commconnid %>/close">
            <button type="submit"><i class="fa fa-trash-o"></i></button>
          </form>
        </td>

      </tr>

    <% } %>

  </table>
</div>


<% include ../../partials/footers/footer %>
