<% include ../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/cardV2.css">

<div class="contents">

<!-- Moved the exit out of the card -->

<div class="card">

  <div class="card-head">

    <a href="/cms/<%= user.cmid %>/templates">
      <% include ../../partials/card-exitV2 %>
    </a>

    <div class="card-title">
      Create New Template
    </div>

    <div class="card-subtitle">
      Create a template for general use or a specific client. Use these templates to save time typing when sending common messages or phrases.
    </div>

  </div>

  <div class="card-body">
    <form method="post" 
          action="/cms/<%= user.cmid %>/templates/create">

      <input type="hidden" name="org" value="<%= user.org %>">
      <input type="hidden" name="casemanager" value="<%= user.cmid %>">

      <div class="form-row">
        <div class="form-label"> 
          Enter your templated phrase or message below.
        </div>
        <div class="form-input">
          <textarea name="content"
                    rows="5"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label"> 
          Limit template to specific client (or all clients)
        </div>
        <select class="form-select" name="client" required>
          <option value="null" selected>All Clients</option>
          <% for (var i = 0; i < clients.length; i++) { %>
            <option value="<%= clients[i].clid %>">
              <%= clients[i].first %> <%= clients[i].last %>
            </option>
          <% } %>
        </select>
      </div>

      <center>
      <input  type="submit" 
              class="form-submit" 
              value="Submit Closed se">
      </center>

    </form>

  </div>

</div>

</div>

<% include ../../partials/footers/footer %>
