<% include ../../partials/headers/header-base %>
<% include ../../partials/headers/header-navbar %>

<!-- Include notification view-specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/templatesList.css">

<div class="contents">

  <!-- Temp solution to deal with tempalte and notification access -->
  <div class="sort-opts">
    <a href="/cms/<%= user.cmid %>">
      <div class="toggle"> Client Directory </div>
    </a>
    <a href="/cms/<%= user.cmid %>/notifications">
      <div class="toggle"> Notifications </div>
    </a>
    <a href="/cms/<%= user.cmid %>/templates">
      <div class="toggle selected"> Templates </div>
    </a>
  </div>
  <hr>

  <a href="/cms/<%= user.cmid %>/templates/create">
    <div class="newclient"> 
      <% include ../../../public/icons/bigplus.svg %> 
      New Template
    </div>
  </a>

  <div class="title">
    Templates
  </div>

  <table class="list">

    <tr>
      <th>Edit</th>
      <th>Content</th>
      <th>Specific Client</th>
      <th>Updated</th>
      <th>Created</th>
      <th>Delete</th>
    </tr>


    <% if (templates.length > 0) { %>
      <% for (var i = 0; i < templates.length; i++ ) { %>

        <tr>

          <td class="fa-icon-holder">

            <% if (templates[i].casemanager == user.cmid) { %>
              <a href="/cms/<%= user.cmid %>/templates/<%= templates[i].template_id %>/edit %>">
                <i class="fa fa-pencil standard-fa-no-stack"></i>
              </a>
            <% } else { %>
              <span class="fa-stack disabled">
                <i class="fa fa-pencil fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x fa-rotate-90"></i>
              </span>
            <% } %>

          </td>

          <td>
            
            <% if (templates[i].content.length >    80) { %>
              <%= templates[i].content.substring(0, 80) %>...
            <% } else { %>
              <%= templates[i].content %>
            <% } %>
          </td>

          <td>
            <% if (templates[i].client == null) { %>
              All clients
            <% } else { %>
              <%= templates[i].first %> <%= templates[i].last %>
            <% } %>
          </td>

          <td>
            <%= moment.tz(templates[i].updated, local_tz).format("MM/DD/YY"); %>
          </td>

          <td>
            <%= moment.tz(templates[i].created, local_tz).format("MM/DD/YY"); %>
          </td>

          <td class="fa-icon-holder">


            <% if (templates[i].casemanager == user.cmid) { %>
              <form 
                action="/cms/<%= user.cmid %>/templates/<%= templates[i].template_id %>/delete %>" 
                method="post">
                  <button type="submit">
                    <i class="fa fa-trash standard-fa-no-stack"></i>
                  </button>
              </form>
            <% } else { %>
              <span class="fa-stack disabled">
                <i class="fa fa-trash fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x fa-rotate-90"></i>
              </span>
            <% } %>

          </td>

        </tr>

      <% } %>
    <% } %>

  </table>
</div>

<% include ../../partials/footers/footer %>
