<% const baseURL = `/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ../../partials/supervisorFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_users_supervisor.css">

<div class="header">
  <div class="column">clients</div>
  <div class="column">name</div>
  <div class="column">email</div>
  <div class="column">class</div>
  <div class="column">position</div>
  <div class="column">department</div>
  <div class="column">added</div>
  <div class="column">edit</div>
  <div class="column">transfer</div>
  <div class="column"><%= hub.sel == 'active' ? 'deactivate' : 'activate' %></div>
</div>


<% if (users.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% users.forEach(function (targetUser) { %>
  <div class="notificationRow">
    <div class="column">
      <a href="<%=`/clients/open?limitByUser=${targetUser.cmid}`%>">
        <i class="fa highlight fa-users" aria-hidden="true"></i>
      </a>
    </div>
    <div class="column">
      <a href="<%= `/dashboard/overview?targetUserID=${targetUser.cmid}` %>">
        <span class="clientName">
          <%= targetUser.last + ', ' + targetUser.first %> <%= targetUser.middle %>
        </span>
      </a>
    </div>
    <div class="column">
      <small><%= targetUser.email %></small>
    </div>
    <div class="column">
      <small><%= targetUser.class.charAt(0).toUpperCase() + targetUser.class.slice(1) %></small>
    </div>
    <div class="column">
      <small><%= targetUser.position %></small>
    </div>
    <div class="column">
      <small><%= targetUser.department_name ? targetUser.department_name : '-' %></small>
    </div>
    <div class="column">
      <span class="time">
        <%= moment.tz(targetUser.created, local_tz).format('MMM. Do, YYYY hh:mmA') %>
      </span>
    </div>
    <div class="column">
      <% if (targetUser.active) { %>
        <a href="<%= `/users/edit/${targetUser.cmid}` %>">
          <i class="fa highlight fa-pencil" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <% if (user.cmid !== targetUser.cmid && ["primary", "support"].indexOf(targetUser.class) > -1) { %>
        <a href="<%= `/users/transfer/${targetUser.cmid}` %>">
          <i class="fa highlight fa-mail-forward" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <% if (user.cmid !== targetUser.cmid && ["primary", "support"].indexOf(targetUser.class) > -1) { %>
          <a href="<%= `/users/deactivate/${targetUser.cmid}` %>">
            <i class="fa highlight fa-book" aria-hidden="true"></i>
          </a>
        <% } else { %>-<% } %>
      <% } else { %>
        <a href="<%= `/users/activate/${targetUser.cmid}` %>">
          <i class="fa highlight fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>
  </div>
<% }) %>


<% include ../../partials/hubFrameBottom %>