<% const baseURL = `/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="<%= `/users` %>">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Create New User Account
  </div>
  <div class="cardSubtitle">
    Keep user information reflective of organization structure.
  </div>
</div>

<div class="cardBody">

  <form method = "post"
        id="createNewUser"
        action = "<%= `/users/create` %>">

    <div class="formRow">
      <div class="formLabel"> First Name </div>
      <div class="formInput">
        <input  type="text" 
                name="first" 
                value=""
                maxlength="160"
                required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Middle Name </div>
      <div class="formInput">
        <input  type="text" 
                name="middle" 
                value=""
                maxlength="160">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Last Name </div>
      <div class="formInput">
        <input  type="text" 
                name="last" 
                value=""
                maxlength="160"
                required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Email Address </div>
      <div class="formInput">
        <input  type="email" 
                name="email" 
                value=""
                maxlength="160"
                required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Position </div>
      <div class="formInput">
        <input  type="text" 
                name="position" 
                value=""
                maxlength="160"
                required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Assigned class </div>
      <select class="blueSelect" 
              name="className" 
              required>
        <% ["supervisor", "supervisor", "primary", "support", "developer"].forEach(function (className) { %>
            <option value="<%= className %>" <% if (className == "primary") { %>selected<% } %>>
              <%= className.charAt(0).toUpperCase() + className.slice(1) %> User
            </option>
        <% }) %>
      </select>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit New User">
  </form>
</div>


<script type="text/javascript">
  $("#createNewUser").submit(function (event) {
    var email = $("input[name=email]").val();
    $.get("<%= `/users/create/check_email/` %>" + encodeURIComponent(email))
    .done(function (res) {
      if (res.user) {
        alert("That email already is being used. Use a different address.");
        event.preventDefault();
        return false;
      } else {
        return true;
      }
    }).fail(function (err) { console.log(err); });
  });
</script>

<% include ../../partials/cardFrameBottom %>