<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientHubFrame.css">


  <div class="navSub">

    <div class="leftTab">
      <div class="icon">
        <a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/edit">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </div>
      <div class="title">
        <a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>"><%= client.first + ' ' + client.last %></a>
      </div>
    </div>

    <div class="rightTab <%= hub.tab == 'messages' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/messages/filter/all">Messages</a></div>
      <div class="option <%= hub.sel == 'all' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/messages/filter/all">All</a></div>
      <div class="option <%= hub.sel == 'texts' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/messages/filter/texts">Texts</a></div>
    </div>

    <div class="rightTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/notifications">Notifications</a></div>
      <div class="option <%= hub.sel == 'pending' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/notifications/pending">Pending</a></div>
      <div class="option <%= hub.sel == 'sent' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/notifications/sent">Sent</a></div>
    </div>

    <div class="rightTab <%= hub.tab == 'contactMethods' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/clients/client/<%=client.clid%>/communications">Contact Methods</a></div>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Comm</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Comm</span>
      </a>
    </div>

  </div>

  <div class="coreContent">