<% include ./headerBase %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">

<!-- Structure -->
<div class="applicationFrame">

  <div class="navHeader">
    <div class="leftLogo">
      <% include ../../../public/icons/logo.svg %>
      <a href="/v4">
        <span class="button">
          <%= user.first %>
          <%= user.last %>
        </span>
      </a>
    </div>

    <div class="alerts">
      <div class="exclamationCircle">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
      </div>
      2 Alerts
    </div>

    <div class="rightLogout">
      <a href="/logout">
        <span class="button">
          <i class="fa fa-times" aria-hidden="true"></i>
          Logout
        </span>
      </a>
    </div>
  </div>

  <div class="navSub">
    <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/clients/open">Clients</a></div>
      <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/open">Open</a></div>
      <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/clients/closed">Closed</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'templates' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/templates">Templates</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/primary/notifications">Notifications</a></div>
      <div class="option <%= hub.sel == 'pending' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/notifications/pending">Pending</a></div>
      <div class="option <%= hub.sel == 'sent' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/primary/notifications/sent">Sent</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'groups' ? 'open' : 'closed' %>">
      <div class="title">Groups</div>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Client</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Messsage</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="/v4/users/<%=user.cmid%>/primary/templates/create">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Template</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="/v4/users/<%=user.cmid%>/primary/notifications/create">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Notification</span>
      </a>
    </div>

  </div>

  <div class="coreContent">
