<% var baseHubFrameURL = `/v4/orgs/${parameters.orgID}/users/${parameters.userID}/primary` %>

<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">
    <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseHubFrameURL}/clients/open`%>">Clients</a></div>
      <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/clients/open`%>">Open</a></div>
      <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/clients/closed`%>">Closed</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseHubFrameURL}/notifications`%>">Notifications</a></div>
      <div class="option <%= hub.sel == 'pending' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/notifications/pending`%>">Pending</a></div>
      <div class="option <%= hub.sel == 'sent' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/notifications/sent`%>">Sent</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'templates' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseHubFrameURL}/templates`%>">Templates</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'groups' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseHubFrameURL}/groups`%>">Groups</a></div>
      <div class="option <%= hub.sel == 'current' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/groups/current`%>">Current</a></div>
      <div class="option <%= hub.sel == 'deleted' ? 'selected' : '' %>"><a href="<%=`${baseHubFrameURL}/groups/deleted`%>">Deleted</a></div>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseHubFrameURL}/groups/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Group</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseHubFrameURL}/templates/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Template</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseHubFrameURL}/notifications/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Notification</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseHubFrameURL}/clients/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Client</span>
      </a>
    </div>

  </div>

  <div class="coreContent">

  <% if (viewingAsOther) { %>
    <div class="viewingAsOtherBanner">You are viewing 
    <b><%= viewingAsOther.first + ' ' + viewingAsOther.last %>'s</b>
    clients dashboard.</div>
  <% } %>
