<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">

    <div class="leftTab <%= hub.tab == 'dashboard' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/owner/dashboard">Dashboard</a></div>
      <div class="option <%= hub.sel == 'overall' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/owner/groups/current">Overall</a></div>
      <div class="option <%= hub.sel == 'department' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/owner/groups/deleted">Department</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'departments' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/owner/departments">Departments</a></div>
      <div class="option <%= hub.sel == 'active' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/owner/departments/filter/active">Active</a></div>
      <div class="option <%= hub.sel == 'inactive' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/owner/departments/filter/inactive">Inactive</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/owner/notifications">Users</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'notifications' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/owner/notifications">Numbers</a></div>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Phone Number</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="/v4/users/<%=user.cmid%>/owner/departments/create">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-building fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Department</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New User</span>
      </a>
    </div>

  </div>

  <div class="coreContent">