<% const baseSupervisorURL = `/v4/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">

    <div class="leftTab <%= hub.tab == 'dashboard' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseSupervisorURL}/dashboard`%>">Metrics Dashboard</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'users' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseSupervisorURL}/users`%>">Users</a></div>
      <div class="option <%= hub.sel == 'active' ? 'selected' : '' %>"><a href="<%=`${baseSupervisorURL}/users/filter/active`%>">Active</a></div>
      <div class="option <%= hub.sel == 'inactive' ? 'selected' : '' %>"><a href="<%=`${baseSupervisorURL}/users/filter/inactive`%>">Inactive</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
      <div class="title"><a href="<%=`${baseSupervisorURL}/clients`%>">Clients</a></div>
      <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="<%=`${baseSupervisorURL}/clients/list/open`%>">Open</a></div>
      <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="<%=`${baseSupervisorURL}/clients/list/closed`%>">Closed</a></div>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseSupervisorURL}/users/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New User</span>
      </a>
    </div>

    <div class="rightActions">
      <a href="<%=`${baseSupervisorURL}/clients/create`%>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-male fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New Client</span>
      </a>
    </div>

  </div>

  <div class="coreContent">