<% include ./navBarTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_hubFrame.css">


  <div class="navSub">

    <div class="leftTab <%= hub.tab == 'dashboard' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/supervisor/dashboard">Metrics Dashboard</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'users' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/supervisor/users">Users</a></div>
      <div class="option <%= hub.sel == 'active' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/supervisor/users/filter/active">Active</a></div>
      <div class="option <%= hub.sel == 'inactive' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/supervisor/users/filter/inactive">Inactive</a></div>
    </div>

    <div class="leftTab <%= hub.tab == 'clients' ? 'open' : 'closed' %>">
      <div class="title"><a href="/v4/users/<%=user.cmid%>/supervisor/clients">Clients</a></div>
      <div class="option <%= hub.sel == 'open' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/supervisor/clients/open">Open</a></div>
      <div class="option <%= hub.sel == 'closed' ? 'selected' : '' %>"><a href="/v4/users/<%=user.cmid%>/supervisor/clients/closed">Closed</a></div>
    </div>

    <div class="rightActions">
      <a href="/v4/users/<%=user.cmid%>/supervisor/users/create">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">New User</span>
      </a>
    </div>

  </div>

  <div class="coreContent">