<% include ../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<div class="contents">

  <a href="/capture">
    <% include ../partials/card-exit %>
  </a>

  <div class="card">

    <div class="card-title">
      Capture Conversation
    </div>

    <form method="post">

      <input type="hidden" name="cmid" value="<%= user.cmid %>">
      <input type="hidden" name="convid" value="<%= convo.convid %>">

      <div class="form-row">
        <div class="form-label"> Subject (not visible by client) </div>
        <input class="form-input" type="text" name="subject" maxlength="30" required>
      </div>

      <div class="form-row">
        <div class="form-label"> Client </div>
        <select class="blue-select" name="clid" required>
          <option value="" selected disabled>Clients</option>

          <% for (var i = 0; i < clients.length; i++) { %>
            <option value="<%= clients[i].clid %>">
              <%= clients[i].first %> <%= clients[i].middle %> <%= clients[i].last %>
            </option>
          <% } %>

        </select>
      </div>

      <div class="form-row">
        <div class="form-label"> Communication Method Name </div>
        <input class="form-input" type="text" name="device" maxlength="30" required>
      </div>

      <input type="submit" class="form-submit" value="Submit">

    </form>

  </div>

</div>

<% include ../partials/footers/footer %>
