<% include ../partials/headers/header-base %>

<!-- Include Case Manager Landing View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/cmlanding.css">

<% var thisUsersCount = 0; %>
<% var topUsersCount = 1; %>
<% var topUser = 1; %>

<% for (var i = 0; i < counts.length; i++) { %>
<%  var c = counts[i]; %>
<%  var ct = Number(c.count); %>
<%  if (ct > topUsersCount) { %>
<%    topUsersCount = ct; %>
<%    topUser = c; %>
<%  }; %>
<%  if (Number(c.cmid) == Number(user.cmid)) thisUsersCount = ct; %>
<% } %>

<% var ctRatio = Math.round((thisUsersCount/topUsersCount) * 1000)/10; %>

<!-- Additional libraries, loaded via CDN -->
<!-- TO DO: If we are sticking with C3js, then let's NPM install (or Bower) -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">


<div class="contents">

  <% if (showCaptureBoard) { %>
  <div class="captureBoard">
    <a href="/capture">
      <div class="icon">
        <svg width="67px" height="70px" viewBox="704 338 67 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="checklist" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(704.000000, 339.000000)">
            <path d="M8.19745604,16.3945385 C7.43525824,16.3945385 6.67306044,16.1031099 6.0902033,15.5202527 L0.874379121,10.3044286 C-0.291335165,9.13871429 -0.291335165,7.25563736 0.874379121,6.08992308 C2.03262088,4.92420879 3.92317033,4.92420879 5.08141209,6.08992308 L8.19745604,9.20596703 L16.5293242,0.874098901 C17.6875659,-0.291615385 19.5706429,-0.291615385 20.7363571,0.874098901 C21.9020714,2.03234066 21.9020714,3.92289011 20.7363571,5.0886044 L10.2972363,15.5202527 C9.72185165,16.1031099 8.95965385,16.3945385 8.19745604,16.3945385" id="Fill-1" fill="#FEFEFE"></path>
            <path d="M63.0435659,11.1755385 L31.5842253,11.1755385 C29.9402692,11.1755385 28.6026868,9.83795604 28.6026868,8.194 C28.6026868,6.55004396 29.9402692,5.21993407 31.5842253,5.21993407 L63.0435659,5.21993407 C64.687522,5.21993407 66.0251044,6.55004396 66.0251044,8.194 C66.0176319,9.84542857 64.687522,11.1755385 63.0435659,11.1755385" id="Fill-3" fill="#FEFEFE"></path>
            <path d="M8.19745604,61.6383571 C7.43525824,61.6383571 6.67306044,61.3469286 6.0902033,60.7640714 L0.874379121,55.5482473 C-0.291335165,54.382533 -0.291335165,52.499456 0.874379121,51.3337418 C2.03262088,50.1680275 3.92317033,50.1755 5.08141209,51.3337418 L8.19745604,54.4497857 L16.5293242,46.1179176 C17.6875659,44.9522033 19.5706429,44.9522033 20.7363571,46.1179176 C21.9020714,47.2761593 21.9020714,49.1667088 20.7363571,50.3249505 L10.2972363,60.7640714 C9.72185165,61.3469286 8.95965385,61.6383571 8.19745604,61.6383571" id="Fill-5" fill="#FEFEFE"></path>
            <path d="M31.5842253,56.419544 C29.9402692,56.419544 28.6026868,55.0819615 28.6026868,53.4380055 C28.6026868,51.7940495 29.9402692,50.4639396 31.5842253,50.4639396 L63.0435659,50.4639396 C64.687522,50.4639396 66.0251044,51.7940495 66.0251044,53.4380055 C66.0251044,55.0819615 64.687522,56.419544 63.0435659,56.419544 L31.5842253,56.419544 Z" id="Fill-7" fill="#FEFEFE"></path>
            <path d="M8.19745604,84.2590989 C7.43525824,84.2590989 6.67306044,83.9676703 6.0902033,83.3848132 L0.874379121,78.168989 C-0.291335165,77.0032747 -0.291335165,75.1201978 0.874379121,73.9544835 C2.04009341,72.7887692 3.92317033,72.7887692 5.08141209,73.9544835 L8.19745604,77.0705275 L16.5293242,68.7386593 C17.6950385,67.5729451 19.5781154,67.5729451 20.7363571,68.7386593 C21.9020714,69.9043736 21.9020714,71.7874505 20.7363571,72.9531648 L10.3047088,83.3848132 C9.72185165,83.9676703 8.95965385,84.2590989 8.19745604,84.2590989" id="Fill-9" fill="#FEFEFE"></path>
            <path d="M63.0435659,79.041033 L31.5842253,79.041033 C29.9402692,79.041033 28.6026868,77.7034505 28.6026868,76.0594945 C28.6026868,74.4155385 29.9402692,73.0854286 31.5842253,73.0854286 L63.0435659,73.0854286 C64.687522,73.0854286 66.0251044,74.4155385 66.0251044,76.0594945 C66.0251044,77.7034505 64.687522,79.041033 63.0435659,79.041033" id="Fill-11" fill="#FEFEFE"></path>
            <path d="M8.19745604,39.0166813 C7.43525824,39.0166813 6.67306044,38.7252527 6.0902033,38.1423956 L0.874379121,32.9265714 C-0.291335165,31.7608571 -0.291335165,29.8777802 0.874379121,28.7120659 C2.03262088,27.5463516 3.92317033,27.5463516 5.08141209,28.7120659 L8.19745604,31.8281099 L16.5293242,23.4962418 C17.6875659,22.3305275 19.5706429,22.3305275 20.7363571,23.4962418 C21.9020714,24.6544835 21.9020714,26.545033 20.7363571,27.7107473 L10.2972363,38.1423956 C9.72185165,38.7252527 8.95965385,39.0166813 8.19745604,39.0166813" id="Fill-13" fill="#FEFEFE"></path>
            <path d="M63.0435659,33.7988022 L31.5842253,33.7988022 C29.9402692,33.7988022 28.6026868,32.4612198 28.6026868,30.8172637 C28.6026868,29.1733077 29.9402692,27.8431978 31.5842253,27.8431978 L63.0435659,27.8431978 C64.687522,27.8431978 66.0251044,29.1733077 66.0251044,30.8172637 C66.0176319,32.4612198 64.687522,33.7988022 63.0435659,33.7988022" id="Fill-15" fill="#FEFEFE"></path>
          </g>
        </svg>
      </div>
      <div class="body">
        There are new, unclaimed messages. Click to view capture board now.
      </div>
    </a>
  </div>
  <% } %>

  <div class="top">
    <div class="left">
      <div class="head">
        Welcome, <%= user.first %>!
      </div>
      <div class="body">
        <% if (topUser.cmid == user.cmid) { %>
          Congrats! You are the top user so far this week!
        <% } else { %>
          You are 
          <span class="gold">
            <%= ctRatio %>%
          </span> 
          of the way to being the top user this week. 
        <% } %>
      </div>
    </div>
    <div class="right">
      <div id="gaugechart"></div>
    </div>
  </div>


  <div class="middle">
    <div class="left">
      <div class="optionBlock">
        <a href="/cms/<%= user.cmid %>/cls">
          <div class="bigcircles blue">
            <svg width="88px" height="88px" viewBox="242 338 88 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M290,377 L290,338 L282,338 L282,377 L242,377 L242,385 L282,385 L282,426 L290,426 L290,385 L330,385 L330,377 L290,377 Z" id="Combined-Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="subtitle">
            <a href="/cms/<%= user.cmid %>/cls">Add New Client</a>
          </div>
        </a>
      </div>

      <div class="optionBlock">
        <a href="/cms/<%= user.cmid %>">
          <div class="bigcircles darkblue">
            <svg width="83px" height="102px" viewBox="470 340 83 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M553,425.579796 C550.755511,408.395404 538.45281,394.033259 521.573855,389.769549 C534.471024,384.038139 540.367954,368.736339 534.742734,355.592632 C529.117513,342.447285 514.104299,336.438733 501.207131,342.171784 C488.311608,347.903194 482.414678,363.204994 488.039898,376.348701 C490.61044,382.355613 495.313493,387.150647 501.207131,389.769549 C484.45662,394.092295 472.267544,408.365886 470,425.432206 C480.842053,435.688069 495.479813,442 511.57822,442 C527.59923,442 542.172767,435.748745 553,425.579796" id="Fill-1" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
            </svg>
          </div>
          <div class="subtitle">
            Client Directory
          </div>
        </a>
      </div>
    </div>

    <div class="right">
      <div class="notice">
        <b>New Feature!</b>
        Send messages at a future date.
      </div>

      <div class="optionBlock">
        <a href="/cms/<%= user.cmid %>/notifications/new">
          <div class="bigcircles pink">
            <svg width="89px" height="95px" viewBox="607 409 89 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <polygon id="path-1" points="88.7621273 87 88.7621273 0.507828866 0.00035959596 0.507828866 0.00035959596 87"></polygon>
                    <polygon id="path-3" points="49.9424242 8.1012375 49.9424242 0.4219875 0.307445887 0.4219875 0.307445887 8.1012375 49.9424242 8.1012375"></polygon>
                </defs>
                <g id="Group-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(607.000000, 417.000000)">
                    <g id="Clip-2"></g>
                    <path d="M80.6334606,43.7540041 C80.6334606,63.146932 64.3707333,78.9235299 44.3807939,78.9235299 C24.3908545,78.9235299 8.12812727,63.146932 8.12812727,43.7540041 C8.12812727,24.3610763 24.3908545,8.58447835 44.3807939,8.58447835 C64.3707333,8.58447835 80.6334606,24.3610763 80.6334606,43.7540041 M44.3807939,0.507828866 C19.9093899,0.507828866 0.00035959596,19.907932 0.00035959596,43.7540041 C0.00035959596,67.6000763 19.9093899,87.0001794 44.3807939,87.0001794 C68.853097,87.0001794 88.7621273,67.6000763 88.7621273,43.7540041 C88.7621273,19.907932 68.853097,0.507828866 44.3807939,0.507828866" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
                </g>
                <path d="M650.344905,460.651133 L637.145263,445.582565 C635.472274,443.67263 632.558385,443.461717 630.623963,445.112067 L630.614885,445.120179 C628.664123,446.78495 628.450801,449.707088 630.138315,451.634148 L648.341493,472.417199 C649.796622,474.077464 652.230309,474.483967 654.152023,473.387039 L671.673478,463.385793 C673.902013,462.114005 674.66271,459.284705 673.370069,457.079131 L673.370069,457.079131 C672.087414,454.88888 669.263393,454.138966 667.051198,455.401741 L656.154527,461.620973 C654.233721,462.717901 651.799126,462.311398 650.344905,460.651133" id="Fill-4" stroke="none" fill="white" fill-rule="evenodd"></path>
                <g id="Group-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(621.000000, 409.000000)">
                    <g id="Clip-9"></g>
                    <path d="M13.196349,3.10231325 C12.5736951,3.10231325 12.0689655,1.59132585 12.0689655,-0.272686751 C12.0689655,-2.13669935 12.5736951,-3.64768675 13.196349,-3.64768675 L48.8151273,-3.64768675 C49.4377813,-3.64768675 49.9425108,-2.13669935 49.9425108,-0.272686751 C49.9425108,1.59132585 49.4377813,3.10231325 48.8151273,3.10231325 L13.196349,3.10231325 Z" id="Fill-8" fill="#FFFFFF" mask="url(#mask-4)"></path>
                </g>
            </svg>
          </div>
          <div class="subtitle">
            <a href="/cms/<%= user.cmid %>/cls">Create Notification</a>
          </div>
        </a>
      </div>

      <div class="optionBlock">
        <a href="/cms/<%= user.cmid %>/notifications">
          <div class="bigcircles darkpink">
            <svg width="126px" height="93px" viewBox="0 0 126 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <polygon id="path-1" points="62.9605047 3.888594 62.9605047 0.202554 0.387585275 0.202554 0.387585275 3.888594 62.9605047 3.888594"></polygon>
                    <polygon id="path-3" points="62.9605047 4.172742 62.9605047 0.486702 0.387585275 0.486702 0.387585275 4.172742 62.9605047 4.172742"></polygon>
                    <polygon id="path-5" points="62.9605047 3.882924 62.9605047 0.196884 0.387585275 0.196884 0.387585275 3.882924 62.9605047 3.882924"></polygon>
                </defs>
                <path d="M48.9493679,26.342928 C48.9493679,38.018808 39.0769128,47.517408 26.9418154,47.517408 C14.806718,47.517408 4.93426289,38.018808 4.93426289,26.342928 C4.93426289,14.667048 14.806718,5.168448 26.9418154,5.168448 C39.0769128,5.168448 48.9493679,14.667048 48.9493679,26.342928 M0.00021829641,26.342928 C0.00021829641,35.9294911 5.38888816,44.3225819 13.3926199,48.8417545 C17.3753962,51.0905622 22.0057158,52.380108 26.9418154,52.380108 C41.7979776,52.380108 53.8839583,40.699908 53.8839583,26.342928 C53.8839583,11.985948 41.7979776,0.305748 26.9418154,0.305748 C12.086199,0.305748 0.00021829641,11.985948 0.00021829641,26.342928 Z" id="Fill-1" stroke="none" fill="white" fill-rule="evenodd"></path>
                <path d="M26.2918924,25.880418 L18.3562722,16.852698 C17.3504715,15.708438 15.5986428,15.582078 14.4356687,16.570818 L14.4302113,16.575678 C13.2574138,17.573058 13.1291647,19.323738 14.1436972,20.478258 L25.087442,32.929578 C25.9622648,33.924258 27.4253965,34.167798 28.5807303,33.510618 L39.1146235,27.518778 C40.4544177,26.756838 40.9117487,25.061778 40.1346135,23.740398 L40.1346135,23.740398 C39.3634814,22.428198 37.6656811,21.978918 36.3357102,22.735458 L29.784635,26.461458 C28.629847,27.118638 27.1661695,26.875098 26.2918924,25.880418 L20.1053816,24.3" id="Fill-4" stroke="none" fill="white" fill-rule="evenodd"></path>
                <g id="Group-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(62.760218, 12.114414)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-9"></g>
                    <path d="M61.0979997,3.888594 L2.25019939,3.888594 C1.22147756,3.888594 0.387585275,3.063474 0.387585275,2.045574 C0.387585275,1.027674 1.22147756,0.202554 2.25019939,0.202554 L61.0979997,0.202554 C62.1267215,0.202554 62.9606138,1.027674 62.9606138,2.045574 C62.9606138,3.063474 62.1267215,3.888594 61.0979997,3.888594" id="Fill-8" fill="white" mask="url(#mask-2)"></path>
                </g>
                <g id="Group-15" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(62.760218, 24.534414)">
                    <mask id="mask-4" fill="white">
                        <use xlink:href="#path-3"></use>
                    </mask>
                    <g id="Clip-14"></g>
                    <path d="M61.0979997,4.172742 L2.25019939,4.172742 C1.22147756,4.172742 0.387585275,3.347622 0.387585275,2.329722 C0.387585275,1.311822 1.22147756,0.486702 2.25019939,0.486702 L61.0979997,0.486702 C62.1267215,0.486702 62.9606138,1.311822 62.9606138,2.329722 C62.9606138,3.347622 62.1267215,4.172742 61.0979997,4.172742" id="Fill-13" fill="white" mask="url(#mask-4)"></path>
                </g>
                <g id="Group-20" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(62.760218, 38.034414)">
                    <g id="Clip-19"></g>
                    <path d="M61.0979997,3.882924 L2.25019939,3.882924 C1.22147756,3.882924 0.387585275,3.057804 0.387585275,2.039904 C0.387585275,1.022004 1.22147756,0.196884 2.25019939,0.196884 L61.0979997,0.196884 C62.1267215,0.196884 62.9606138,1.022004 62.9606138,2.039904 C62.9606138,3.057804 62.1267215,3.882924 61.0979997,3.882924" id="Fill-18" fill="white" mask="url(#mask-6)"></path>
                </g>
            </svg>
          </div>
          <div class="subtitle">
            Manage Notifications
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="bottom">
    <% include ../../public/icons/logo.svg %>
    <% include ../../public/icons/logotext.svg %>

    <div class="number">
      <i class="fa fa-mobile" ></i> 
      text (385) 206-6352
    </div>
  </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

<script type="text/javascript">
  c3.generate({
      data: {
        columns: [ ["Proportion of Peak", <%= ctRatio %>] ],
        type: "gauge",
      },
      color: {
        pattern: ["#f67d02", "#f6bb02", "#e8f602", "#92f602"], // Color levels for the percentage values
        threshold: { values: [30, 60, 90, 100] }
      },
      size: { height: 120, width: 200 },
      bindto: "#gaugechart"
  });
</script>


<% include ../partials/footers/footer %>
