<% include ../../partials/ownerFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_users.css">

<div class="header">
  <div class="column">name</div>
  <div class="column">email</div>
  <div class="column">class</div>
  <div class="column">position</div>
  <div class="column">department</div>
  <div class="column">added</div>
  <div class="column">edit</div>
  <div class="column"><%= hub.sel == 'active' ? 'deactivate' : 'activate' %></div>
</div>


<% if (users.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% users.forEach(function (user) { %>
  <div class="notificationRow">
    <div class="column">
      <span class="clientName">
        <%= user.last + ', ' + user.first %> <%= user.middle %> 
      </span>
    </div>
    <div class="column">
      <%= user.email %>
    </div>
    <div class="column">
      <%= user.class.charAt(0).toUpperCase() + user.class.slice(1) %>
    </div>
    <div class="column">
      <%= user.position %>
    </div>
    <div class="column">
      <%= user.department ? user.department : 'No department' %>
    </div>
    <div class="column">
      <span class="time">
        <%= moment.tz(user.created, local_tz).format('MMM. Do, YYYY hh:mmA') %>
      </span>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <a href="/v4/users/<%=user.cmid%>/owner/departments/edit/<%=user.department_id%>">
          <i class="fa highlight fa-pencil" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <% if (hub.sel == "active") { %>
        <a href="/v4/users/<%=user.cmid%>/owner/departments/deactivate/<%=user.department_id%>">
          <i class="fa highlight fa-book" aria-hidden="true"></i>
        </a>
      <% } else { %>
        <a href="/v4/users/<%=user.cmid%>/owner/departments/activate/<%=user.department_id%>">
          <i class="fa highlight fa-undo" aria-hidden="true"></i>
        </a>
      <% } %>
    </div>
  </div>
<% }) %>


<% include ../../partials/hubFrameBottom %>