<% include ../partials/headers/header-base %>
<% include ../partials/headers/header-navbar %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/card.css">

<% var caseManagerAttributes = Object.keys(caseManager) %>

<div class="contents" style="color: #2F8CE8">

  <% for (var i = 0; i < caseManagerAttributes.length; i++) { %>
    <div>
      <b><%= caseManagerAttributes[i] %>:</b>
      <%= caseManager[caseManagerAttributes[i]] %>
    </div>
  <% } %>

  <hr>
  
  <form method="post" action="/accounts/orgs/<%= orgID %>/cms/<%= caseManager.cmid %>/setpassword">
    <b>Set New Password</b>
    <input class="form-input" type="password" name="password" value="" required>
    <input type="submit" value="Submits">
  </form>

  <hr>
  
  <a href="/accounts/orgs/<%= orgID %>/cms/<%= caseManager.cmid %>/ghostlogin">
    <button>Login as this person</button>
  </a>

</div>

<% include ../partials/footers/footer %>
