<% include ../../partials/clientHubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientCommunications.css">

<div class="header">
  <div class="column">name</div>
  <div class="column">details</div>
  <div class="column">type</div>
  <div class="column">use count</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% if (communications.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% communications.forEach(function (c) { %>
  <div class="communicationRow">
    <div class="column">
      <span class="name"><%= c.name %></span>
    </div>
    <div class="column"><%= c.value %></div>
    <div class="column"><%= c.type %></div>
    <div class="column"><span class="bigNumber"><%= c.useCount %></span></div>
    <div class="column">-</div>
    <div class="column">
      <a href="<%=`/clients/${client.clid}/communications/${c.commconnid}/remove`%>">
        <i class="fa highlight fa-trash" aria-hidden="true"></i>
      </a>
    </div>
  </div>
<% }) %>

<% include ../../partials/hubFrameBottom %>