<% include ../../partials/clientHubFrameTop %>

<!-- Load in addition CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/v4_clientNotifications.css">

<div class="header">
  <div class="column">send at</div>
  <div class="column">via</div>
  <div class="column">message</div>
  <div class="column">created by</div>
  <div class="column">edit</div>
  <div class="column">delete</div>
</div>


<% if (notifications.length == 0) { %>
  <% include ../../partials/emptyResultsGreeting %>
<% } %>


<% notifications.forEach(function (n) { %>
  <div class="notificationRow">
    <div class="column">
      <span class="time">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= moment.tz(n.send, organization.tz).format('MMM. Do, hh:mm A') %>
      </span>
    </div>
    <div class="column">
      <%= n.communication_name ? n.communication_name : 'SmartSend' %>
    </div>
    <div class="column">
      <span class="subject">
        <%= n.subject %>
      </span>
      <span class="message">
        <%= n.message.length > 210 ? n.message.substr(0,210) + '...' : n.message %>
      </span>
    </div>
    <div class="column">
      <% if (n.creator_id == user.cmid) { %>
        You
      <% } else { %>
          <%= n.creator_first + ' ' + n.creator_last %>
      <% } %>
    </div>
    <div class="column">
      <% if (hub.sel == "pending") { %>
        <a href="<%=`/clients/${client.clid}/notifications/${n.notificationid}/edit`%>">
          <i class="fa highlight fa-pencil" aria-hidden="true"></i>
        </a>
      <% } else { %>-<% } %>
    </div>
    <div class="column">
      <a href="<%=`/clients/${client.clid}/notifications/${n.notificationid}/remove`%>">
        <i class="fa highlight fa-trash" aria-hidden="true"></i>
      </a>
    </div>
  </div>
<% }) %>

<% include ../../partials/hubFrameBottom %>