<% include ../../../partials/headers/header-base %>

<!-- Include Card View specific styling -->
<link rel="stylesheet" type="text/css" href="/static/css/cardV2.css">

<div class="contents">

<!-- Moved the exit out of the card -->

<div class="card">

  <div class="card-head">

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>">
      <% include ../../../partials/card-exitV2 %>
    </a>

    <div class="card-title">
      Select a Templated Message
    </div>

    <div class="card-subtitle">
      
    </div>

  </div>

  <div class="card-body">

    <div class="template-box">
      <% for (var i=0; i < templates.length; i++) { %>
        <div class="template-row <% if (i == 2) { %> selected <% } %>">
          
          <div class="use-count">
            <%= templates[i].times_used %>
          </div>

          <div class="template-content">
            <div class="title-text">
              <%= templates[i].title %>
            </div>
            <div class="content">
              <%= templates[i].content %>
            </div>
            <div class="tags">
              Fellow | Work | Reminder | Friendly
            </div>
          </div>
        </div>
      <% } %>
    </div>

    <a href="/cms/<%= user.cmid %>/cls/<%= client.clid %>/convos/new/craftmessage">
      <button class="form-submit fixed-width">
        Select Template
      </button>
    </a>

  </div>

</div>

</div>

<% include ../../../partials/footers/footer %>
