<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/v4/users/<%=user.cmid%>/primary/clients/open">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Quick Message
  </div>
  <div class="cardSubtitle">
    Send a quick message to <%= client.name %>.
  </div>
</div>

<div class="cardBody">
  
  <div class="formRow">
    <a href="/v4/users/<%=user.cmid%>/primary/address/<%= client.clid %>/selecttemplate">
      <input type="submit" id="useTemplate" class="formSubmit inverse" value="Load a template">
    </a>
  </div>

  <form method="post"
        action="/v4/users/<%=user.cmid%>/primary/notifications/create/sendto/<%= parameters.clientID %>/via/<%= parameters.commID %>/on/<%= parameters.sendDate %>/at/<%= parameters.sendHour %>">
    <div class="formRow <% if (!parameters.subject) { %>subdued<% } %>">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= parameters.subject %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="message" rows="5" maxlength="160" required><%= parameters.message %></textarea>
      </div>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit Notification Message">
  </form>

</div>


<script type="text/javascript">
  $(".subdued").click(function () {
    $(this).removeClass("subdued");
    $("input[name=subject]").val("");
  });
</script>



<% include ../../partials/cardFrameBottom %>