<% let currentTime = moment(); %>
<% include ../partials/hubFrameTop %>

<link rel="stylesheet" type="text/css" href="/static/css/captureboard.css">

<div class="description">
  <div class="title">
  <i class="fa fa-question-circle" aria-hidden="true"></i>
    What is the purpose of the conversation capture board?
  </div>
  <div class="content">
    Clients can call in with new numbers to the system. The system tries to determine whether or not the contact method is attributed to a client already. If it is not, it does it's best to prompt the user to give us the correct information. If it cannot determine who the user is, it sends the conversation to the capture board.
  </div>
</div>


<% if (conversations.length == 0) { %><% include ../partials/emptyResultsGreeting %><% } %>

<% conversations.forEach(function (convo) { %>
  <div class="convoBlock">

    <div class="actionBox">
      
      <a href="/org/captured/attach/<%= convo.convo %>">
        <div class="claimButton">
          <i class="fa fa-user-plus"></i>
          Attach Conversation to Client
        </div>
      </a>
      
      <div class="tinyInfo">
        <div class="blurb">
          <div class="header">
            Last contact
          </div>
          <div class="value">
            <% let timeSince = moment(convo.msgs[convo.msgs.length - 1].created); %>
            <%= moment.duration(currentTime.diff(timeSince)).humanize() %>
            ago
          </div>
        </div>
        <div class="blurb">
          <div class="header">
            Conversation length
          </div>
          <div class="value">
            <%= convo.msgs.length %>
            messages long
          </div>
        </div>
      </div>
      
      <div class="tinyInfo">
        <div class="blurb">
          <div class="header">
            Messages from
          </div>
          <div class="value">
            <%= convo.msgs[0].value %>
            (<%= convo.msgs[0].type %>)
          </div>
        </div>
        <div class="blurb">
          <div class="header">
            Messages sent to
          </div>
          <div class="value">
            <%= convo.msgs[0].sent_to %>
          </div>
        </div>
      </div>

      <div class="closeButton">
        <div class="left">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Please be careful! Removing a message is a permanent action.
        </div>
        <div class="right">
          <a href="/org/captured/remove/<%= convo.convo %>">
            Delete
          </a>
        </div>
      </div>
    </div>

    <div class="convoStream">
      <a href="/org/captured/respond/<%= convo.convo %>">
        <div class="respondIcon">
          <i class="fa fa-comment"></i>
        </div>
      </a>

      <% convo.msgs.forEach(function (ea, i) { %>
        <div class="convoRow">
        
          <div class="msgInbound">
            <% if (ea.inbound) { %>
              <div class="message">
                <%= ea.content %>
              </div>
            <% } %>
          </div>
          <div class="msgOutbound">
            <% if (!ea.inbound) { %>
              <div class="message">
                <%= ea.content %>
              </div>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>

  </div>
<% }) %>

<% include ../partials/hubFrameBottom %>