<% include ./partials/cardFrameTop %>

<div class="cardHead">
  <a href="<%=`${level === "org" ? "/org/clients" : "/clients"}`%>"><% include ./partials/cardExit %></a>
  <div class="cardTitle">
    Manage Your Settings
  </div>
  <div class="cardSubtitle">
    Use this page to update your account information, as well as to set preferences and default aspects of your ClientComm experience.
  </div>
</div>

<div class="cardBody">
  <form method="post">

    <div class="formRow">
      <div class="formLabel"> First </div>
      <div class="formInput">
        <input type="text" name="first" value="<%=user.first%>" required>
      </div>
    </div>

    <div class="formRow <%if (!user.middle) {%>subdued<%}%>">
      <div class="formLabel"> Middle <span class="opt">optional</span> </div>
      <div class="formInput">
        <input type="text" name="middle" value="<%=user.middle%>">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Last </div>
      <div class="formInput">
        <input type="text" name="last" value="<%=user.last%>" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Email </div>
      <div class="formInput">
        <input type="email" name="email" value="<%=user.email%>" required>
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Email alerts frequency </div>
      <div class="formInput">
        Alerts are currently set to every 
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <b><%=user.email_alert_frequency%></b>
        hours.
      </div>
      <div class="formInput">
        <input type="radio" value="24" name="alertFrequency" <%if (user.email_alert_frequency == 24) {%>checked<%}%>>
        Daily
      </div>
      <div class="formInput">
        <input type="radio" value="48" name="alertFrequency" <%if (user.email_alert_frequency == 48) {%>checked<%}%>>
        Every other day
      </div>
      <div class="formInput">
        <input type="radio" value="168" name="alertFrequency" <%if (user.email_alert_frequency == 168) {%>checked<%}%>>
        Weekly
      </div>
      <div class="formInput">
        <input type="radio" value="null" name="alertFrequency" <%if (user.email_alert_frequency == null) {%>checked<%}%>>
        Never
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">
        Beep Noise on New Alerts
      </div>

      <div class="formInput">
        <input type="checkbox" name="alertBeep" value="true" <%if (user.alert_beep) {%>checked<%}%>> Check to toggle beep on/off
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">
        Allow automated notifications for your clients
      </div>

      <div class="formInput">
        <input type="radio" value="all" name="toggleAutoNotify">
        All clients on
      </div>
      <div class="formInput">
        <input type="radio" value="none" name="toggleAutoNotify">
        All clients off
      </div>
      <div class="formInput">
        <input type="radio" value="ignore" name="toggleAutoNotify" checked>
        Leave as is
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel">
        Away message status
      </div>

      <div class="formInput">
        <textarea name="awayMessage" rows="5" maxlength="320" required><%=user.away_message-%></textarea>
      </div>

      <div class="formInput">
        <input type="checkbox" name="isAway" value="true" <%if (user.is_away) {%>checked<%}%>> Check to toggle away message on/off
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Account </div>
      <div class="formInput"> 
        Your have a(n) 
        <i class="fa fa-user" aria-hidden="true"></i>
        <b><%=user.class%> </b>
        account. Changes to this account's status must be made by another administrator.
      </div>
    </div>

    <input type="submit" class="formSubmit padTop" value="Update">

  </form>
</div>

<script type="text/javascript" class="JSuserSettings"></script>

<% include ./partials/cardFrameBottom %>