<!DOCTYPE HTML>
<html lang="en">

  <head>

    <!-- Invoke New Relic before all else -->
    <% if (newrelic !== null) { %>
      <%- newrelic.getBrowserTimingHeader() %>
    <% } %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ClientComm</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>

  
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/modules/font-awesome/css/font-awesome.min.css">

  <style type="text/css">
    body {
      background-color: white;
      font-family: Raleway, Arial, sans-serif;
      color: #34438A;
      padding: 0px;
      margin: 0px;
      text-align: center;
    }

    .block {
      padding: 10px;
      text-align: center;
      font-size: 18px;
      min-height: 32px;
      line-height: 32px;
    }

    .grey {
      background-color: #E5E5E5;
    }

    .left {
      float: left;
      font-size: 12px;
    }

    .right {
      float: right;
      border-radius: 4px;
      padding: 5px;
      background-color: red;
      padding: 0px 20px 0px 20px;
      background-color: #32A2DB;
      color: #FFF;
      cursor: pointer;
    }

    .signup:hover, .right:hover {
      background-color: #34438A;
    }

    .icon {
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      width: 170px;
    }

    .icon path {
      fill: #34438A;
    }

    .icon .logo {
      border-radius: 100%;
      padding: 10px;
      margin-bottom: -30px;
      padding-bottom: 0px;
    }

    .circle {
      width: 500px;
      height: 500px;
      border-radius: 100%;
    }
    .circle.opened {
      transform: scale(1);
    }

    .inside {
      max-width: 1050px;
      margin-left: auto;
      margin-right: auto;
    }

    .signup { 
      width: 410px;
      height: 35px;
      padding: 1px 10px 2px 4px;
      background-color: #32A2DB;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      margin-top: 50px;
    }

    .signup input {
      display: inline;
      height: 20px;
      line-height: 20px;
      width: 290px;
      padding: 5px;
      margin: 0px 0px 0px 0px;
      border: 0px solid #999;
    }

    @media only screen and (max-width: 510px) {
      .topEmailOption {
        display: none;
      }
      .signup {
        width: 320px;
      }
      .signup input {
        width: 200px;
      }
    }

    .signup .button {
      display: inline;
      line-height: 24px;
      font-size: 18px;
      padding: 5px 20px 5px 20px;
      margin: 0px 0px 0px 0px;
      color: #FFF;
      cursor: pointer;
    }

    .bottom {
      width: 750px;
      padding-top: 25px;
      font-size: 12px;
      min-height: 75px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
    }

    .bottomBlock {
      float: left;
      width: 250px;
      line-height: 18px;
    }

    @media only screen and (max-width: 920px) {
      .bottom {
        width: 100%;
        min-height: 225px;
      }
      .bottomBlock {
        clear: both;
        width: 100%;
      }
    }

    .bottomBlock .name {
      font-weight: 600;
      margin-top: 20px;
    }

    .bottomBlock .link {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 5px;
      display: block;
      padding: 8px;
      border-radius: 4px;
      background-color: #898989;
      color: #FFF;
      
    }

    .bottomBlock a:hover, .bottomBlock a:visited, .bottomBlock a:link, .bottomBlock a:active {
      text-decoration: none;
      color: #FFF;
    }

    .featureBox {
      display: block; 
      clear: both; 
      position: relative; 
      min-height: 150px; 
      color: #34438A; 
      padding-bottom: 50px
    }

    @media only screen and (max-width: 510px) {
      .featureBox {
        min-height: 1050px; 
      }
    }

    .feature {
      width: 20%; 
      float: left; 
      text-align: center;
    }

    .featureSubTitle {
      line-height: 18px; 
      font-size: 14px; 
      color: #32A2DB; 
      padding: 2px 15px 2px 15px;
    }

    @media only screen and (max-width: 775px) {
      .featureSubTitle {
        /*display: none;*/
      }
    }

    @media only screen and (max-width: 510px) {
      .feature {
        clear:both;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
      }
      .featureSubTitle {
        /*display: none;*/
        margin-bottom: 20px;
      }
      .c3-axis-x .tick {
         display: none;
      }
    }

    .circleImg {
      background-color: #FFF;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
    }

    .circleImg img {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 7%;
    }

    .pilotStatsBlock {
      display: block; 
      clear: both; 
      position: relative; 
      height: 150px; 
      color: #898989
    }

    .pilotStat {
      width: 33%; 
      float: left; 
      text-align: center;
    }

    @media only screen and (max-width: 920px) {
      .pilotStatsBlock {
        height: 450px;
      }
      .pilotStat {
        clear: both;
        width: 100%;
        margin-bottom: 35px;
      }
    }    

    .statsLinkBtnTop a:hover, .statsLinkBtnTop a:visited, .statsLinkBtnTop a:link, .statsLinkBtnTop a:active {
      text-decoration: none;
      color: #FFF;
    }

    .statsLinkBtn {
      padding: 10px 20px 10px 20px;
      background-color: #00cf0e;
      color: #fff;
      display: inline;
      border-radius: 4px;
    }

    .statsLinkBtn:hover {
      background-color: #00a10b;
    }

  </style>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">

  <body>

    <div class="block grey">
      <div class="inside">
        <span class="left topEmailOption">
          Email the team at 
          <a href="mailto:slco@codeforamerica.org?Subject=NAPSA%20Interest">
            slco@codeforamerica.org
          </a>
        </span>
        <a href="https://secure.clientcomm.org/login">
          <span class="right">Login</span>
        </a>
      </div>
    </div>

    <div class="block" style="overflow: hidden">
      <div class="inside" style="padding-top: 20px; padding-bottom: 90px; box-shadow: 0 0 250px 5px rgba(255, 255, 255, 0.55); background-color: rgba(255, 255, 255, 0.55); border-radius: 100%">
        <div class="icon">
          <div class="logo"><% include ../../public/icons/logo.svg %></div>
          <br>
          <% include ../../public/icons/logotext.svg %>
        </div>

        <br>
        
        <div style="font-size: 20px">
          <b>ClientComm</b>  makes it quick and easy to communicate with clients and document client supervision. 
        </div>
        <div style="font-size: 16px">
          Use ClientComm to help clients navigate their requirements and graduate from pretrial or probation <b>successfully</b>.
        </div>

        <div class="signup">

          <div id="emailSignUpBlock">
            <input type="email" value="" placeholder="Enter your email address for project updates" id="newEmailAddress">
            <div class="button" onclick="emailSubmit()">
              Sign Up
            </div>
          </div>

          <center id="emailSignUpBlockSuccess" style="line-height: 36px; font-weight: 700; color: #FFF; display: none">
            Thanks for your interest!
          </center>
          
        </div>

      </div>
    </div>

    <div class="block grey">
      <div class="inside" style="margin-top: 30px; margin-bottom: 50px;">

      <center style="font-size: 28px; padding: 20px; margin-bottom: 30px; font-weight: 700">
        ClientComm Features
      </center>

      <div class="featureBox">

        <div class="feature">
          <span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <div class="circleImg">
              <img src="/static/icons/png/telephone.png"></img>
            </div>
          </span>
          <center><b>End Phone Tag</b></center>
          <center class="featureSubTitle">
            Communicate at your convenience and produce detailed conversation logs automatically.
          </center>
        </div>

        <div class="feature">
          <span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <div class="circleImg">
              <img src="/static/icons/png/padlock-1.png"></img>
            </div>
          </span>
          <center><b>Security</b></center>
          <center class="featureSubTitle">
            ClientComm’s data is designed to comply with Salt Lake County's digital communications policies.
          </center>
        </div>

        <div class="feature">
          <span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <div class="circleImg">
              <img src="/static/icons/png/alarm-clock.png"></img>
            </div>
          </span>
          <center><b>Notifications</b></center>
          <center class="featureSubTitle">
            Schedule messages for appointments, court dates, and personal goals in advance.
          </center>
        </div>

        <div class="feature">
          <span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <div class="circleImg">
              <img src="/static/icons/png/user-list.png"></img>
            </div>
          </span>
          <center><b>Smart Send</b></center>
          <center class="featureSubTitle">
            Communication methods are monitored to infer the best contact method for each client.
          </center>
        </div>

        <div class="feature">
          <span style="font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <div class="circleImg">
              <img src="/static/icons/png/interface.png"></img>
            </div>
          </span>
          <center><b>Templates</b></center>
          <center class="featureSubTitle">
            Common messages and phrases are stored for quick acess and communication.
          </center>
        </div>

      </div>

      </div>
    </div>

    <div class="block">
      <div class="inside" style="margin-top: 30px; margin-bottom: 50px;">

      <center style="font-size: 28px; padding: 20px; padding-bottom: 5px; font-weight: 700">
        ClientComm pilot usage data
      </center>
      <center style="font-size: 14px; padding: 0px; margin-bottom: 25px;">
        Salt Lake County Criminal Justice Services 
      </center>

      <div class="pilotStatsBlock">
        <div class="pilotStat">
          <span style="font-family: Arial, Sans-Serif; font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <%= overall.msgs %>
          </span>
          <center>Sent Messages</center>
        </div>

        <div class="pilotStat">
          <span style="font-family: Arial, Sans-Serif; font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <%= overall.convos %>
          </span>
          <center>Live Conversations</center>
        </div>

        <div class="pilotStat">
          <span style="font-family: Arial, Sans-Serif; font-size: 100px; font-weight: 700; color: #344289; line-height: 95px;">
            <%= overall.clients %>
          </span>
          <center>Currently Active Clients</center>
        </div>
      </div>

      <div class="chart1"><div id="chart-overall"></div></div>
      <center style="margin-top: 2px; color: #898989; font-size: 18px">Cumulative Usage Growth</center>

      </div>
    </div>

    <div class="block grey">
      <div class="bottom">

        <div class="bottomBlock">
          <div class="name">Weekly Blog</div>
          <a href="http://c4a-slc.tumblr.com">
            <div class="link">
              c4a-slc.tumblr.com
            </div>
          </a>
        </div>

        <div class="bottomBlock">
          <div class="name">Research Process</div>
          <a href="http://slco-2016.github.io/q1_report/">
            <div class="link">
              c4a.me/slco-alpha
            </div>
          </a>
        </div>

        <div class="bottomBlock">
          <div class="name">Development Processs</div>
          <a href="http://slco-2016.github.io/beta_report">
            <div class="link">
              c4a.me/slco-beta
            </div>
          </a>
        </div>

      </div>

      <div style="padding-top: 25px">
      <center style="color: #888; font-size: 12px; line-height: 14px">
        A 2016 Fellowship project by <a href="http://archive.codeforamerica.org/governments/2016-announcement/">Code for America Fellows</a> Kuan Butts, Ben Peterson. <a href="http://codeforamerica.org">Code for America</a> Labs, Inc. is a non-partisan, non-political 501(c)(3) charitable organization.
      </center>
      </div>
    </div>


  </body>
  <script src="/modules/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

  <script type="text/javascript">
   

  window.msgs = "<%= JSON.stringify(msgs) %>";
  window.msgsReduced = null;

  function reduceAllMsgHistories (msgs) {
    // Object to be returned
    var dates = {};

    // Iterate through list of cms's msgs history
    Object.keys(msgs).forEach(function (cm) {
      for (var i = 0; i < msgs[cm].dates.length; i++) {
        var d = msgs[cm].dates[i];
        d = d.split('-');
        d[1] = Number(d[1]);
        if (d[1] < 10) {
          d[1] = "0" + String(d[1]);
        }
        d[2] = Number(d[2]);
        if (d[2] < 10) {
          d[2] = "0" + String(d[2]);
        }
        d = d.join('-');
        var v = msgs[cm].vals[i];
        if (!dates[d]) { dates[d] = 0; }
        dates[d] += Number(v);
      }
    });

    // Add today if it does not exist
    // TO DO: Weigh merits of this existing, primarily for dev environ
    var d = new Date();
    var month = d.getMonth()+1;
    if (month < 10) {
      month = "0" + String(month);
    }
    var day = d.getDate();
    if (day < 10) {
      day = "0" + String(day);
    }
    var today = [d.getFullYear(), month, day].join("-");
    if (!dates[today]) { dates[today] = 0; }

    return dates;
  };

  // Top big chart that combines all msg histories
  function makeTopOrgWideChart (dates) {
    var keys = Object.keys(dates).sort(function (a,b) { return new Date(a) - new Date(b); });
    var vals = keys.map(function (k) { return dates[k]; })

    for (var i=1; i < vals.length; i++) {
      vals[i] += vals[i-1];
    }

    var tempW = Math.min(830, $(window).width()*0.85);
    var tempH = Math.floor(730/830*tempW);

    c3.generate({
      data: { 
        x: "x", 
        columns: [["x"].concat(keys), ["Messaging Since Inception"].concat(vals)], 
        color: function (color, d) { return "#4BAEFF"; },
        types: {"Messaging Since Inception": "area"}
      },
      legend: { hide: true },
      axis: { 
        x: { 
          type: "timeseries", 
          tick: { 
            format: "%m/%d",
          } 
        } 
      },
      size: { width: tempW, height: tempH },
      point: { show: false },
      grid: { y: { show: false }, x: { show: false } },
      bindto: "#chart-overall"
    });
  };


  // PAGE LOAD ACTIONS RELATED TO EJS VAR STRING INCLUSION
  // Attempt first to parse content
  try {
    // Clean up EJS string output
    msgs = JSON.parse(msgs.replace(/&#34;/g, '"'));
    msgsReduced = reduceAllMsgHistories(msgs);
    makeTopOrgWideChart(msgsReduced);

  // If parse fails, we don't execute any of the chart drawing
  } catch (e) { console.log(e) }

  // SIGN UP
  // Keen.io
  !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.4.1/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);

  // Keen.io tracking operations
  function createKeenClient () {
    var client = new Keen({
      projectId: "5750a91433e4063ccd5b6c7e",
      writeKey: "57bd2513349615cb4f61859fbecf3252d67cf5820f085ce7788892b314cc9399e2bfdc084c3b5f5c60712c4c48143e7f31a9eb9e78c0955228e3cf08304bb64fa4e725862dfee3ceb3bb3298600faa954e487950dbe49b2c353167d4ceaa785f"
    });
    return client;
  };


  function emailSubmit () {
    var em = $("#newEmailAddress").val();
    if (em) {
      var keenRef = {
        referrer: document.referrer,
        URL:      document.URL,
        interestEmail: em,
        keen: { timestamp: new Date().toISOString() }
      }
      createKeenClient().addEvent("emailinterest", keenRef, function (err, res) { 
        if (err) { 
          console.log(err); 
        } else {
          emailSubmitAnimation(); // Once submit is done run this animation
        }
      });
      
    } else {
      console.log("No email provided...");
    }
  }



  function emailSubmitAnimation () {
    $("#emailSignUpBlock").fadeOut(function () {
      $("#emailSignUpBlockSuccess").fadeIn(function () {
        setTimeout(function () { $("#emailSignUpBlockSuccess").fadeOut(function () {
          $("#newEmailAddress").val("");
          $("#emailSignUpBlock").fadeIn();
        }) }, 2000)
      });
    });
  }


  </script>
</html>
    
    


