<% const baseURL = `/orgs/${parameters.orgID}/users/${parameters.userID}/supervisor/department/${parameters.departmentID}`%>

<% include ../../partials/cardFrameTop %>

<!-- color picker -->
<script src="/static/js/jscolor.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/v4_colorSelector.css">

<div class="cardHead">
  <!-- exit button -->
  <a href="<%=`/clients`%>">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Client Color Tag
  </div>
  <div class="cardSubtitle">
    Use color tags to help organize clients on the main clients view page.
  </div>
</div>

<div class="cardBody">


  <div class="coloredClientFrame">
    <div  class="clientNameBox" 
          style="background-color:<%=client.color_tag%>">
      <%= client.first + ' ' + client.last %>
    </div>
    <div class="clientColorNameSelected">
      <%= client.color_name %>
    </div>
  </div>

  <div class="formRow">
    <div class="formLabel"> <%= client.first + "'s" %> color has been set by their case manager. </div>
  </div>


  <a href="<%=`/clients`%>">
    <input  type="submit" 
            class="formSubmit" 
            value="Back">
  </a>

</div>


<script type="text/javascript">
  $(".colorList").click(function () {
    var colorTag = $(this).find(".colorTag");
    var colorTagID = colorTag.attr("colorTagID");
    var colorTagColor = colorTag.css("background-color");
    var colorTagName = colorTag.attr("colorTagName");

    // update selected value
    $("#chosenColorTagID").val(colorTagID);

    // update color and name on the block
    $(".clientNameBox").css("background-color", colorTagColor);
    $(".clientColorNameSelected").text(colorTagName)
  });
</script>



<% include ../../partials/cardFrameBottom %>