<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/v4/users/<%=user.cmid%>/primary/groups">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Create Group
  </div>
  <div class="cardSubtitle">
    Use groups to organize client populations.
  </div>
</div>

<div class="cardBody">

  <form method = "post"
        action = "/v4/users/<%=user.cmid%>/primary/groups/create">

    <div class="formRow">
      <div class="formLabel"> Name of group </div>
      <div class="formInput">
        <input  type="text" 
                name="name" 
                value="" 
                maxlength="100">
      </div>
    </div>

    <div class="scrollListBox">
      <% clients.forEach(function (client) { %>
        <div class="scrollListRow" templateID="<%= client.clid %>">

          <div class="colorTag">
            <div class="tag" style="background-color:<%=client.color_tag%>"></div>
          </div>

          <div class="scrollListContent">
            <div class="clientName">
              <%= client.last + ', ' + client.first + ' ' + client.middle %>
            </div>
          </div>
        </div>
      <% }) %>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Save Group">
  </form>
</div>



<script type="text/javascript">
</script>

<% include ../../partials/cardFrameBottom %>