<% include ../../partials/cardFrameTop %>

<div class="cardHead">
  <!-- exit button -->
  <a href="/v4/users/<%=user.cmid%>/primary/notifications">
    <% include ../../partials/cardExit %>
  </a>
  <div class="cardTitle">
    Notification Message
  </div>
  <div class="cardSubtitle">
    Use notifications to schedule messages to be sent in the future.
  </div>
</div>

<div class="cardBody">
  
  <div class="formRow">
    <a href="/v4/users/<%=user.cmid%>/primary/notifications/create/sendto/<%= parameters.clientID %>/via/<%= parameters.commID %>/on/<%= parameters.sendDate %>/at/<%= parameters.sendHour %>/selecttemplate">
      <input type="submit" id="useTemplate" class="formSubmit inverse" value="Load a template">
    <a href="">
  </div>

  <form method="post"
        action="/v4/users/<%=user.cmid%>/primary/notifications/create/sendto/<%= parameters.clientID %>/via/<%= parameters.commID %>/on/<%= parameters.sendDate %>/at/<%= parameters.sendHour %>">
    <div class="formRow <% if (!parameters.subject) { %>subdued<% } %>">
      <div class="formLabel"> Subject <small>(optional, not visible to clients)</small></div>
      <div class="formInput">
        <input  type="text" 
                name="subject" 
                value="<%= parameters.subject %>" 
                placeholder="Enter a subject for the notification here" 
                maxlength="100">
      </div>
    </div>

    <div class="formRow">
      <div class="formLabel"> Message Body </div>
      <div class="formInput">
        <textarea name="message" rows="5" maxlength="160" required><%= parameters.message %></textarea>
      </div>
    </div>

    <input  type="submit" 
            class="formSubmit" 
            value="Submit Notification Message">
  </form>

</div>


<script type="text/javascript">
  $(".subdued").click(function () {
    $(this).removeClass("subdued");
    $("input[name=subject]").val("");
  });

  $("#useTemplate").click(function () {

  })
</script>



<% include ../../partials/cardFrameBottom %>